<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料"/>
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/member.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/css/front/new_join.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/member_comm.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/balance.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/deal.css"/>
<title>交易详情--万花筒</title>
</head>
<body>
	<include file="public:mhead" />
	<div class="inner">
		<div class="deal_header">
			<p>您的位置：</p>
			<a href="<{:U('Merchant/merchant')}>">商家中心 <span>></span></a>
			<a href="#">订单详情 <span>></span></a>
		</div>
		<div class="deal_content">
			<ul class="schedule">
				<li class="current">1. 买家下单</li>
				<li class="current">2. 买家付款</li>
				<if condition="$info[state] eq 2">
                    <li class="current">3.  发货</li>
                <elseif condition="$info[state] eq 3" /> 
                    <li>3. 发货</li>
                </if>
				<if condition="$info[state] eq 4">
					<li class="current">4. 买家确认收货</li>
				<else />
					<li >4. 买家确认收货</li>
				</if>
			</ul>
			<div class="order_information">
				<div class="order_info">
					<h3>订单信息</h3>
					<ul style="height: 224px;">
						<li>
							<p>订单编号：</p><span><{$info['order_num']}></span>
						</li>
						<li>
							<p>下单时间：</p><span><{:date('Y-m-d H:i:s',$info['buytime'])}></span>
						</li>
						<li>
							<?php if($address['express_time']){?>
								<p>发货时间：</p><span><{:date('Y-m-d H:i:s',$address['express_time'])}></span>
							<?php }else{?>
								<p>发货时间：</p><span>未发货</span>
							<?php }?>
						</li>
						<li>
							<?php if($address['express_user']){?>
								<p>收货地址：</p><span><{$address['express_user']}></span>
							<?php }else{?>
								<p>收货地址：</p><span>未发货</span>
							<?php }?>
						</li>
					</ul>
				</div>
				<div class="state">
					<img src="__PUBLIC__/Home/static/new/img/images/zhuangtai.png" alt="" />
					<if condition="$info[state] eq 2">
	                    <h3>订单状态：已发货,等待买家确认</h3>
	                <elseif condition="$info[state] eq 3" /> 
	                    <h3>订单状态：买家已付款，等待发货</h3>
	                    <p>
							您可以 , <a href="<{:U('Merchant/send_list_new',['order'=>$info['order_id']])}>">发货</a>
						</p>
	                </if>
					
					
				</div>
			</div>
			<div class="table">
				<table>
					<tr>
						<th>商品</th>
						<th>可用金</th>
						<th>消费币</th>
						<th>数量</th>
						<th>状态</th>
					</tr>
					<tr>

						<td style="width:600px;">
							<a style="width:400px;" href="<{:U('Good/goodlist',['id'=>$info['id']])}>" target="_blank">
							<img src="__ROOT__/Uploads<{$info.goods_logo}>" alt="">
							<{$info['goods_title']}></a>
						</td>

						<td>
							<{$info['price']}>
						</td>
						<td>
							<{$info['xfb']}>
						</td>
						<td>
							<{$info['buynum']}>
						</td>
						<td>
							<if condition="$info[state] eq 2">
			                    已发货
			                <elseif condition="$info[state] eq 3" /> 
			                    未发货
			                </if>
						</td>
					</tr>
				</table>
			</div>
			<div class="product_info">
				<ul>
					<li>
						<p>商品总价：</p>
						<span>￥<{$info['sumpay']}></span>
					</li>
					<li>
						<p>运费（快递）：</p>
						<span>￥0.00</span>
					</li>
					<li>
						<h3>订单总价：</h3>
						<i>￥<{$info['sumpay']}></i>
					</li>
					<li>
						<h3>实付款：</h3>
						<em>￥<{$info['sumpay']}></em>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<include file="public:pfoot" />
<script type="text/javascript" src="__PUBLIC__/Home/static/js/jquery-1.11.3.js"></script>
<script>
var hei=window.innerHeight-164;
$('.inner').css('height',hei+'px');
</script>
</body>
</html>