<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料"/>
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/member.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/css/front/new_join.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/member_comm.css"/>
<style>
  .c_out_a i, .c_first_out_a i {
    background: rgba(0, 0, 0, 0) url("/Public/Home/static/new/img/icon/member_comm/left_icon.png") no-repeat scroll 0 0;
  }
  .c_personage_data {
    background: rgba(0, 0, 0, 0) url("/Public/Home/static/new/img/icon/member_comm/icon2.png") no-repeat scroll center top;
  }
  .c_login_code {
    background: rgba(0, 0, 0, 0) url("/Public/Home/static/new/img/icon/member_comm/icon3.png") no-repeat scroll center top;
  }
  .c_real_name {
    background: rgba(0, 0, 0, 0) url("/Public/Home/static/new/img/icon/member_comm/icon4.png") no-repeat scroll center top;
  }
  .c_investor_ul li{font-size: 12px;}
  .c_investor_ul li span{font-size: 12px;}
  .c_investor_ul li a{font-size: 12px;}
  .c_investor_ul li input{font-size: 12px;}
  .c_investor_ul{padding-left: 10px;font-size: 12px;}
  .hhrhg{
    position: absolute;
    width: 38px;
    height: 34px;
    z-index: 1;
    left: 0px;
    top: 16px;
  }
   .c_find_way .c_newadd_color{
    background:#ddd;
    color:#333;
  }
  .yNumList ul li {
    font-size: 28px;
  }
  .search_header2 s {
    background: rgba(0, 0, 0, 0) url("/Public/Home/static/img/front/index/icon_index.png") no-repeat scroll 0 0;
  }
  .yNavIndex .yMenuIndex li {
    padding:0 0px;
  }
  /*S 2015-12-1 新增  */
  body{min-width: 1210px;}
  /*E 2015-12-1 新增  */
  .c_steps dl {
    width: 225px;
  }
  .c_set_save{
    min-height: 120px;
  }
</style>
<title>安全中心-方大商城</title>
</head>
<body>
  <!-- 引入头部 -->
  <include file="public:mhead" />
  <!-- 引入头部 -->
  <!--E 2015 11 21 -->
  <div class="b_sup_content">
    <div id="content_box" class="">
      <!-- 引入头部 -->
      <include file="public:mleft" />
      <!-- 引入头部 -->
      <div id="member_right" class="member_right">
        <ul class="b_record_title">
              <li><a href="<{:U('Merchant/infor')}>">基本信息</a></li>
              <li class="b_record_this"><a href="<{:U('Merchant/save')}>">安全中心</a></li>
        </ul>
        <div class="c_address_top c_save_top">
          保护账户安全 , 请妥善保管您的相关密码。
        </div>
        <div class="c_set_save">
          <ul class="c_set_save_box">
            <li class="c_save_password">实名认证：</li>
            <li class="c_save_tips">为了保护您的会员权益，请先实名认证</li>
            <?php if($info['stype'] == 2){?>
              <li class="c_save_state c_save_state_other">已认证</li>
            <?php }else{?>
              <li class="c_save_state">未认证</li>
            <?php }?>  
            <li class="c_save_num">--</li>
            <?php if($info['stype'] == 2){?>
              <li class="c_save_rechange"><a href="javascript:void(0);">修改</a></li>
            <?php }else{?>
              <li class="c_save_rechange"><a href="javascript:void(0);">认证</a></li>
            <?php }?>  
            <div class="c_clear"></div>
            <div id="idcardInput" class="c_rechange_password c_appear">
              <div class="c_rechange_doing redColor" style="position:relative">
                <label>当前用户：</label>
                <i id="memberId"><?php  echo $_SESSION['sj']['account']?></i>
              </div>
              <div class="c_rechange_doing">
                <label>真实姓名：</label>
                <input name="realname" type="text" id="realname" maxlength="4" />
              </div>
              <div class="c_rechange_doing">
                <label>身份证号：</label>
                <input name="idcard" type="text" id="idcard" maxlength="18"/>
              </div>
              <div class="c_rechange_doing">
                <a href="javascript:void(0);" id="updateAuthentication" class="c_rechange_ture c_success_rechange">确定</a>
              </div>
            </div>
            <div id="changeAuthenticationSuccess" class="c_rechange_password c_success">
              <div class="c_rechange_doing">
                <span>实名认证成功</span>
                <a href="javascript:idCardAuthOk();" class="c_rechange_a c_success_btn">确定</a>
              </div>
            </div>
            <!--E 实名认证 -->
          </ul>
          <ul class="c_set_save_box">
            <li class="c_save_password">登录密码：</li>
            <li class="c_save_tips">保障账户安全，建议您定期更换密码。</li>
            <li class="c_save_state c_save_state_other">已设置</li>
            <li class="c_save_num">--</li>
            <li class="c_save_rechange"><a href="javascript:void(0);">修改</a></li>
            <div class="c_clear"></div>
            <div class="c_rechange_password c_appear">
              <div class="c_rechange_doing" style="position:relative">
                <label>当前密码：</label>
                <input name="password" type="password" placeholder="当前密码" id="passwordOld" maxlength="20"/>
              </div>
              <div class="c_rechange_doing">
                <label>设置新密码：</label>
                <input name="password" type="password" placeholder="设置新密码" id="newpassword" maxlength="20" />
              </div>
              <div class="c_rechange_doing">
                <label>确认新密码：</label>
                <input name="password" type="password" placeholder="确认新密码" id="repassword" maxlength="20"/>
              </div>
              <div class="c_rechange_doing">
                <a href="javascript:void(0);" id="updatePassword" class="c_rechange_ture c_success_rechange">修改密码</a>
              </div>
            </div>
            <div id="changePasswordSuccess" class="c_rechange_password c_success">
              <div class="c_rechange_doing">
                <span>密码修改成功</span>
                <a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
              </div>
            </div>
            <!--E 修改密码 -->
          </ul>
</div>
</div>
</div>
</div>
<include file="public:pfoot" />
<script type="text/javascript" src="__PUBLIC__/Home/static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/min.js/js/include/footer_header_new.min.js"></script>
<script src="__PUBLIC__/Home/static/new/js/member_left.js"></script>
<script src="__PUBLIC__/Home/static/new/plugin/layer/layer.js"></script>
<script src="__PUBLIC__/Home/static/min.js/js/common_ajaxfunction_member_base.min.js"></script>
<script src="__PUBLIC__/Home/static/min.js/new/js/save.min.js"></script>
<script>
//绑定钱包
$("#payKeySuc").click(function(){
  var a = $("#payKeynum").val();
  if(a == '' || a == null){
    layer.tips("请填写方大商城钱包地址", "#payKeynum");
    return false;
  }
  if(a.length != 32){
    layer.tips("请填写32位钱包地址", "#payKeynum");
    return false;
  }
  var url = "<{:U('Pcenter/payKeySuc')}>";
  $.ajax({
      type: "post",
      url: url,
      dataType:'json',
      data:{
          paynum : a
      },
      success:function(data){
          if(data == 'ok'){
            $("#payInput").hide();
            $("#changePaySuccess").show();
          }else{
            layer.msg(data,{offset: '300px',time: 1500,icon: 2});
          }
      }
  });
})
function payKey(){
  window.location.reload();
}
//设置 实名认证
$("#updateAuthentication").click(function () {
    var a = $("#realname").val();
    var b = $("#idcard").val();
    var url = "<{:U('Merchant/idCardAuth')}>";
    "" == a ? layer.tips("\u8bf7\u586b\u5199\u4fe1\u606f", "#realname") : regularCheckRealName(a) ? "" == b ? layer.tips("\u8bf7\u586b\u5199\u4fe1\u606f", "#idcard") : regularCheckCardNo(b) ? $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            realname: a,
            idcard: b
        },
        success: function (a) {
            if(a == 2){
              $("#idcardInput").hide();
              $("#changeAuthenticationSuccess").show();
            }else{
              layer.msg('设置失败',{offset: '300px',time: 1500,icon: 1},function () {
                $("#idcardInput").hide();
              });
            }
        }
    }) : layer.tips("\u8eab\u4efd\u8bc1\u5e10\u53f7\u683c\u5f0f\u4e0d\u6b63\u786e", "#idcard") : layer.tips("\u8f93\u5165\u6709\u8bef\u8bf7\u91cd\u65b0\u8f93\u5165", "#realname")
});
function idCardAuthOk() {
  window.location.reload();
}
//设置登录密码
$("#passwordOld").blur(function () {
    var a = $("#passwordOld").val();
    var url = "<{:U('Merchant/checkOldPass')}>";
    "" == a ? layer.tips("\u539f\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#passwordOld") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            pass: a
        },
        success: function (a) {
            if(a == 3){
                layer.tips("\u539f\u5bc6\u7801\u9519\u8bef!", "#passwordOld");
            }
        }
    })
});
$("#newpassword").blur(function () {
    b = $(this).val();
    if("" == b){
      layer.tips("\u65b0\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#newpassword");
    }
});
$("#repassword").blur(function () {
    var a = $(this).val();
    if("" == a){
      layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#repassword");
    }else if($("#newpassword").val() != a){
      layer.tips("\u65b0\u5bc6\u7801\u4e0e\u786e\u8ba4\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#repassword");
    }
});
$("#updatePassword").click(function () {
    var url = "<{:U('Merchant/updatePass')}>";
    var  a = $("#passwordOld").val();
    var  b = $("#newpassword").val();
    var  c = $("#repassword").val();
    if(a == ''){
      layer.tips("\u539f\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#passwordOld");return false;
    }
    if(b == ''){
      layer.tips("\u65b0\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#newpassword");return false;
    }
    if(c == ''){
      layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#repassword");return false;
    }
    if(b != c){
      layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0e\u65b0\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#repassword");return false;
    }
    $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            oldPass: $("#passwordOld").val(),
            pass: $("#newpassword").val(),
            repass: $("#repassword").val(),
        },
        success: function (a) {
            if(a == 2){
                $("#passwordOld").val("");
                $("#newpassword").val("");
                $("#repassword").val("");
                $(".c_appear").hide();
                $("#changePasswordSuccess").addClass("c_appear").show();
            }else if(a==3){
                $("#newpassword").val("");
                $("#repassword").val("");
                layer.tips("\u539f\u5bc6\u7801\u9519\u8bef!", "#passwordOld");
            }else if(a == 4){
                $("#newpassword").val("");
                $("#repassword").val("");
                layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0e\u65b0\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#repassword");
            }else if(a == 5){
                layer.msg('\u5bc6\u7801\u4fee\u6539\u5931\u8d25!',{offset: '300px',time: 1500,icon: 2},function () {
                    window.location.reload();
                });
            }
        }
    })
});

//设置手机
function updateMobileOldVerifyCode(){
    var url = "<{:U('Pcenter/updateMobileOldCode')}>";
    var a = $("#mobilecode").val();
    var time=120;
    $.ajax({
        type: "post",
        url: url,
        dataType:'json',
        data:{
            mobile : a
        },
        success:function(data){
            if(data == 2){
                $("#smscode").attr("href","#");
                var t=setInterval(function  () {
                time--;
                    $("#smscode").html(time+"秒后重新获取");
                    if (time==0) {
                        clearInterval(t);
                        $("#smscode").attr("href","javascript:updateMobileOldVerifyCode();");
                        $("#smscode").html("重新获取");
                    }
                },1000) 
            }else if(data == 3){
                layer.tips("验证码发送失败，请从新发送！", '#smscode');
            }
        }
    });
}
$(".c_step1_update_mobile_valide").click(function () {
    var url = "<{:U('Pcenter/verifyOldMobileValidCode')}>";
    var a = $("#updMobileoldMvalidCode").val();
    var b = $("#mobilecode").val();
    "" == a || null == a ? layer.tips("\u9a8c\u8bc1\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#updMobileoldMvalidCode") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            mobile: b,
            validCode: a
        },
        success: function (a) {
            if(a == 2){
                $(".c_appear").hide();
                $("#updMobileNewMobileVerify").addClass("c_appear").show();
                $("#updMobileoldMvalidCode").val("");
            }else{
                layer.tips('验证码错误或已过期', "#updMobileoldMvalidCode");
            }
        }
    })
});

function updMobileGetNewMobileCode(){
    var  b = $("#newMobile").val();
    var url = "<{:U('Pcenter/updateMobileNewCode')}>";
    if ("" == b || null == b) layer.tips("\u65b0\u624b\u673a\u53f7\u4e0d\u80fd\u4e3a\u7a7a!", "#newMobile");
    else {
        var time=120;
        $.ajax({
            type: "post",
            url: url,
            dataType:'json',
            data:{
                mobile : b
            },
            success:function(data){
                if(data == 2){
                    $("#newsmscode").attr("href","#");
                    var t=setInterval(function  () {
                    time--;
                        $("#newsmscode").html(time+"秒后重新获取");
                        if (time==0) {
                            clearInterval(t);
                            $("#newsmscode").attr("href","javascript:updMobileGetNewMobileCode();");
                            $("#newsmscode").html("重新获取");
                        }
                    },1000) 
                }else if(data == 3){
                    layer.msg('修改失败!',{offset: '300px',time: 1500,icon: 2},function () {
                        window.location.reload();
                    });
                }else if(data == 4){
                    layer.tips("手机号已存在！", '#newMobile');
                }
            }
        });
    }
}
$(".c_step2").click(function () {
    var url = "<{:U('Pcenter/verifyNewMobileValidCode')}>";
    var a = $("#newMobile").val(),
        b = $("#newMvalidCode").val();
    "" == a || null == a ? layer.tips("\u65b0\u624b\u673a\u53f7\u4e0d\u80fd\u4e3a\u7a7a!", "#newMobile") : "" == b || null == b ? layer.tips("\u9a8c\u8bc1\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#newMvalidCode") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            mobile: a,
            validCode: b
        },
        success: function (a) {
            if(a == 2){
                $(".c_appear").hide();
                $("#newMobile").val("");
                $("#newMvalidCode").val("");
                layer.msg('修改成功!',{offset: '300px',time: 2500,icon: 2},function () {
                    window.location.href="<{:U('Login/login')}>";
                });
            }else if(a == 3){
                layer.tips('修改失败!', "#newMobile")
            }else if(a == 4){
                layer.tips('手机号已存在！', "#newMobile")
            }
        }
    })
});

//设置支付密码
$("#paypass").blur(function () {
    var a = /^\d{6}$/,
        b = $(this).val();
    "" == b ? layer.tips("\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#paypass") : a.test(b) || layer.tips("请输入6位数字密码!", "#paypass")
});
$("#respaypass").blur(function () {
    var a = $(this).val();
    "" == a ? layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#respaypass") : $("#paypass").val() != a && layer.tips("支付\u5bc6\u7801\u4e0e\u786e\u8ba4\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#respaypass")
});
function c_bind_email_one_mobile_valid1(){
    var a = $("#mobilecode").val();
    var url = "<{:U('Pcenter/updateMobileOldCode')}>";
    var time=120;
    $.ajax({
        type: "post",
        url: url,
        dataType:'json',
        data:{
            mobile : a
        },
        success:function(data){
            if(data == 2){
                $("#paysms").attr("href","#");
                var t=setInterval(function  () {
                time--;
                    $("#paysms").html(time+"秒后重新获取");
                    if (time==0) {
                        clearInterval(t);
                        $("#paysms").attr("href","javascript:c_bind_email_one_mobile_valid1();");
                        $("#paysms").html("重新获取");
                    }
                },1000) 
            }else if(data == 3){
                layer.tips("验证码发送失败，请从新发送！", '#paysms');
            }
        }
    });
}
$(".c_bind_email_mobile_next").click(function () {
    var a = $("#bindEmailMobileValidCode").val();
    var b = $("#mobilecode").val();
    var url = "<{:U('Pcenter/verifybindEmailMobileValidCode')}>";
    "" == a || null == a ? layer.tips("\u9a8c\u8bc1\u7801\u4e0d\u80fd\u4e3a\u7a7a", "#bindEmailMobileValidCode") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            mobile: b,
            validCode: a
        },
        success: function (a) {
            if(a == 2){
                $(".c_appear").hide();
                $("#bindEmialStep2").addClass("c_appear").show();
                $("#bindEmailMobileValidCode").val("");    
            }else if(a == 3){
                layer.tips('验证码错误或已过期', "#bindEmailMobileValidCode");
            }
        }
    })
});
$(".c_bind1").click(function () {
    var url = "<{:U('Pcenter/updatePayPass')}>";
    var a = $("#paypass").val(),
        b = $("#respaypass").val(),
        c = /^\d{6}$/;
        "" == a ? layer.tips("\u65b0\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#paypass") : c.test(a) ? "" == b ? layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#respaypass") : b != a ? layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0e\u65b0\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#respaypass") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            pass: $("#paypass").val(),
            repass: $("#respaypass").val(),
        },
        success: function (a) {
            if(a == 2){
                $(".c_appear").hide();
                $("#bindEmialSuccess").addClass("c_appear").show();
                $("#bindMail").val(""); 
                $("#bindEValidCode").val("");
            }else if(a == 4){
                $("#paypass").val("");
                $("#respaypass").val("");
                layer.tips("支付\u5bc6\u7801\u4e0e\u786e\u8ba4\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#respaypass");
            }else if(a == 3){
                layer.msg('\u5bc6\u7801\u4fee\u6539\u5931\u8d25!',{offset: '300px',time: 1500,icon: 2},function () {
                    window.location.reload();
                });
            }
        }
    }) : layer.tips("请输入6位数字密码!", "#paypass")
});

//修改支付密码手机验证
function c_valid4_update_email_email_valid_code(){
    var a = $("#mobilecode").val();
    var url = "<{:U('Pcenter/updateMobileOldCode')}>";
    var time=120;
    $.ajax({
        type: "post",
        url: url,
        dataType:'json',
        data:{
            mobile : a
        },
        success:function(data){
            if(data == 2){
                $("#newpaysms").attr("href","#");
                var t=setInterval(function  () {
                time--;
                    $("#newpaysms").html(time+"秒后重新获取");
                    if (time==0) {
                        clearInterval(t);
                        $("#newpaysms").attr("href","javascript:c_valid4_update_email_email_valid_code();");
                        $("#newpaysms").html("重新获取");
                    }
                },1000) 
            }else if(data == 3){
                layer.tips("验证码发送失败，请从新发送！", '#newpaysms');
            }
        }
    });
}
$(".c_mail_step1_update_email_validCode").click(function () {
    var a = $("#updEmailoldEvalidCode").val();
    var b = $("#mobilecode").val();
    var url = "<{:U('Pcenter/verifyOldPayValidCode')}>";
    "" == a || null == a ? layer.tips("\u9a8c\u8bc1\u7801\u4e0d\u80fd\u4e3a\u7a7a", "#updEmailoldEvalidCode") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            mobile: b,
            validCode: a
        },
        success: function (a) {
            if(a == 2){
                $(".c_appear").hide();
                $("#updateMailStep2").addClass("c_appear").show();
                $("#updEmailoldEvalidCode").val("");
            }else{
                layer.tips('验证码错误或已过期', "#updEmailoldEvalidCode");
            }
        }
    })
});
$("#oldPayPass").blur(function () {
    var a = $(this).val();
    var url = "<{:U('Pcenter/checkOldPayPass')}>";
    "" == a ? layer.tips("\u539f\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#oldPayPass") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            pass: a
        },
        success: function (a) {
            if(a == 3){
                layer.tips("\u539f\u5bc6\u7801\u9519\u8bef!", "#oldPayPass");
            }
        }
    })
});
$("#newPaypass").blur(function () {
    var a = /^\d{6}$/,
        b = $(this).val();
    "" == b ? layer.tips("\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#newPaypass") : a.test(b) || layer.tips("请输入6位数字密码!", "#newPaypass")
});
$("#resNewPaypass").blur(function () {
    var a = $(this).val();
    "" == a ? layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#resNewPaypass") : $("#newPaypass").val() != a && layer.tips("支付\u5bc6\u7801\u4e0e\u786e\u8ba4\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#resNewPaypass")
});
$(".c_mail_step2").click(function () {
    var url = "<{:U('Pcenter/updateNewPayPass')}>";
    var a = $("#oldPayPass").val(),
        b = $("#newPaypass").val(),
        c = $("#resNewPaypass").val(),
        d = /^\d{6}$/;
    "" == a ? layer.tips("\u539f\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#oldPayPass") : "" == b ? layer.tips("\u65b0\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#newPaypass") : d.test(b) ? "" == c ? layer.tips("\u786e\u8ba4\u5bc6\u7801\u4e0d\u80fd\u4e3a\u7a7a!", "#resNewPaypass") : b != c ? layer.tips("支付\u5bc6\u7801\u4e0e\u786e\u8ba4\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#resNewPaypass") : $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            oldPass: $("#oldPayPass").val(),
            pass: $("#newPaypass").val(),
            repass: $("#resNewPaypass").val(),
        },
        success: function (a) {
            if(a == 2){
                $(".c_appear").hide(); 
                $("#updateEmailSuccess").addClass("c_appear").show(); 
                $("#newEmail").val("");
                $("#newEvalidCode").val("");
            }else if(a==3){
                $("#newPaypass").val("");
                $("#resNewPaypass").val("");
                layer.tips("\u539f\u5bc6\u7801\u9519\u8bef!", "#oldPayPass");
                
            }else if(a == 4){
                $("#newPaypass").val("");
                $("#resNewPaypass").val("");
                layer.tips("支付\u5bc6\u7801\u4e0e\u786e\u8ba4\u5bc6\u7801\u4e0d\u4e00\u81f4!", "#resNewPaypass");
            }else if(a == 5){
                layer.msg('\u5bc6\u7801\u4fee\u6539\u5931\u8d25!',{offset: '300px',time: 1500,icon: 2},function () {
                    window.location.reload();
                });
            }
        }
    }) : layer.tips("请输入6位数字密码!", "#newPaypass")
});
$(".bindEmailSuccessTip").click(function () {
    window.location.reload();
});
</script>
<script>
function cartCount() {
    var url = "<{:U('Cart/cartCount')}>";
    $.ajax({
        url: url,
        type: 'POST',
        dataType: 'json',
        data: '',
        success:function(data){
            if(data > 0){
                $("#cartCount").html(data);
                $("#cartCount").addClass("num-rt");
                $("#row").html(data);
            }else{
                $("#cartCount").html("");
            }
        }
    });
}
function CartOrder(){
    var a = $("#mid").val();
    var b = $("#sta").val();
    if(null != a && "" != a){
        if(b == '2'){//账号处于激活状态
            window.location.href="<{:U('Cart/cart')}>"; 
        }else if(b == '3'){//账号处于冻结状态
            layer.msg('账号处于冻结状态,请联系管理员解封',{offset: '300px',time: 2000,icon: 7});
        }
    }
}
</script>
</body>
</html>