<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料"/>
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="renderer" content="webkit"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/member.min.css"/>
<title>商家中心--发货地址--万花筒</title>
<style type="text/css">
    .c_address_in{
    height:528px;
    }
    .c_address{
    padding-left:14px;
    }
    .c_form_con{
    width:785px;
    }
    .c_form_con label{
    width:115px;
    }
    select{
       background: transparent;
       appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
       width: 180.5px;
       height: 34px;
       -webkit-appearance: none;
       margin-left: -10px;
       margin-top: 2px;
       border-width:0px;
       line-height: 34px;
       font-size:14px;
       padding-right: 40px;
    }
    .select_showbox{
       overflow: hidden;
    }
    select::-ms-expand { display: block; }

    .c_out_a i, .c_first_out_a i {
        background: rgba(0, 0, 0, 0) url("/Public/Home/static/new/img/icon/member_comm/left_icon.png") no-repeat scroll 0 0;
    }

    .top{
        margin: 8px 0 30px 0;
    }
    .top p{
        position: relative;
        margin-top: 20px;
    }
    .c_form_con div .top input.uploading{
      opacity: 0;
      width: 148px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .top>span {
        position: relative;
        display: block;
    }
    .top span img{
        display: block;
        border: 1px solid #ccc;
    }
    .top span i{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 155px;
        top: -10px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center; 
        font-size: 14px;
        border: 1px solid #000; 
    }
    .top span img{
        width:160px;
        height: 160px;
    }

    .bottom{
        float: left;
        width: 20%;
        margin-top: 50px;
    }
    .bottom p{
        position: relative;
        width: 100%;
        margin: 30px 0;
        overflow: hidden;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .bottom p img{
        width: 100%;
    }
    .c_form_con div .bottom input.uploading{
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
    }
    .bottom>span {
        position: relative;
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
    }
    .bottom span img{
        display: block;
        width: 100px;
        height: 100px;
       
    }
    .bottom span i{
        position: absolute;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center; 
        font-size: 14px;
        border: 1px solid #000; 
    }
    .bottom span img{
        width:100px;
        height: 100px;
    }
    .c_address .c_form_right input.no{
       border: none;
    }
</style>
</head>
<body>
  <!-- S 头部 -->
  <!-- 引入头部 -->
    <include file="public:mhead" />
    <!-- 引入头部 -->
  <!-- E 头部 -->
  <!-- S 内容区域 -->
  <div class="b_sup_content">
      <!-- S 会员资料 -->
      <!--S 头部 -->
      <!-- E 会员资料 -->
      <div id="content_box" class="">
        <!-- S 左侧 -->
        <include file="public:mleft" />
        <!-- E 左侧 -->
        <!-- S 右侧 -->
        <div id="member_right" class="member_right">
        <ul class="b_record_title score_b_record_title">
          <li class="b_record_this"><a href="javascript:;">寄件</a></li>
        </ul>
        <!-- 数据列表栏 -->
        <div class="c_address" id="datalist">
        <form id="fbg">
            <div class="c_address aa c_ads_display">
            <label>寄件人地址</label>
                <div class="c_form_con">
                    <label>地址：</label>
                    <ul class="c_form_right">
                        <li class="c_contact">
                            <div class="select_showbox">
                              <select style="display: block;" name="spro" id="province">
                                <option value="0">------请选择省------</option>
                                <volist name="province_arr" id="list">
                                  <option value="<{$list.id}>" ><{$list.name}></option>
                                </volist>
                              </select>
                            </div>
                        </li>
                        <li class="c_contact">
                            <div class="select_showbox" id="cityDiv">
                              <select style="display: block;" name="scity" id="city" >
                                <option value="0">------请选择市------</option>
                              </select>
                            </div>
                        </li>
                        <li class="c_contact">
                            <div class="select_showbox" id="areaDiv">
                              <select style="display: block;" name="sarea" id="area">
                                <option value="0">------请选择区/县------</option>
                              </select>
                            </div>
                        </li>
                        <input class="c_details_address" style="width: 578px;" type="text" name='sstreet' placeholder="详细地址"  maxlength="100" datacol='yes' checkexpession='NotNull' err='详细地址'/>
                    </ul>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>寄件人：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" name="sname"  placeholder="寄件人" maxlength="4" datacol='yes' checkexpession='NotNull' err='请填写寄件人'/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>邮编：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" name="syb"  placeholder="邮编" maxlength="11" datacol='yes' checkexpession='Num' err='请填写邮编，并且必须为'/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>手机：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" name="smobile" placeholder="手机" maxlength="11" datacol='yes' checkexpession='Num' err='请填写手机，并且必须为'/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div style="clear: both;height: 30px;"></div>
            </div>

            <div class="c_address aa c_ads_display">
            <label>收件人地址</label>
                <div class="c_form_con">
                    <label>地址：</label>
                    <ul class="c_form_right">
                        <li class="c_contact">
                            <div class="select_showbox">
                              <select style="display: block;" name="upro" id="pro_ads">
                                <volist name="province_arr" id="list">
                                  <option value="<{$list.id}>" <if condition="$list[id] eq $address['pro_id']">selected</if>><{$list.name}></option>
                                </volist>
                              </select>
                            </div>
                        </li>
                        <li class="c_contact">
                            <div class="select_showbox" id="cityDiv">
                              <select style="display: block;" name="ucity" id="city_ads" >
                                <volist name="ads_arr" id="list">
                                  <option value="<{$list.id}>" <if condition="$list[id] eq $address['city_id']">selected</if>><{$list.name}></option>
                                </volist>
                              </select>
                            </div>
                        </li>
                        <li class="c_contact">
                            <div class="select_showbox" id="areaDiv">
                              <select style="display: block;" name="uarea" id="area_ads">
                                <volist name="ads_arr" id="list">
                                  <option value="<{$list.id}>" <if condition="$list[id] eq $address['area_id']">selected</if>><{$list.name}></option>
                                </volist>
                              </select>
                            </div>
                        </li>
                        <input class="c_details_address" style="width: 578px;" type="text" name='ustreet' placeholder="详细地址"  maxlength="100" datacol='yes' checkexpession='NotNull' err='详细地址' value="<{$address['street']}>"/>
                    </ul>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>收件人：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" name="uname"  placeholder="收件人" maxlength="4" datacol='yes' checkexpession='NotNull' err='请填写收件人，并且必须为' value="<{$address['name']}>"/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>邮编：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" name="uyb"  placeholder="邮编" maxlength="11" datacol='yes' checkexpession='Num' err='请填写邮编，并且必须为'/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>手机：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" name="umobile" placeholder="手机" maxlength="11" datacol='yes' checkexpession='Num' err='请填写手机，并且必须为' value="<{$address['mobile']}>"/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div style="clear: both;height: 30px;"></div>
            </div>
            <div class="c_form_con c_ads_display" style="height:356px;">
                <div style="clear: both;"></div>
                <div>
                    <button class="c_save" id="next" style="display: block;" type="button">下一步</button>
                </div>
            </div>
            <div class="c_address aa c_ads_none" style="display:none;">
                <div class="c_form_con">
                    <label>货物名称：</label>
                    <div class="c_form_right">
                       <input class="c_details_contact no" style="width:650px;" type="text" name="my" value="<{$info['goods_title']}>"/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>寄件人：</label>
                    <div class="c_form_right">
                       <input class="c_details_contact no" style="width:650px;" type="text" id="sjads" />
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>收货人：</label>
                    <div class="c_form_right">
                       <input class="c_details_contact no" style="width:650px;" type="text" id="userads"/>
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>快递公司：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" id="adsname"  placeholder="快递公司" maxlength="10" />
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div class="c_form_con">
                    <label>运单号：</label>
                    <div class="c_form_right">
                        <input class="c_details_contact" type="text" id="adsnum" placeholder="运单号" maxlength="30" />
                    </div>
                    <div class="c_clear"></div>
                </div>
                <div style="clear: both;height: 30px;"></div>
            </div>
            <div class="c_form_con c_ads_none" style="height:356px;display:none;">
                <div style="clear: both;"></div>
                <div>
                    <input type="hidden" id="ordid" value="<{$info['order_id']}>">
                    <button class="c_save" id="subsend" style="display: block;" type="button">确认发货</button>
                </div>
            </div>
      </form>
    </div>
    </div>
  </div>
  <!-- S 底部 -->
<include file="public:pfoot" />
<script src="__PUBLIC__/Admin/javascripts/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/javascripts/layer/layer.js"></script>
<script src="__PUBLIC__/Admin/javascripts/JValidator.js"></script>
<script>
$("#province").change(function(){
    var procode=$(this).val();
    var url = "<{:U('Merchant/pro_city')}>";
    if(procode==0){
          var html = "<option value='0'>------请选择市------</option>"; 
          var html1 = "<option value='0'>------请选择区/县------</option>";         
          $('#city').html(html);
          $('#area').html(html1);
    }else{
        $.post(url,{procode:procode},function(data){
            /* alert(data); */
            $('#city').empty();
             var html = "<option value='0'>------请选择市------</option>";
            $.each(data, function(k,v){
                html += "<option value='" +v['id']+ "'>" + v['name'] + "</option>";
            });
            $('#city').html(html);
        },"json")
    }
    var html = "<option value='0'>------请选择市------</option>"; 
    var html1 = "<option value='0'>------请选择区/县------</option>";         
    $('#city').html(html);
    $('#area').html(html1);
})
$("#city").change(function(){
    var citycode=$(this).val();
    var url = "<{:U('Merchant/city_area')}>";
    if(citycode==0){
         var html = "<option value='0'>------请选择区/县------</option>"; 
           $('#city').html(html);
    }else{
        $.post(url,{citycode:citycode},function(data){
                /* alert(data); */
            $('#area').empty();
                var html = "<option value='0'>------请选择区/县------</option>";
           $.each(data, function(k,v){
               html += "<option value='" +v['id']+ "'>" + v['name'] + "</option>";
           });
           $('#area').html(html);
        },"json")
    }
          var html1 = "<option value='0'>------请选择区/县------</option>";         
          $('#area').html(html1);
})
$("#pro_ads").change(function(){
    var procode=$(this).val();
    var url = "<{:U('Merchant/pro_city')}>";
    if(procode==0){
          var html = "<option value='0'>------请选择市------</option>"; 
          var html1 = "<option value='0'>------请选择区/县------</option>";         
          $('#city_ads').html(html);
          $('#area_ads').html(html1);
    }else{
        $.post(url,{procode:procode},function(data){
            /* alert(data); */
            $('#city_ads').empty();
             var html = "<option value='0'>------请选择市------</option>";
            $.each(data, function(k,v){
                html += "<option value='" +v['id']+ "'>" + v['name'] + "</option>";
            });
            $('#city_ads').html(html);
        },"json")
    }
    var html = "<option value='0'>------请选择市------</option>"; 
    var html1 = "<option value='0'>------请选择区/县------</option>";         
    $('#city_ads').html(html);
    $('#area_ads').html(html1);
})
$("#city_ads").change(function(){
    var citycode=$(this).val();
    var url = "<{:U('Merchant/city_area')}>";
    if(citycode==0){
         var html = "<option value='0'>------请选择区/县------</option>"; 
           $('#city_ads').html(html);
    }else{
        $.post(url,{citycode:citycode},function(data){
                /* alert(data); */
            $('#area_ads').empty();
                var html = "<option value='0'>------请选择区/县------</option>";
           $.each(data, function(k,v){
               html += "<option value='" +v['id']+ "'>" + v['name'] + "</option>";
           });
           $('#area_ads').html(html);
        },"json")
    }
          var html1 = "<option value='0'>------请选择区/县------</option>";         
          $('#area_ads').html(html1);
})
$('#next').click(function(){
    var province=$("#province option:selected").val();
    var city=$("#city option:selected").val();
    var area=$("#area option:selected").val();
    var spro=$("#province option:selected").text();
    var scity=$("#city option:selected").text();
    var sarea=$("#area option:selected").text();
    var pro_ads=$("#pro_ads option:selected").text();
    var city_ads=$("#city_ads option:selected").text();
    var area_ads=$("#area_ads option:selected").text();
    var sstreet=$("input[name=sstreet]").val();
    var sname=$("input[name=sname]").val();
    var smobile=$("input[name=smobile]").val();
    var ustreet=$("input[name=ustreet]").val();
    var uname=$("input[name=uname]").val();
    var umobile=$("input[name=umobile]").val();
    if(province == 0){
        layer.msg('请选择寄件人省份地址',{offset: '300px',time: 1500,icon: 7});
        return false;
      }
    if(city == 0){
        layer.msg('请选择寄件人城市地址',{offset: '300px',time: 1500,icon: 7});
        return false;
    }
    if(area == 0){
        layer.msg('请选择寄件人区/县地址',{offset: '300px',time: 1500,icon: 7});
        return false;
    }
    if(CheckDataValid("#fbg")){
        $(".c_ads_display").hide();
        $(".c_ads_none").show();
        $("#sjads").val(sname+' ，'+smobile+' ，'+spro+' ，'+scity+' ，'+sarea+' ，'+sstreet);
        $("#userads").val(uname+' ，'+umobile+' ，'+pro_ads+' ，'+city_ads+' ，'+area_ads+' ，'+ustreet);
    }
})
$("#subsend").click(function(){
      var ordid=$("#ordid").val();
      var num=$("#adsnum").val();
      var name=$("#adsname").val();
      var sjads=$("#sjads").val();
      var userads=$("#userads").val();
      var re = /^[\u4e00-\u9fa5]+$/;
      var rel = /^[0-9]*$/;
      var url = "<{:U('Merchant/doexp')}>";
      if(name == ''){
        layer.msg('请填写快递公司',{offset: '300px',time: 1500,icon: 2});
        return false;
      }
      if(num == ''){
        layer.msg('请填写运单号',{offset: '300px',time: 1500,icon: 2});
        return false;
      }
      if(!re.test(name)){
        layer.msg('快递公司只能填写中文',{offset: '300px',time: 1500,icon: 2});
        return false;
      }
      if(!rel.test(num)){
        layer.msg('运单号只能填写数字',{offset: '300px',time: 1500,icon: 2});
        return false;
      }
      $.ajax({
          type : 'post',
          url : url,
          data : {ordid:ordid,num:num,name:name,sjads:sjads,userads:userads},
          dataType: 'json',
          error : function () {
              layer.msg('网络故障，请稍后重试!',{offset: '300px',time: 1500,icon: 7});
          },
          success : function (responses) {
              if (responses == 'ok'){
                  layer.msg('发货成功',{offset: '300px',time: 1500,icon: 1},function () {
                     window.location.href = "<{:U('Merchant/sendOut')}>";
                  });
              }else{
                  layer.msg(responses,{offset: '300px',time: 1500,icon: 2});
              }
          }
      });
})
</script>
</body>
</html>
