<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料" />
<meta name="description" content="山西云购全球信息技术有限公司是专业、趣味汽车电商平台，以“特色众筹”为平台运营模式，致力于打造一个豪车梦想实现基地。" />
<meta name="keywords" content="汽车、汽车网、云购、汽车云购、1元抢车" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/member.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/css/front/new_join.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/member_comm.css"/>
<style type="">
  .b_choose_cal dd input {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    height: 26px;
    padding: 0px;
    width: 138px;
  }
  .yNumList ul li {
    font-size: 28px;
  }
  .search_header2 s {
    background: rgba(0, 0, 0, 0) url("/static/img/front/index/icon_index.png") no-repeat scroll 0 0;
  }
  .yNavIndex .yMenuIndex li {
    padding:0 0px;
  }
  /*S 2015-12-1 新增  */
  body{min-width: 1210px;}
  /*E 2015-12-1 新增  */
  .c_out_a i, .c_first_out_a i {
    background: rgba(0, 0, 0, 0) url("/static/new/img/icon/member_comm/left_icon.png") no-repeat scroll 0 0;
  }
  .c_personage_data {
    background: rgba(0, 0, 0, 0) url("/static/new/img/icon/member_comm/icon2.png") no-repeat scroll center top;
  }
  .c_login_code {
    background: rgba(0, 0, 0, 0) url("/static/new/img/icon/member_comm/icon3.png") no-repeat scroll center top;
  }
  .c_real_name {
    background: rgba(0, 0, 0, 0) url("/static/new/img/icon/member_comm/icon4.png") no-repeat scroll center top;
  }
  .c_investor_ul li{font-size: 12px;}
  .c_investor_ul li span{font-size: 12px;}
  .c_investor_ul li a{font-size: 12px;}
  .c_investor_ul li input{font-size: 12px;}
  .c_investor_ul{padding-left: 10px;font-size: 12px;}
  .hhrhg{
    position: absolute;
    width: 38px;
    height: 34px;
    z-index: 1;
    left: 0px;
    top: 16px;
  }
</style>
<title>充值记录-云购全球</title>
</head>
<body>
<input type="hidden" id="signTime" value=""/>
<input type="hidden" id="signDays" value=""/>
<input type="hidden" id="mid" value=""/>
<input type="hidden" id="rechargeSales" value=""/>
<!--E 2015 11 21 -->
<!-- 引入头部 -->
<include file="public:phead" />
<!-- 引入头部 -->
<div class="b_sup_content">
  <!-- 引入头部 -->
  <include file="public:pminHead" />
  <!-- 引入头部 -->
  <div id="content_box" class="">
    <!-- 引入左侧 -->
    <include file="public:pleft" />
    <!-- 引入左侧 -->
    <div id="member_right" class="member_right b_record_box">
      <ul class="b_record_title fund_manage_record_title">
        <li class="b_record_this"><a href="javascript:void(0);">充值</a></li>
      </ul>
      <div class="b_record_buy">
        <div class="b_record_list b_record_cloud" style="display: block;">
          <div class="b_record_info">
            <div class="b_choose a_choose">
              <ul class="b_choose_day">
                <li class="b_choose_this" onclick="ActionRechargeSetTime(0)">全部</li>
                <li onclick="ActionRechargeSetTime(1)">今天</li>
                <li onclick="ActionRechargeSetTime(2)">本周</li>
                <li onclick="ActionRechargeSetTime(3)">本月</li>
                <li onclick="ActionRechargeSetTime(4)">最近三个月</li>
              </ul>
              <dl class="b_choose_cal a_choose_cal">
                <dd>选择时间段：</dd>
                <dd>
                  <input id="startTime" readonly="true" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})" />
                </dd>
                <dd>&nbsp;-&nbsp;</dd>
                <dd>
                  <input id="endTime" readonly="true" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2020-10-01'})" />
                </dd>
              </dl>
              <div class="a_clear a_margin_num"></div>
              <ul class="b_choose_day">
                <li class="b_choose_this">来源状态</li>
              </ul>
              <div class="a_select_choose">
                <ul>
                  <i></i>
                  <li id="payCode" class="a_select_info"><span><input value="" class="code" type="hidden" /> 全部</span></li>
                  <li class="a_select_detail"><span><input class="code" value="" type="hidden" /> 全部</span></li>
                  <li class="a_select_detail"><span><input class="code" value="weixin" type="hidden" /> 微信支付</span></li>
                  <li class="a_select_detail"><span><input class="code" value="jdong" type="hidden" /> 京东支付</span></li>
                  <li class="a_select_detail"><span><input class="code" value="ylian" type="hidden" /> 银联支付</span></li>
                  <li class="a_select_detail"><span><input class="code" value="jcard" type="hidden" /> 购物卡</span></li>
                  <li class="a_select_detail"><span><input class="code" value="zfb" type="hidden" /> 支付宝支付</span></li>
                  <li class="a_select_detail"><span><input class="code" value="youhui" type="hidden" /> 会员折扣</span></li>
                </ul>
                <em>-</em>
                <ul>
                  <i></i>
                  <li id="payStatus" class="a_select_info"><span>全部</span>
                  </li>
                  <li class="a_select_detail"><span>全部</span></li>
                  <li class="a_select_detail"><span> <input class="status" type="hidden" value="1" />成功
                  </span></li>
                  <li class="a_select_detail"><span><input class="status" type="hidden" value="0" />未付款</span></li>
                </ul>
              </div>
              <dl class="b_choose_cal">
                <dd>交易号：</dd>
                <dd>
                  <input id="tradeNo" type="text" maxlength="40" style="width: 299px;" />
                </dd>
                <dd class="b_choose_search a_choose_search" onclick="actionRechargeSeach()">搜索</dd>
              </dl>
              <div class="a_clear"></div>
            </div>
          </div>
          <div class="b_record_table a_record_table">
            <table id="rechargeList"></table>
          </div>
          <center>
            <div id="rechargeListPageStr" class="pageStr"></div>
          </center>
        </div>
        <!--E 充值明细 -->
        <div class="b_record_list b_record_cloud">
          <div class="b_record_info">
            <div class="b_choose a_choose" style="height: 25px;">
              <ul class="b_choose_day">
                <li class="b_choose_this" onclick="ActionRechargeSetTime(0)">全部</li>
                <li onclick="ActionRechargeSetTime(1)">今天</li>
                <li onclick="ActionRechargeSetTime(2)">本周</li>
                <li onclick="ActionRechargeSetTime(3)">本月</li>
                <li onclick="ActionRechargeSetTime(4)">最近三个月</li>
              </ul>
              <dl class="b_choose_cal">
                <dd>选择时间段：</dd>
                <dd>
                  <input id="startTime2" readonly="true" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})" />
                </dd>
                <dd>&nbsp;-&nbsp;</dd>
                <dd>
                  <input id="endTime2" readonly="true" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2020-10-01'})" />
                </dd>
                <dd class="b_choose_search" onclick="actionRebateSeach()">搜索</dd>
              </dl>
              <div class="a_clear"></div>
            </div>
          </div>
          <div class="b_record_table a_record_table">
            <table id="rebateList"></table>
          </div>
          <center>
            <div id="rebateListPageStr" class="pageStr"></div>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- S 底部 -->
<include file="public:pfoot" />
<!-- E 底部 -->
<script type="text/javascript" src="__PUBLIC__/Home/static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/plugin/jquery/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/plugin/cookies/jquery.cookies.2.2.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/min.js/js/common.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/min.js/js/ajaxfunctionMain.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/min.js/js/include/footer_header_new.min.js"></script>
<script src="__PUBLIC__/Home/static/new/js/member_left.js"></script>
<script src="__PUBLIC__/Home/static/new/js/record_comm.js"></script>
<script src="__PUBLIC__/Home/static/min.js/js/common.min.js"></script>
<script src="__PUBLIC__/Home/static/js/front/transFormatJson.js"></script>
<script src="__PUBLIC__/Home/static/new/plugin/layer/layer.js"></script>
<script src="__PUBLIC__/Home/static/min.js/js/common_ajaxfunction_member_base.min.js"></script>
<script src="__PUBLIC__/Home/static/new/plugin/jquery.page/jquery.page.js"></script>
<script src="__PUBLIC__/Home/static/js/My97DatePickerBeta/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/Home/static/min.js/new/js/money_funds_management.min.js"></script>
<script src="__PUBLIC__/Home/static/min.js/js/common_ajaxfunction_member_money.min.js"></script>
<script src="__PUBLIC__/Home/static/min.js/js/member_new/include_member_recharge_list.min.js"></script>
</body>
</html>
