<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料"/>
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/member.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/css/front/new_join.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/member_comm.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/cashier_desk.css"/>
<title>收银台--万花筒</title>
<style type="text/css">
  .cashier_desk_mask1, .cashier_desk_mask2{
    z-index: 99999999;
  }
  .cashier_desk_pay{
    position: fixed;
    width: 100%;
    height: 100%;
  }
  #footer_in{
    position: fixed;
    width: 100%;
    bottom: 0;
  }
</style>
</head>
<body>
  <!-- 引入头部 -->
<include file="public:pphead" />
  <!-- 引入头部 -->

  <!--  -->
  <!--E 2015 11 21 -->
<div class="cashier_desk_logo inner">
    <a href="/"><img src="__ROOT__/<{$_SESSION['sc']['infor']['logo']}>"></a>
    <span>收银台</span>
  </div>
  <div class="cashier_desk_pay" style="background: url(__PUBLIC__/Home/static/new/img/images/back.png);">
    <div class="cashier_desk_pay_con inner">
      <div class="title">
        <span style="background: url(__PUBLIC__/Home/static/new/img/images/choose.png) no-repeat;">请选择支付方式</span>
        <p>订单提交成功，请尽快付款！</p>
      </div>
      <ul>
        <li>
          <div style="height: auto;">
            <h3>银行卡支付</h3>
            <p class="current">
              <img src="__PUBLIC__/Home/static/new/img/images/zhonghang.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>中国银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/nongye.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>农业银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/gongshang.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>工商银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/jianshe.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>建设银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/jiaotong.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>交通银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/zhaoshang.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>招商银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/guangfa.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>广发银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/zhongxin.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>中信银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/minsheng.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>民生银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/guangda.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>光大银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/pingan.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>平安银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/pufa.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>浦发银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/youzheng.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>邮政银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/huaxia.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>华夏银行</span>
            </p>
            <p>
              <img src="__PUBLIC__/Home/static/new/img/images/xingye.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>兴业银行</span>
            </p>
          </div>
          <i>
            <em>展开更多</em>
            <img src="__PUBLIC__/Home/static/new/img/images/open.png" alt="">
          </i>
        </li>
        <!-- <li class="last">
          <div>
            <h3>第三方支付</h3>
            <p class="pay_zfb">
              <img src="__PUBLIC__/Home/static/new/img/images/zhifubao.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>支付宝</span>
            </p>
            <p class="pay_wx">
              <img src="__PUBLIC__/Home/static/new/img/images/weixin.png" alt="">
              <img class="abc" src="__PUBLIC__/Home/static/new/img/images/xuanzhong.png" alt="" />
              <span>微信支付</span>
            </p>
          </div>
        </li> -->
        <li><!-- <{:U('Pcenter/pay_show')}> -->
          <a href="javascript:void(0);" id="paybao"><button type="button">立即付款</button></a>
          <h4>应付金额：<span id="payMoney"></span>元</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="cashier_desk_mask1">
    <div class="cashier_desk_mask_con">
      <h3>使用支付宝支付<span style="font-size: 18px;font-weight: bold;">50元</span></h3>
      <img src="__PUBLIC__/Home/static/new/img/images/pay_zfb.png" alt="">
      <div>
        <img src="__PUBLIC__/Home/static/new/img/images/sao.png" alt="">
        <p>请使用支付宝扫一扫</p>
        <p>扫描二维码完成支付</p>
      </div>
      <i><img src="__PUBLIC__/Home/static/new/img/images/off.png" alt=""></i>
    </div>
  </div>
    <div class="cashier_desk_mask2">
    <div class="cashier_desk_mask_con">
      <h3>使用微信支付<span>50元</span></h3>
      <img src="__PUBLIC__/Home/static/new/img/images/pay_wx.png" alt="">
      <div>
        <img src="__PUBLIC__/Home/static/new/img/images/sao.png" alt="">
        <p>请使用微信扫一扫</p>
        <p>扫描二维码完成支付</p>
      </div>
      <i><img src="__PUBLIC__/Home/static/new/img/images/off.png" alt=""></i>
    </div>
  </div>
  <!-- S 底部 -->
  <include file="public:pfoot" />
  <!-- E 底部 -->
<script type="text/javascript" src="__PUBLIC__/Home/static/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/Admin/javascripts/layer/layer.js"></script>
<script src="__PUBLIC__/Home/static/new/plugin/cashier_desk.js"></script>
<script>
$(function(){
  var restoredSession = JSON.parse(sessionStorage.getItem('payNum'));
  $("#payMoney").html((restoredSession[0]['pay'] * 1) + (restoredSession[0]['pay'] * 0.003));
  $("#paybao").click(function(){
    var url = "<{:U('Pcenter/paybao')}>";
    $.ajax({
        type : 'post',
        url : url,
        data : {pay:restoredSession[0]['pay'],type:restoredSession[0]['type']},
        dataType : 'json',
        error : function () {
            layer.msg('网络故障，请稍后重试!',{offset: '300px',time: 1500,icon: 7});
        },
        success : function (responses) {
            if (responses.msg == 'ok'){
              var pay=[]; 
              pay.push({pay:responses.flg});
              sessionStorage.setItem("payBao",JSON.stringify(pay));
              window.location.href = "<{:U('Pcenter/pay_show')}>";
            }else{
              layer.msg(responses.msg,{offset: '300px',time: 2000,icon: 2});
            }
        }
    });
  })
})
</script>
</body>
</html>
