<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="robots" content="" />
    <meta name="author" content="网页作者的资料" />
    <meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
    <meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
    <link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/front/pingjia.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/css/page.css"/>
    <title>评价--方大商城</title>
    <style>

    .imgbox ul {
		overflow: hidden;
		padding-top: 30px;
    }
    .imgbox li {
    	float: left;
        display: none;
        position: relative;
        width: 105px;
        height: 105px;
        margin: 0 15px;
    }
    .imgbox li input {
    	position: absolute;
    	width: 100%;
    	height: 30px;
    	top: 45px;
    	opacity: 0;
    	z-index: 99;
    }
    .imgbox li img{
    	width: 100%;
    	height: 100%;
    }
    .imgbox li img.upimg{
    	width: 100%;
    	height: 30px;
    	position: absolute;
    	top: 45px;
    }
    .imgbox li:first-child {
        display: block;
    }
    .imgbox li i{
    	position: absolute;
    	width: 20px;
    	height: 20px;
    	top: -10px;
    	right: -10px;
    	text-align: center;
    	font-size: 16px;
    	line-height: 20px;
    }
    .pingjia div .buttons{
        margin: 20px 0px 0px 350px;
        display: block;
        width: 68px;
        height: 28px;
        background-color: #c40000;
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        border: 0;
        outline: none;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
    }
    </style>
</head>

<body>
    <include file="public:head" />
    <div class="inner">
        <div class="product_info">
            <img src="__ROOT__/Uploads<{$good.goods_logo}>" alt="" />
            <div>
                <h3><{$good['goods_title']}></h3>
                <p>消费币:<span>￥<{$good['xfb']}></span></p>
                <p>可用金:<span>￥<{$good['price']}></span></p>
            </div>
        </div>
        <div class="pingjia">
            <h3>累计评价<{$good['comment']}></h3>
            <i></i>
            <form id="fbg">
            <div>
                <p>请写下您的评价!</p>
                <input type="hidden" name="gid" value="<?php echo $_GET['gid']?>">
                <textarea name="cont" id="cont" cols="100" rows="8" maxlength="100"></textarea>
                <h4>晒图片：</h4>
                <div class="imgbox" style="width: 680px;">
                    <ul>
                        <li>
                            <input class="uploading" type="file" name="showlogo1">
                            <img class="upimg" src="__PUBLIC__/Home/static/new/img/icon/uploading.png" alt="" />
                        </li>
                        <li>
                            <input class="uploading" type="file" name="showlogo2">
                            <img class="upimg" src="__PUBLIC__/Home/static/new/img/icon/uploading.png" alt="" />
                        </li>
                        <li>
                            <input class="uploading" type="file" name="showlogo3">
                            <img class="upimg" src="__PUBLIC__/Home/static/new/img/icon/uploading.png" alt="" />
                        </li>
                        <li>
                            <input class="uploading" type="file" name="showlogo4">
                            <img class="upimg" src="__PUBLIC__/Home/static/new/img/icon/uploading.png" alt="" />
                        </li>
                        <li>
                            <input class="uploading" type="file" name="showlogo5">
                            <img class="upimg" src="__PUBLIC__/Home/static/new/img/icon/uploading.png" alt="" />
                        </li>
                    </ul>
                </div>
                <a class="buttons" href="javascript:setcom();">提交评价</a>
            </div>
            </form>
        </div>
        <div class="xiangxi">
            <h3>详细评价</h3>
            <ul>
            <volist name="info" id="list" key="key">
                <li>
                    <p><{$list.cont}></p>
                    <div style="clear: both;" class="cl"></div>

                    <?php
                        $img=M('comment_img')->field('showlogo')->where(['cid'=>$list['id']])->select();
                    ?>
                    <volist name="img" id="info">
                        <img src="__ROOT__/Uploads<{$info['showlogo']}>"/>
                    </volist>
                    <div style="clear: both;" class="cl"></div>
                    <div>
                        <span><{:date('Y-m-d H:i:s',$list['ptime'])}></span>
                        <i><{$list.nick_name}> (匿名)</i>
                    </div>
                </li>
            </volist>
            </ul>
            <div id="pages"><{$page}></div>
        </div>
    </div>
    <include file="public:pfoot" />
</body>
<script type="text/javascript" src="__PUBLIC__/Home/static/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/Admin/javascripts/layer/layer.js"></script>
<script>
$(function() {
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    $(".imgbox").on('change', 'ul li .uploading', function() {
        var objUrl = getObjectURL(this.files[0]);
        if (objUrl) {
            $(this).siblings('.upimg').css('display', 'none').parent().append('<img src="' + objUrl + '"/><i class="remove">×</i>');
            $(this).parent().next().css('display', 'block')
            return false;
        }
    })
    $(".imgbox").on('click', 'ul li .remove', function() {
        $('.imgbox ul').append('<li><input class="uploading" type="file" name="' + $(this).siblings('input').attr('name') + '"><img class="upimg" src="__PUBLIC__/Home/static/new/img/icon/uploading.png" /></li>');
        if ($('.imgbox ul li i').length == 5) {
            $('.imgbox ul li:last').css('display', 'block')
        }
        $(this).parent().remove();
    })
})
function setcom(){
    var cont=$("#cont").val();
    var url = "<{:U('Pcenter/setcom')}>";
    var fbg = new FormData($('#fbg')[0]);
    if(cont == ''){
        layer.msg('请写下您的评价!',{offset: '300px',time: 1500,icon: 7});
        return false;
    }
    $(".buttons").attr("href","#");
    var index = layer.load(0, {
      shade: [0.3,'#fff'] //0.1透明度的白色背景
    });
    $.ajax({
        type : 'post',
        url : url,
        data : fbg,
        async : false,
        processData:false,
        contentType:false,
        error : function () {
          layer.msg('网络故障，请稍后重试!',{offset: '300px',time: 1500,icon: 7});
        },
        success : function (responses) {
        if (responses == 'ok'){
            $(".buttons").attr("href","javascript:setcom();");
            layer.msg('发布成功',{offset: '300px',time: 1500,icon: 1},function () {
                window.location.reload();
            });
        }else{
            layer.msg(responses,{offset: '300px',time: 2000,icon: 2});
        }
      }
    });
}

</script>

</html>