header a.bianji{
	float: right;
	color: #808080;
	font-size: .466rem;
	line-height: 1.5rem;
}
ul li{
	padding-left: .4rem;
	background-color: #fff;
	margin-top: .333rem;
	position: relative;
	overflow: hidden;
}
ul li div.details{
	padding: .4rem .5rem .4rem 0;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
ul li input{
	float: left;
	display: block;
	width: .6rem;
	height: .6rem;
	position: absolute;
	top: 2rem;
	left: .42rem;
	opacity: 0;
}
ul li img{
	float: left;
	display: block;
	width: 3.666rem;
	height: 3.666rem;
	margin-right: .333rem;
}
ul li img.choose{
	display: block;
	width: .6rem;
	height: .6rem;
	margin: 1.6rem .4rem 0 0;
}
img.cho{
	display: block;
	width: .6rem;
	height: .6rem;
	margin: 1.6rem .4rem 0 0;
	display: none;
}

ul li p{
	font-size: .333rem;
	line-height: .733rem;
	color: #b3b3b3;
}
ul li p span{
	color: #ff3f50;
	font-size: .4rem;
}
ul li p.xiaofei{
	float: left;
}
ul li i{
	float: right;
	font-size: .3rem;
	color: #b3b3b3;
	line-height: .733rem;
}
ul li p.xiaoji{
	float: right;
	line-height: 1.466rem;
	margin-right: .5rem;
}
.amount{
	float: left;
	overflow: hidden;
	margin: .766rem 0 .5rem 0;
}
.amount span{
	float: left;
	display: block;
	width: .733rem;
	height: .733rem;
	background-color: #ededed;
	color: #fff;
	line-height: .7rem;
	text-align: center;
	border-radius: 2px;
}
.amount p{
	float: left;
	color: #4d4d4d;
	font-size: .366rem;
	width: 4.9rem;
	line-height: .733rem;
	text-align: center;
}
ul li h6{
	float: left;
	width: 6.333rem;
	line-height: .833rem;
	color: #808080;
	font-size: .333rem;
	padding: 0 .333rem;
	box-sizing: border-box;
	border-radius: 2px;
	background: #ededed url(../images/down.png) no-repeat right;
	-webkit-background-size: .333rem .166rem;
	background-size: .333rem .166rem;
	-webkit-background-origin: content;
	background-origin: content;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}
.xiangqing{
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 100000;
	display: none;
}
.xiangqing .pic{
	overflow: hidden;
	padding: .9rem .5rem;
	border-bottom: 1px solid #e6e6e6;
}
.xiangqing .pic h3{
	float: left;
	width: 3.6rem;
	height: 3.6rem;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-right: .5rem;
}
.xiangqing .pic img{
	display: block;
	width: 3.2rem;
	height: 3.2rem;
	margin: .2rem auto;
}
.xiangqing .pic p{
	float: left;
	width: 60%;
	font-size: .3rem;
	color: #b3b3b3;
	line-height: .833rem;
	margin-top: 1rem;
}
.xiangqing .pic p:last-child{
	margin-top: 0;
}
.xiangqing .pic p span{
	color: #ff3f50;
	font-size: .5rem;
}
.xiangqing .pic p i{
	color: #ff3f50;
	font-size: .3rem;
}
.xiangqing ul{
	padding: 0 .5rem;
	padding-bottom: .666rem;
	border-bottom: 1px solid #e6e6e6;
}
.xiangqing ul li{
	padding-top: .2rem;
}
.xiangqing ul li p{
	font-size: .4rem;
	color: #b3b3b3;
	line-height: 1.4rem;
}
.xiangqing ul li i.current{
	background-color: #ff1b2f;
}
.xiangqing ul li i{
	float: left;
	display: inline-block;
	font-size: .333rem;
	color: #fff;
	line-height: .8rem;
	background-color: #ccc;
	width: 2rem;
	text-align: center;
	border-radius: 2px;
	margin-right: .5rem;
}
.xiangqing .shuliang{
	padding: 0 .5rem;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 1.833rem;
}
.xiangqing .shuliang p{
	float: left;
	font-size: .4rem;
	color: #b3b3b3;
	line-height: 1.716rem;
}
.xiangqing .amount{
	float: right;
	margin-top: .5rem;
}
.xiangqing .amount p{
	line-height: .733rem;
	width: 2rem;
}
.xiangqing a{
	width: 50%;
	float: left;
	background-color: #ff1b2f;
	font-size: .4rem;
	color: #fff;
	line-height: 1.633rem;
	text-align: center;
}
.xiangqing a.jiaru{
	background-color: #ff5158;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	overflow: hidden;
}
footer input{
	position: absolute;
	top: .5rem;
	left: .4rem;
	width: .6rem;
	height: .6rem;
	opacity: 0;
}
footer img{
	float: left;
	display: block;
	width: .6rem;
	height: .6rem;
	float: left;
	margin: .5rem 0.4rem 0 .4rem;
}
footer img.cho{
	float: left;
	display: block;
	width: .6rem;
	height: .6rem;
	float: left;
	margin: .5rem 0.4rem 0 .4rem;
	display: none;
}
footer p{
	float: left;
	font-size: .4rem;
	color: #b3b3b3;
	line-height: 1.666rem;
}
footer p span{
	font-size: .5rem;
	color: #ff3f50;
}
footer button{
	float: right;
	width: 4.06rem;
	height: 1.666rem;
	line-height: 1.666rem;
	background-color: #ff001b;
	color: #fff;
	font-size: .5rem;
	text-align: center;
}