header a.bianji{
	float: right;
	color: #808080;
	font-size: .466rem;
	line-height: 1.5rem;
}
ul li{
	padding-left: .4rem;
	background-color: #fff;
	margin-top: .333rem;
	position: relative;
	overflow: hidden;
}
ul li div{
	padding: .4rem .5rem .4rem 0;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
ul li input{
	float: left;
	display: block;
	width: .6rem;
	height: .6rem;
	position: absolute;
	top: 2rem;
	left: .42rem;
	opacity: 0;
}
ul li img{
	float: left;
	display: block;
	width: 3.666rem;
	height: 3.666rem;
	margin-right: .333rem;
}
ul li img.choose{
	display: block;
	width: .6rem;
	height: .6rem;
	margin: 1.6rem .4rem 0 0;
	display: none;
}
img.cho{
	display: block;
	width: .6rem;
	height: .6rem;
	margin: 1.6rem .4rem 0 0;
	
}
ul li h3{
	font-size: .4rem;
	color: #333;
	line-height: .733rem;
}
ul li h4{
	font-size: .333rem;
	color: #b3b3b3;
	line-height: .833rem;
}
ul li p{
	font-size: .333rem;
	line-height: .733rem;
	color: #b3b3b3;
}
ul li p span{
	color: #ff3f50;
	font-size: .4rem;
}
/*ul li p.xiaofei{
	float: left;
}*/
ul li i{
	float: right;
	font-size: .3rem;
	color: #b3b3b3;
	line-height: .733rem;
}
ul li p.xiaoji{
	float: right;
	line-height: 1.466rem;
	margin-right: .5rem;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	overflow: hidden;
}
footer input{
	position: absolute;
	top: .5rem;
	left: .4rem;
	width: .6rem;
	height: .6rem;
	opacity: 0;
}
footer img{
	float: left;
	display: none;
	width: .6rem;
	height: .6rem;
	float: left;
	margin: .5rem 0.4rem 0 .4rem;
}
footer img.cho{
	float: left;
	display: block;
	width: .6rem;
	height: .6rem;
	float: left;
	margin: .5rem 0.4rem 0 .4rem;
	
}
footer p{
	float: left;
	font-size: .4rem;
	color: #b3b3b3;
	line-height: 1.666rem;
}
footer p span{
	font-size: .5rem;
	color: #ff3f50;
}
footer button{
	float: right;
	width: 4.06rem;
	height: 1.666rem;
	line-height: 1.666rem;
	background-color: #ff001b;
	color: #fff;
	font-size: .5rem;
	text-align: center;
}