<div class="sun" >
<?php if($comment){?>
    <volist name="comment" id="list">
        <div class="w_calculate_three">
            <div class="w_results_left">
                <div class="w_results_border">
                    <img class="lazy54" data-original="__ROOT__/Uploads<{$list.photo}>" src="__ROOT__/Uploads<{$list.photo}>" style="display: inline;">
                </div>
                <a><{$list.nick_name}></a>
            </div>
            <div class="w_results_right">
                <div class="w_results_top">
                    <a><{:date('Y-m-d H:i:s',$list['ptime'])}></a>
                </div>
                <div class="w_results_bottom">
                    <p style="overflow: hidden;text-overflow: ellipsis;width: 740px;display:block;"><{$list.cont}></p>
                    <div class="w_imgBorder">
                        
                        <?php
                            $img=M('comment_img')->field('showlogo')->where(['cid'=>$list['id']])->select();
                        ?>  
                        <volist name="img" id="info">
                            <a href="javascript:void(0)">
                                <img class="lazy200" data-original="__ROOT__/Uploads<{$info['showlogo']}>" src="__ROOT__/Uploads<{$info['showlogo']}>" style="display: inline;">
                            </a>
                        </volist>

                        <div class="w_clear"></div>
                    </div>
                </div>
            </div>
        </div> 
    </volist>  
<?php }else{?>
<img src="/Public/Home/static/img/zanwupingjia.png" style="display:block;margin:100px auto;">
<?php }?>
</div>
<div class="pager" id="pages" ><div><{$page}></div></div>