@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
}

html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

img {
    border: none;
    display: block;
}

a {
    text-decoration: none;
    outline: none;
    border: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

a:active {
    outline: none;
    border: none;
}

a:hover {
    outline: none;
    border: none;
}

body {
    background: #090303;
}

body > div {
    min-width: 1200px;
}

.p1 {
    background: url("../images/p1.png") no-repeat;
    height: 500px;
    background-position: center;
}

.p2 {
    background: url("../images/p2.png") no-repeat;
    height: 500px;
    background-position: center;
}

.p3 {
    background: url("../images/p3.png") no-repeat;
    height: 495px;
    background-position: center;
}

.p4 {
    background: url("../images/p4.png") no-repeat;
    height: 364px;
    background-position: center;
}

.p5 {
    background: url("../images/p5.png") no-repeat;
    height: 466px;
    background-position: center;
}

.p6 {
    background: url("../images/p6.png") no-repeat;
    height: 218px;
    background-position: center;
}

.footer {
    background-image: url("../images/bj.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.tab {
    margin: 0 auto;
    border-collapse: collapse;
}

.tab th {
    width: 192px;
    height: 69px;
    line-height: 69px;
    color: #d2b977;
    border: 1px solid #989797;

}

.tab .firstTr th {
    color: #fff;
    border-top: 1px solid #fff;
}

.tab .lastTr th {
    color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.tab tr th:nth-child(1) {
    width: 191px;
    border-left: 1px solid #fff;
}

.tab tr th:nth-child(2) {
    width: 191px;
}

.tab tr th:nth-child(3) {
    width: 244px;
}

.tab tr th:nth-child(4) {
    width: 418px;
    border-right: 1px solid #fff;
}

.redColor {
    color: #cf0700;
}

.lastTr th {
    padding-left: 37px;
}

.lastTr span {
    float: left;
    display: inline-block;
    margin-top: 13px;
    line-height: 40px;
}

.lastTr .bz {
    font-size: 20px;
    color: #d2b977;
}

.lastTr p {
    float: left;
    line-height: 39px;
    text-align: left;
    padding-left: 60px;
    padding-right: 30px;
}

.p7 {
    background: url("../images/p7.png") no-repeat;
    height: 65px;
    background-position: center;
    margin-bottom: 180px;
}
.p8 {
    background: url("../images/p8.png") no-repeat;
    height: 180px;
    background-position: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.btnBox {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.rg {
    position: absolute;
    width: 317px;
    height: 96px;
    left: 121px;
    bottom: 39px;
}

.cj {
    position: absolute;
    width: 317px;
    height: 96px;
    right: 127px;
    bottom: 39px;
}

.suspension{
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
}
.suspension_DV{
    width: 705px;
    min-height: 375px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -352px;
    margin-top: -186px;
    z-index: 3;
}
.close{
    position: absolute;
    top: -14px;
    right: -10px;
    cursor: pointer;
}
.tit{
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 18px;
    color: #333;
    border-bottom: 1px #ececec solid;
}
.numBox{
    overflow: hidden;
    padding-left: 60px;
    margin-top: 28px;
    margin-bottom: 22px;
}
.numBox img{
    cursor: pointer;
}
.numBox *{
    float: left;
    height: 47px;
    border: 1px #d7d7d7 solid;
    line-height: 47px;
    width: 47px;
}
.num{
    width: 485px;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
    font-size: 22px;
    color: #dd2726;
}
.buyText{
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 19px;
    line-height: 16px;
}
.VipList{
    padding-left: 60px;
    overflow: hidden;
}
.VipList span{
    display: inline-block;
    float: left;
    width: 105px;
    height: 37px;
    line-height: 37px;
    border: 1px solid #d7d7d7;
    border-radius: 1px;
    text-align: center;
    font-size: 17px;
    color: #555555;
    margin-right: 13px;
    cursor: pointer;
    margin-top: 4px;
}
.VipList span.cur{
    border-color: #dd2726;
}
.payMoney{
    text-align: center;
    font-size: 20px;
    line-height: 70px;
}
.payMoney i{
    color: #dd2726;
}
.Pay{
    width: 174px;
    height: 48px;
    line-height: 48px;
    color: #ffffff;
    font-size: 20px;
    background: #dd2726;
    margin: 0 auto;
    display: block;
    text-align: center;
    cursor: pointer;
    margin-bottom: 27px;
}
.tips{
	color: #D22623;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    display:none;
}

.header{width:100%;min-width:1200px;height:80px;overflow:hidden;background:#fff;}
.header_con{width:1200px;margin:0 auto;overflow:hidden;}
.header_con .b_logo{float:left;margin-top:22px;}
.header_con .a{font-size:18px;color:#BE1B26;float:right;line-height:80px;}