<style type="text/css">
.footer_change .footer .yFootSupport dl.dl_Time{
      padding-left: 195px;
}
.yFootBottomLeft{
  padding:0;
}
.footer_change .footer .yFootSupport{
  padding-bottom: 8px;
}
.yFootBottomRight{
      padding-top: 5px;
    padding-bottom: 5px;
}
.footer_change .footer .yFootSupport dl.dlLast dd{
      margin-left: 60px;
}
</style>
<div class="footer_change" >
      <div class="footer">
        
        <div class="yFootSupport" style="background:url(/Public/Home/static/img/front/index/footer_bg.jpg);">
          <div class="bt" style="font-size: 36px;font-weight: 200; color: #a9a9a9;text-align: center;padding-top: 30px;">
            “感谢有你，我们的坚持才更有意义”
        </div>
          <div class="yFootSupport_in">
            <dl class="dl_Time">
              <dd title="服务热线" style="background:url(/Public/Home/static/img/front/index/phone.png) no-repeat 0px 5px;margin-top: 29px;">400-814-0777</dd>
              <dd title="服务器时间" style="background:url(/Public/Home/static/img/front/index/time.png) no-repeat 0px 6px;background-size:21px;margin-top: 15px;" class="sysTime">00:00:00</dd>
            </dl>
            <dl class="dlLast">
              <a href="javascript:void(0);">
                <dd class="dlLast-WeChat">
                  <div class="y-popover">
                    <span class="y-arrow"></span>
                    <!-- <b>云购全球官方微信</b> -->
                    <img src="/Public/Home/static/img/front/cloud_global/fullPage/android_app.jpg" alt="">
                  </div>
                </dd>
              </a>
              <a href="javascript:void(0);">
                <dd class="dlLast-Android">
                  <div class="y-popover">
                    <span class="y-arrow"></span>
                    <!-- <b>扫二维码下载</b> -->
                    <img src="/Public/Home/static/img/front/cloud_global/fullPage/android_app.jpg" alt="">
                  </div>
                </dd>
              </a>
            </dl>
          </div>
          <div class="footer-time-list" id="pageEnd">
            <div class="yFootBottomRight">
              山西云购电子商务有限公司版权所有 © 2016 ICP证晋ICP备15005633号-1
            </div>
            <div class="yFootBottomLeft">
              <a href="http://si.trustutn.org/info?sn=836160421021216393517&certType=1" target="_blank" class="s_footer_icon"><img src="http://v.trustutn.org/images/cert/bottom_large_img.png"/></a>
              <a href="http://webscan.360.cn/index/checkwebsite/url/www.ygqq.com" class="yFootBottomLeft2" target="_blank"></a>
              <a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1325737350" target="_blank" class="yFootBottomLeft3"></a>
              <a href="http://218.26.1.108/businessPublicity.jspx?id=4FA23AC6152B1BAC3D5A1FF847D3D615" target="_blank" class="yFootBottomLeft4"></a>
              <a target="_blank" class="x_newadd_aBox" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=14019902000004">
              </a>
            </div>
          </div>
        </div>
        <div class="yFootBottom">
          <div class="yFootBottomIn" style="clear: both;">
            <p>友情链接：
              <a target="_blank" href="">大德通集团</a>
            </p>
          </div>
        </div>
      </div>
    </div>