<style type="text/css">
.footer_change .footer .yFootSupport dl.dl_Time{
      padding-left: 195px;
}
.yFootBottomLeft{
  padding:0;
}
.footer_change .footer .yFootSupport{
  padding-bottom: 8px;
}
.yFootBottomRight{
      padding-top: 5px;
    padding-bottom: 5px;
}
.footer_change .footer .yFootSupport dl.dlLast dd{
      margin-left: 60px;
}
</style>
<div class="footer_change" >
      <div class="footer">
        
        <div class="yFootSupport" style="background:url(/Public/Home/static/img/front/index/footer_bg.jpg);">
          <div class="bt" style="font-size: 36px;font-weight: 200; color: #a9a9a9;text-align: center;padding-top: 30px;">
            “感谢有你，我们的坚持才更有意义”
        </div>
          <div class="yFootSupport_in">
            <dl class="dl_Time">
              <dd title="服务热线" style="background:url(/Public/Home/static/img/front/index/phone.png) no-repeat 0px 5px;margin-top: 29px;"><?php echo $_SESSION['sc']['infor']['service']?></dd>
              <dd title="服务器时间" style="background:url(/Public/Home/static/img/front/index/time.png) no-repeat 0px 6px;background-size:21px;margin-top: 15px;" class="sysTime" id="showTime"></dd>
            </dl>
            <script>
            setInterval(function(){
              var date = new Date();
              var h = date.getHours();
              var i = date.getMinutes();
              var s = date.getSeconds();
              document.getElementById("showTime").innerHTML = ((h=h%12)<10?'0' + h:h) + ' : ' + (i<10?'0' + i:i) + ' : ' + (s<10?'0' + s:s);
            },500);
            </script>

            <dl class="dlLast">
              <a href="javascript:void(0);">
                <dd class="dlLast-WeChat">
                  <div class="y-popover">
                    <span class="y-arrow"></span>
                    <!-- <b>云购全球官方微信</b> -->
                    <img src="/<?php echo $_SESSION['sc']['infor']['weixinlogo']?>" alt="">
                  </div>
                </dd>
              </a>
              <a href="javascript:void(0);">
                <dd class="dlLast-Android">
                  <div class="y-popover">
                    <span class="y-arrow"></span>
                    <!-- <b>扫二维码下载</b> -->
                    <img src="/<?php echo $_SESSION['sc']['infor']['qqlogo']?>" alt="">
                  </div>
                </dd>
              </a>
            </dl>
          </div>
          <div class="footer-time-list" id="pageEnd">
            <div class="yFootBottomRight">
              <?php echo $_SESSION['sc']['infor']['copyright']?>
            </div>
            <div class="yFootBottomLeft">
              <a href="javascript:void(0);" target="_blank" class="s_footer_icon"><img src="http://v.trustutn.org/images/cert/bottom_large_img.png"/></a>
              <a href="javascript:void(0);javascript:void(0);" class="yFootBottomLeft2" target="_blank"></a>
              <a href="javascript:void(0);" target="_blank" class="yFootBottomLeft3"></a>
              <a href="javascript:void(0);" target="_blank" class="yFootBottomLeft4"></a>
              <a target="_blank" class="x_newadd_aBox" href="javascript:void(0);">
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="yFootBottom">
          <div class="yFootBottomIn" style="clear: both;">
            <p>友情链接：
              <a target="_blank" href=""></a>
            </p>
          </div>
        </div> -->
      </div>
    </div>