<style type="text/css">
.r-fixed{
  bottom: 140px;
}
</style>
<div class="r-fixed" style="visibility: hidden;">
        <ul class="r-fixed-nav">
            <li class="toolbar-item">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<?php echo $_SESSION['sc']['infor']['service']?>&amp;Site=qq&amp;Menu=yes" title="在线客服" target="_blank">
                    <div class="item-tip-c item-tip-kefu">
                        <div class="item-box">
                            <div class="item-tip">在线客服</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(/Public/Home/static/img/front/add_index/r-fixed2.png) no-repeat center center;"></i>
                </a>
            </li>
            <li class="toolbar-item">
                <a href="javascript:void(0);">
                    <div class="item-tip-c item-tip-wx">
                        <div class="item-box">
                            <u class="u-code u-g-ft-wx">
                                <img src="/<?php echo $_SESSION['sc']['infor']['weixinlogo']?>">
                            </u>
                            <div class="item-tip">关注微信</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(/Public/Home/static/img/front/add_index/r-fixed3.png) no-repeat center center;"></i>
                </a>
            </li>
            <li id="back" class="toolbar-item">
                <a href="javascript:void(0);">
                    <div class="item-tip-c item-tip-back">
                        <div class="item-box">
                            <div class="item-tip">返回顶部</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(/Public/Home/static/img/front/add_index/r-fixed6.png) no-repeat center center;"></i>
                </a>
            </li>
        </ul>
    </div>
    <!--E 2015 11 21 -->
<!--S 遮罩背景 -->