<div id="header">
<div class="header header_fixed">
      <div class="header header_fixed">
        <div class="header1">
          <div class="header1in">
            <ul class="headerul1 header_yytc">
              <li><a style="padding-left:33px;" href="/"><i class="header-home"></i>方大商城首页</a></li>
              <li><a><!-- 客服QQ：<?php echo $_SESSION['sc']['infor']['service']?> --></a></li>
              <!--<li>
                <span class="c_contact_icon c_kik">
                  <div id="wechat-popover-content" class="pophover-content popover bottom" style="top: 40px;left: -60px;">
                    <div class="arrow"></div>
                    <div class="popover-content">
                      <p style="white-space: nowrap">扫码云购全球微信</p>
                      <div style="width: 100px; height: 100px; margin-left: 10px;">
                        <img src="/<?php echo $_SESSION['sc']['infor']['weixinlogo']?>" width="100" height="100" border="0" alt="">
                      </div>
                    </div>
                  </div>
                </span>
                 <span class="c_contact_icon c_qq">
                  <div id="wechat-app-popover-content" class="pophover-content popover bottom" style="top: 40px;left: -60px;">
                    <div class="arrow"></div>
                    <div class="popover-content">
                      <p style="white-space: nowrap">扫码下载客户端</p>
                      <div style="width: 100px; height: 100px; margin-left: 10px;">
                        <img src="/Public/Home/static/img/front/cloud_global/fullPage/android_app.jpg" width="100" height="100" border="0" alt="">
                      </div>
                    </div>
                  </div>
                </span>
                <a href="http://weibo.com/u/5463325697?topnav=1&wvr=6&topsug=1&is_hot=1#_loginLayer_1474361903097" style="display:inline-block;" target="blank">
                  <span class="c_contact_icon c_microblog">
                    <div id="weibo-popover-content" class="pophover-content popover bottom" style="top: 40px;left: -60px;">
                      <div class="arrow"></div>
                      <div class="popover-content">
                        <p style="white-space: nowrap">云购全球新浪微博</p>
                        <div style="width: 100px; height: 100px; margin-left: 10px;">
                          <img src="/Public/Home/static/img/front/cloud_global/fullPage/cloud_xx.jpg" width="100" height="100" border="0" alt="">
                        </div>
                      </div>
                    </div>
                  </span>
                </a>
              </li> -->
            </ul>
            <ul class="headerul2">
              <li><a href="javascript:void(0);"><?php echo $_SESSION['sj']['account']?></a></li>
              <li><a href="<{:U('Mlogin/logout')}>">退出</a></li>
              <!-- <li class="MyzhLi">
                <a href="javascript:void(0);">个人中心<i class="top"></i></a>
                <dl class="Myzh">
                  <dd><a href="/member_new/recordWin.do">获得的商品</a></dd>
                  <dd><a href="/member_new/save.do">个人设置</a></dd>
                </dl>
              </li>
              <li><a href="/member/recharge/recharge.do">充值</a></li>
              <li><a href="/footer/cmsArticle.do?typeId=3">帮助</a></li> -->
            </ul>
          </div>
        </div>
        <div class="header2_out yNavIndexOut_fixed">
          <div class="header2 header2_yytc">
            <a href="/" class="header_logo"><img src="__ROOT__/<{$_SESSION['sc']['infor']['logo']}>"></a>
            <ul id="yMenuIndex" class="yMenuIndex">
                <li><a href="<{:U('Merchant/merchant')}>" class="yMenua">首页</a></li>
                <li><a href="<{:U('Merchant/infor')}>">基本设置</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>