<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/cart/shopping_car.css">
<title>购物车</title>
<style type="text/css">
.amount{
	float: left;
	overflow: hidden;
	margin-top: 0.2rem;
}
.amount span{
	float: left;
    display: block;
    width: .733rem;
    height: .733rem;
    background-color: #ededed;
    color: #fff;
    line-height: .7rem;
    text-align: center;
    border-radius: 2px;
}
.amount p{
	float: left;
    color: #4d4d4d;
    font-size: .366rem;
    width: 1.5rem;
    line-height: .733rem;
    text-align: center;
}
</style>
</head>
<body>
	<input type="hidden" id="mid" value="<?php echo $_SESSION['wap']['id']?>"/>
	<input type="hidden" id="sta" value="<?php echo $_SESSION['wap']['status']?>"/>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/cart/come_back.png" alt=""></a>
		<h3>购物车</h3>
	</header>
	<ul style="margin-bottom: 2rem;">
	<volist name="cartlist" id="list">	
		<li>
			<div>
				<input type="checkbox"  class="check_alls" name="items"  value="<{$list.id}>" checked="checked">
				<img class="cho" src="__PUBLIC__/Wap/images/cart/all.png" alt="">
				<img class="choose" src="__PUBLIC__/Wap/images/cart/choose1.png" alt="">
				<a href="<{:U('Good/goodlist',['id'=>$list['id']])}>"><img src="__ROOT__/Uploads<{$list.goods_logo}>" alt=""></a>
				<a href="<{:U('Good/goodlist',['id'=>$list['id']])}>"><h3>
					<?php if (strlen($list['goods_title'])>15) {
							echo mb_substr($list['goods_title'],0,15,'utf-8').'...';
						}else{
							echo $list['goods_title'];
						}
					?>
				</h3></a>
				<h3><{$list.name}></h3>
				<p>可用金：<span class="paynum"><{$list.price}></span></p>
				<p class="xiaofei">消费币：<span class="cfbnum"><{$list.xfb}></span></p>
				<font class="amount">
					<if condition="$list[kucun] elt 1">
						<span>-</span>
					<else />
						<span class="minus">-</span>
					</if>
					<p data-limit="<{$list.kucun}>" data-id="<{$list.id}>" class="buynum onlyNum"><{$list.buynum}></p>
					<input type="hidden" id="buynum_<{$list.id}>" value="<{$list.buynum}>">
					<if condition="$list[kucun] elt 1">
						<span >+</span>
					<else />
						<span class="add">+</span>
					</if>
				</font>
				<i><a class="bianji" href="javascript:del('<{$list.cart_id}>');">删除</a></i>
			</div>
			<input type="hidden" value="<{$list.id}>" name="goodid">
			<input type="hidden" value="<{$list.cart_id}>" name="cid">
			<p class="xiaoji">小计：<span class="paysum"><?php $paynum=$list['price']*$list['buynum'];$xfbnum=$list['xfb']*$list['buynum'];$fukuan=$paynum+$xfbnum;echo $fukuan;?></span></p>
		</li>
	</volist>	
	</ul>
	<footer>
		<input type="checkbox"  name="check" checked="checked">
		<img class="cho" src="__PUBLIC__/Wap/images/cart/all.png" alt="">
		<img class="choose" src="__PUBLIC__/Wap/images/cart/choose1.png" alt="">
		<p>实付款：<span class='payfor'></span></p>
		<button type="button" id="cartpay">结算</button>
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/cart/compile.js"></script>
<script src="__PUBLIC__/Wap/js/layer/layer.js"></script>
<script type="text/javascript">
$(function(){
	var o = 0;
	var ipt = $('.check_alls');
	for (var i = 0; i < $('.check_alls').length; i++) {
		if($(ipt[i]).is(':checked')){
			o = o + parseInt($(ipt[i]).parent().siblings().children('.paysum').html());//总额
		}
	}
	$('.payfor').html(o);//总额
})
// + -

var	i = 0;
$('.amount span.add').click(function(){
	i = parseInt($(this).siblings('.buynum').html());
	limit= parseInt($(this).siblings('.buynum').data('limit'));
	gid= parseInt($(this).siblings('.buynum').data('id'));
	if(i >= limit){//最大值
		i = limit;
	}else {
		i++;
	}
	$(this).siblings('p').html(i);
	$("#buynum_"+gid).val(i);
})
$('.amount span.minus').click(function(){
	i = parseInt($(this).siblings('.buynum').html());
	gid= parseInt($(this).siblings('.buynum').data('id'));
	if(i <= 1){
		i = 1;
	}else {
		i--;
	}
	$(this).siblings('p').html(i);
	$("#buynum_"+gid).val(i);
})
function del(id){
	var url = "<{:U('Cart/orderdel')}>";
    layer.open({
	    content: '您确定要删除吗？'
	    ,btn: ['确定', '取消']
	    ,skin: 'footer'
	    ,yes: function(index){
	      $.ajax({
                type : 'post',
                url : url,
                data : {id:id},
                error : function () {
                    layer.open({
				        content: '网络故障，请稍后重试！'
				        ,skin: 'msg'
				        ,time: 2 //2秒后自动关闭
				    });
				    return false;
                },
                success : function (responses) {
                    if (responses == 'ok'){
                        layer.open({
					        content: '删除成功！'
					        ,skin: 'msg'
					        ,time: 2 //2秒后自动关闭
					    });
					    setTimeout(function () { test(); }, 2005);
					    return false;
                    }else{
                        layer.open({
					        content: responses
					        ,skin: 'msg'
					        ,time: 2 //2秒后自动关闭
					    });
					    return false;
                    }
                }
            });
	    }
	  });
}
function test(){
	window.location.reload();
}
$("#cartpay").click(function(){
	var buy=[]; 
	var num='';
    $("input[name=items]").each(function(k,v) {  
        if ($(this).is(":checked")) { 
        	buynum=$("#buynum_"+$(this).val()+"").val();
        	buy.push({gid:$(this).val(),num:buynum});
        	sessionStorage.setItem("buyType",2);
        	sessionStorage.setItem("buyNum",JSON.stringify(buy));
        }
    });
    if(buy == ""){
    	layer.open({
	        content: '请选择商品！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
	    return false;
    }else{
    	gotoCartOrder();
    }
})
/**
 * 跳转到结算页面
 */
function gotoCartOrder(){
	var a = $("#mid").val();
    var b = $("#sta").val();
    if(b == '2'){//账号处于激活状态
        window.location.href = "<{:U('Order/confirm_order')}>";
    }else if(b == '3'){//账号处于冻结状态
        layer.open({
	        content: '账号处于冻结状态,请联系管理员解封！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
	    return false;
    }
}
</script>
</html>