<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/anquan/login_password.css">
<title>支付密码</title>
</head>
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/anquan/come_back.png" alt=""></a>
		<h3>支付密码</h3>
	</header>
	<form action="">
		<ul>
			<li class="no_border first">
				<h3>手机号</h3>
				<input readonly="readonly" type="number" placeholder="<?php echo $_SESSION['wap']['mobile']?>">
			</li>
			<li>
				<h3>短信验证码</h3>
				<input type="number" id="updEmailoldEvalidCode" maxlength="4" placeholder="请输入短信验证码">
				<span><a href="javascript:c_valid4_update_email_email_valid_code();" id="newpaysms" style="color: #fa3232;">发送验证码</a></span>
			</li>
			<li>
				<button type="button" class="c_mail_step1_update_email_validCode">下一步</button>
			</li>
		</ul>
	</form>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script src="__PUBLIC__/Wap/js/layer/layer.js"></script>
<script type="text/javascript">
//修改支付密码手机验证
function c_valid4_update_email_email_valid_code(){
    var a = "<?php echo $_SESSION['wap']['mobile']?>";
    var url = "<{:U('User/updateMobileOldCode')}>";
    var time=120;
    $.ajax({
        type: "post",
        url: url,
        dataType:'json',
        data:{
            mobile : a
        },
        success:function(data){
            if(data == 2){
                $("#newpaysms").attr("href","#");
                var t=setInterval(function  () {
                time--;
                    $("#newpaysms").html(time+"秒");
                    if (time==0) {
                        clearInterval(t);
                        $("#newpaysms").attr("href","javascript:c_valid4_update_email_email_valid_code();");
                        $("#newpaysms").html("重新获取");
                    }
                },1000) 
            }else if(data == 3){
                layer.open({
			        content: '验证码发送失败，请从新发送！'
			        ,skin: 'msg'
			        ,time: 2 //2秒后自动关闭
			    });
			    return false;
            }
        }
    });
}
$(".c_mail_step1_update_email_validCode").click(function () {
    var a = $("#updEmailoldEvalidCode").val();
    var b = "<?php echo $_SESSION['wap']['mobile']?>";
    var url = "<{:U('User/verifyOldPayValidCode')}>";
    if("" == a || null == a){
    	layer.open({
	        content: '\u9a8c\u8bc1\u7801\u4e0d\u80fd\u4e3a\u7a7a!'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
	    return false;
    }
    $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        data: {
            mobile: b,
            validCode: a
        },
        success: function (a) {
            if(a == 2){
                window.location.href="<{:U('User/pay_number')}>";
            }else{
                layer.tips('', "#updEmailoldEvalidCode");
                layer.open({
			        content: '验证码错误或已过期!'
			        ,skin: 'msg'
			        ,time: 2 //2秒后自动关闭
			    });
			    return false;
            }
        }
    })
});
</script>
</html>