<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/anquan/login_password.css">
<title>绑定银行卡</title>
<style>
ul li input{
	width: 6.5rem;
}
ul li:last-child{
    border-bottom: 1px solid #d6d7dc;
    margin-top: 0;
}
</style>
</head>
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/anquan/come_back.png" alt=""></a>
		<h3>绑定银行卡</h3>
	</header>
	<form action="">
		<ul>
			<li>
				<h3>姓名：</h3>
				<?php if($info['yhk_sta'] == 2){?>
          <input type="text" name="cardname" id="cardname" readonly="" maxlength="5" value="<{$info['yhk_name']}>">
        <?php }else{?>
          <input type="text" name="cardname" id="cardname" placeholder="请输入姓名"  maxlength="5">
        <?php }?>
			</li>
			<li>
				<h3>银行：</h3>
				  <select style="border: 1px solid #ddd;border-radius: 4px;height: 34px;width: 236px;background: 0;padding-left: 14px;" id="bank">
              <?php if($info['yhk_sta'] == 2){?>
                <option value="<{$info['yhk_type']}>"><{$info['yhk_type']}></option>
              <?php }else{?>
                <option value="工商银行">工商银行</option>
                <option value="建设银行">建设银行</option>
                <option value="农业银行">农业银行</option>
                <option value="招商银行">招商银行</option>
                <option value="交通银行">交通银行</option>
                <option value="中国银行">中国银行</option>
                <option value="民生银行">民生银行</option>
                <option value="兴业银行">兴业银行</option>
                <option value="浦发银行">浦发银行</option>
                <option value="中信银行">中信银行</option>
                <option value="光大银行">光大银行</option>
                <option value="华夏银行">华夏银行</option>
                <option value="晋商银行">晋商银行</option> 
                <option value="平安银行">平安银行</option> 
                <option value="邮政银行">邮政银行</option> 
                <option value="其他">其他</option> 
              <?php }?>
          </select>
			</li>
			<li class="no_border">
				<h3>卡号：</h3>
				  <?php if($info['yhk_sta'] == 2){?>
            <input type="text" id="cardnum" readonly="" name="cardnum" maxlength="20" value="<{$info['yhk_kh']}>">
          <?php }else{?>
            <input type="text" name="cardnum" id="cardnum" placeholder="请输入卡号" maxlength="20">
          <?php }?>
			</li>
			<?php if($info['yhk_sta'] == 3){?>
			<li>
				<button type="button" id="updateBankentication">设置</button>
			</li>
			<?php }?>
		</ul>
	</form>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script src="__PUBLIC__/Wap/js/layer/layer.js"></script>
<script>
//绑定银行卡
$("#updateBankentication").click(function(){
  var a=$("#cardname").val();
  var b=$("#bank option:selected").val();
  var c=$("#cardnum").val();
  var rel=/^(0|[1-9][0-9]*)$/;
  if(a == '' || a == null){
    layer.open({
        content: '请填写姓名!'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(c == ''){
    layer.open({
        content: '请填写卡号!'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(!rel.test(c)){
    layer.open({
        content: '卡号格式不正确!'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  $.ajax({
      type: "post",
      url: "<{:U('User/userbank')}>",
      data:{
          name : a,
          type : b,
          num : c
      },
      dataType:'json',
      success:function(data){
          if(data.msg == 'ok'){
            layer.open({
    		        content: '设置成功!'
    		        ,skin: 'msg'
    		        ,time: 2 //2秒后自动关闭
    		    });
    		    setTimeout(function () { test(); }, 2005);
          }else{
            layer.open({
		        content: data.msg
		        ,skin: 'msg'
		        ,time: 2 //2秒后自动关闭
		    });
		    return false;
          }
      }
  });
})
function test(){
	window.location.reload();
}
</script>
</html>