<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/user/cashier_desk.css">

<title>收银台</title>
</head>
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/user/come_back.png" alt=""></a>
		<h3>收银台</h3>
	</header>
	<div class="pay">
		<ul class="top">
			<li>
				<p>订单提交成功，请尽快付款！</p>
			</li>
			<li class="chongzhi">
				<p>应付金额：</p>
				<span><i class="payMoney"></i></span>
			</li>
			<li>
				<p>银行卡支付</p>
			</li>
		</ul>
		<ul class="bank_card">
			<li class="current">
				<img src="__PUBLIC__/Wap/images/user/zhonghang.png" alt="">
				<p>中国银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/nongye.png" alt="">
				<p>农业银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/gongshang.png" alt="">
				<p>工商银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/jianshe.png" alt="">
				<p>建设银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/jiaotong.png" alt="">
				<p>交通银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/zhaoshang.png" alt="">
				<p>招商银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/guangfa.png" alt="">
				<p>广发银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/zhongxin.png" alt="">
				<p>中信银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/minsheng.png" alt="">
				<p>民生银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/guangda.png" alt="">
				<p>光大银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/pingan.png" alt="">
				<p>平安银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/pufa.png" alt="">
				<p>浦发银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/youzheng.png" alt="">
				<p>邮政银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/huaxia.png" alt="">
				<p>华夏银行</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/xingye.png" alt="">
				<p>兴业银行</p>
			</li>
		</ul>
		<h3 class="thirdparty_title">第三方支付</h3>
		<ul class="thirdparty">
			<li>
				<img src="__PUBLIC__/Wap/images/user/weixin.png" alt="">
				<p>微信</p>
			</li>
			<li>
				<img src="__PUBLIC__/Wap/images/user/zhifubao.png" alt="">
				<p>支付宝</p>
			</li>
		</ul>
	</div>
	<footer>
		<p>实际付款：<span>￥<i class="payMoney"></i></span></p>
		<button type="button" id="paybao">立即付款</button>
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/user/cashier_desk.js"></script>
<script>
$(function(){
  var restoredSession = JSON.parse(sessionStorage.getItem('wapPayNum'));
  console.log(restoredSession);
  $(".payMoney").html((restoredSession[0]['pay'] * 1) + (restoredSession[0]['pay'] * 0.003));
  $("#paybao").click(function(){
    var url = "<{:U('User/paybao')}>";
    $.ajax({
        type : 'post',
        url : url,
        data : {pay:restoredSession[0]['pay'],type:restoredSession[0]['type']},
        dataType : 'json',
        error : function () {
            layer.msg('网络故障，请稍后重试!',{offset: '300px',time: 1500,icon: 7});
        },
        success : function (responses) {
            if (responses.msg == 'ok'){
              var pay=[]; 
              pay.push({pay:responses.flg});
              sessionStorage.setItem("payBao",JSON.stringify(pay));
              window.location.href = "<{:U('User/pay_show')}>";
            }else{
              layer.msg(responses.msg,{offset: '300px',time: 2000,icon: 2});
            }
        }
    });
  })
})
</script>
</html>