<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/Wap/css/user/dingdan.css">
	<title>订单支付</title>
</head>
<body>
	<header>
		<a href="#"><img src="__PUBLIC__/Wap/images/user/come_back.png" alt=""></a>
		<h3>订单支付</h3>
	</header>
	<div class="content">
		<i>如遇支付问题请联系万花筒微信工作号：<span>wht123ww</span></i>
		<ul>
			<li>
				<h3>网银在线支付</h3>
				<a href="#">去支付</a>
			</li>
			<li>
				<h3>线下转账汇款</h3>
				<p>银行收款账户名称：<span>王蓉</span></p>
				<p>银行卡开户行名称：<span>中信银行深圳八卦岭支行</span></p>
				<p>银行收款单位账号：<span>6217 6803 0383 1999</span></p>
				<p>线下转账汇款金额：<span>5015</span>元</p>
				<p>转账成功后截图保存并联系万花筒微信工作号：<span>wht123ww</span></p>
			</li>
		</ul>
	</div>
</body>
</html>