<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<title>管理收货地址</title>
</head>
<style type="text/css">
	header h3{
		margin-left: -1.5rem;
	}
	ul{
		background-color: #eee;
	}
	ul li{
		border-top: 1px solid #d9d9d9;
		padding: 0 .5rem;
	}
	ul li a{
		color: #606060;
		font-size: .5rem;
		line-height: 1.4rem;
	}
</style>
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/user/come_back.png" alt=""></a>
		<h3>请选择区/县</h3>
	</header>
	<ul id="sonli">
		
	</ul>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script>
	$(function(){
		var restoredSession = JSON.parse(sessionStorage.getItem('uAddress'));
		var url = "<{:U('User/ajaxdizhithree')}>";
	    var pid = "<?php echo $_GET['pid']?>";
	    var cid="<?php echo $_GET['cid']?>";
	    var id=restoredSession[0]['aid'];
	    console.log(id);
	    $.ajax({
	        type: "post",
	        url: url,
	        dataType:'json',
	        data:{city_id:cid},
	        success:function(data){
	        	var li='';
	            $.each(data,function(k,v){
	            	if(restoredSession[0]['type'] == 2){
	            		li+='<li><a href="<{:U(MODULE_NAME."/User/addressinfor/pid/'+pid+'/cid/'+cid+'/aid/'+v['id']+'")}>">'+v['name']+'</a></li>';
	            	}else if(restoredSession[0]['type'] == 3){
	            		li+='<li><a href="<{:U(MODULE_NAME."/User/addressinforset/pid/'+pid+'/cid/'+cid+'/aid/'+v['id']+'/id/'+id+'")}>">'+v['name']+'</a></li>';
	            	}
	            })
	            $("#sonli").append(li);
	        }
	    });
	})
</script>
</html>