<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/user/tixian.css">
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<title>转账</title>
</head>
<input type="hidden" id="uid" value="<{$_SESSION['wap']['id']}>">
<input type="hidden" id="sta" value="<{$_SESSION['wap']['status']}>">
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/user/come_back.png" alt=""></a>
		<h3>转账</h3>
	</header>
	<div class="anquan"><img src="__PUBLIC__/Wap/images/user/anquans.png" alt=""></div>
	<ul>
		<li>
			<h3>用户信息：</h3>
			<div>
				<p><i>可转金额：</i><span class="money" id="sumbal"><{$user['bal']}></span><input type="hidden" id="hidsum"></p>
				<p><i>转账金额：</i><input type="number" id="money" maxlength="5" placeholder="转账金额"></p>
				<p><i>接收账户：</i><input type="text" placeholder="接收账户手机号" id="mob" maxlength="11"/></p>
        <p><i>交易密码：</i><input type="password" id="paypass" maxlength="6" placeholder="交易密码"></p>
			</div>
		</li>
		<li>
			<div>
				<a href="javascript:void(0);" id="setpay">立即转账</a>
			</div>
		</li>
	</ul>
	<footer>
		<h3>温馨提示</h3>
		<p>1.若转账成功，但是接收人错误，请联系方大商城客服。</p>
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script src="__PUBLIC__/Wap/js/layer/layer.js"></script>
<script>

$("#money").blur(function(){
  var num = $("#money").val();
  var sum =parseInt($("#sumbal").html());
  var rel=/^\+?[1-9][0-9]*$/;
  if(num == '' || num == undefined || num == null ){
    $("#money").focus();
    layer.open({
        content: '金额不能为空！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(!rel.test(num)){
    $("#money").focus();
    layer.open({
        content: '金额错误！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(num > sum){
    $("#money").focus();
    layer.open({
        content: '您输入的金额，超过了可转账金额！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(num > 30000){
    $("#money").focus();
    layer.open({
        content: '单笔最多转账3万元！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(num < 100){
    $("#money").focus();
    layer.open({
        content: '单次转账不得小于100元！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
})
$("#setpay").click(function(){
    var num = $("#money").val();
    var pass=$("#paypass").val();
    var mob=$("#mob").val();
    var sum =parseInt($("#sumbal").html());
    var uid=$("#uid").val();
    var sta=$("#sta").val();
    var rel=/^\+?[1-9][0-9]*$/;
    var isMobile = /^0?1[3-8][0-9]\d{8}$/; // 手机号码验证规则
    if(sta == 3){
        layer.open({
	        content: '您的账户被冻结，请联系客服！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
    }else{
      if(num == '' || num == undefined || num == null ){
        layer.open({
	        content: '金额不能为空！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(!rel.test(num)){
        layer.open({
	        content: '金额错误！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(num > sum){
        layer.open({
	        content: '您输入的金额，超过了可转账金额！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(num > 30000){
        $("#money").focus();
        layer.open({
	        content: '单笔最多转账3万元！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(num < 100){
        $("#money").focus();
        layer.open({
  	        content: '单次转账不得小于100元！'
  	        ,skin: 'msg'
  	        ,time: 2 //2秒后自动关闭
  	    });
        return false;
      }
      if(mob == ''){
         layer.open({
            content: '请输入接收账户手机号！'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
        });
        return false;
      }
      if (!isMobile.test(mob)){
         layer.open({
            content: '请输入正确的手机号！'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
        });
        return false;
      }
      if(pass == ''){
        layer.open({
	        content: '密码不能为空！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      var url = "<{:U('User/dozhuandepsit')}>";
      var index = layer.open({
          type: 2,
          content: '处理中，请不要关闭页面！'
      });
      $.ajax({
          url: url,
          type: 'POST',
          dataType: 'json',
          data: {money:num,pass:pass,mobile:mob},
          success:function(data){
            if(data.msg == 'ok'){
              	layer.open({
  			        content: '转账成功！'
  			        ,skin: 'msg'
  			        ,time: 2 //2秒后自动关闭
  			    });
  			    setTimeout(function () { test(); }, 2005);
            }else{
              layer.open({
    			        content: data.msg
    			        ,skin: 'msg'
    			        ,time: 2 //2秒后自动关闭
    			    });
              setTimeout(function () { tests(); }, 2005);
              	return false;
            }
          }
      });
    }
  })
function test(){
	window.location.href = "<{:U('User/transfer')}>";
}
function tests(){
  window.location.reload();
} 	
</script>
</html>