<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/shezhi/instal.css">
<title>设置</title>
</head>
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/shezhi/come_back.png" alt=""></a>
		<h3>设置</h3>
	</header>
	<form action="">
		<ul>
			<li>
				<h3>个人头像</h3>
				<a href="<{:U('User/pic')}>"><img src="__ROOT__/Uploads<{$user['photo']}>" style="width: 1rem;width:1rem;float: right;    margin-right: .7rem;"></a>
			</li>
			<li class="no_border">
				<h3>修改昵称</h3>
				<span></span>
				<a href="<{:U('User/nickname')}>"><input readonly="readonly" type="text" placeholder="<{$user['nick_name']}>"></a>
			</li>
			<li>
				<a href="<{:U('Login/logout')}>"><button type="button">退出当前账号</button></a>
			</li>
		</ul>
	</form>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('ul li p').click(function(){
			$('.mask').show();
			$('.mask_con').show();
		})
		$('.mask').click(function(){
			$(this).hide();
			$('.mask_con').hide();
		})
	})
</script>