<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/user/member.css">
<title>方大商城--会员中心</title>
</head>
<body>
	<div class="header">
		<h3>个人中心</h3>
		<a href="<{:U('User/instal')}>"><img src="__PUBLIC__/Wap/images/user/shezhi.png" alt=""></a>
	</div>
	<div class="tx">
		<div class="touxiang">
			<div>
				<img class="touxiang" src="__PUBLIC__/Wap/images/user/touxiang.png" alt="">
			</div>
			<p><{$user['nick_name']}></p>
			<span>
			<?php
				$subcard= substr($_SESSION['wap']['mobile'],4,-4);
                $usercard= str_replace($subcard,'***',$_SESSION['wap']['mobile']);
                echo $usercard;
			?>
			</span>
		</div>
	</div>
	<div class="member_money">
		<ul>
			<li>
				<p><{$user['bal']}></p>
				<span>余额</span>
			</li>
			<li>
				<p><{$user['ke_bal']}></p>
				<span>可用金</span>
			</li>
			<li>
				<p><{$user['xfb_bal']}></p>
				<span>消费币</span>
			</li>
			<li>
				<p><{$user['fre_bal']}></p>
				<span>冻结</span>
			</li>
		</ul>
		<a href="<{:U('User/package')}>">我的套餐包</a>
	</div>
	<div class="my_order">
		<div class="title">
			<p>我的订单</p>
			<a href="<{:U('Order/order')}>">查看全部</a>
		</div>
		<ul>
			<li>
				<a href="<{:U('Order/payorderlist')}>">
					<img src="__PUBLIC__/Wap/images/user/fukuan.png" alt="">
					<p>待付款</p>
				</a>
				<?php if($fukan > 0){?>
					<span><{$fukan}></span>
				<?php }?>
			</li>
			<li>
				<a href="<{:U('Order/order_record')}>">
					<img src="__PUBLIC__/Wap/images/user/fahuo.png" alt="">
					<p>待发货</p>
				</a>
				<?php if($fahuo > 0){?>
					<span><{$fahuo}></span>
				<?php }?>
			</li>
			<li>
				<a href="<{:U('Order/shouhuo')}>">
					<img src="__PUBLIC__/Wap/images/user/shouhuo.png" alt="">
					<p>待收货</p>
				</a>
				<?php if($shouhuo > 0){?>
					<span><{$shouhuo}></span>
				<?php }?>
				
			</li>
			<li>
				<a href="<{:U('Order/pingjia')}>">
					<img src="__PUBLIC__/Wap/images/user/pingjia.png" alt="">
					<p>待评价</p>
				</a>
				<?php if($pingjia > 0){?>
					<span><{$pingjia}></span>
				<?php }?>
			</li>
		</ul>
	</div>
	<div class="member_info">
		<ul>
			<li>
				<a href="<{:U('User/package')}>">
					<img src="__PUBLIC__/Wap/images/user/anquan.png" alt="">
					<p>套餐管理</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="<{:U('User/transfer')}>">
					<img src="__PUBLIC__/Wap/images/user/anquan.png" alt="">
					<p>转账管理</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="<{:U('User/shenqing')}>">
					<img src="__PUBLIC__/Wap/images/user/anquan.png" alt="">
					<p>提现管理</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__PUBLIC__/Wap/images/index/huichang.png" alt="">
					<p>兑入记录</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="<{:U('User/financial')}>">
					<img src="__PUBLIC__/Wap/images/user/caiwu.png" alt="">
					<p>消费记录</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="<{:U('User/save')}>">
					<img src="__PUBLIC__/Wap/images/user/anquan.png" alt="">
					<p>安全中心</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="<{:U('User/address')}>">
					<img src="__PUBLIC__/Wap/images/user/dizhi.png" alt="">
					<p>收货地址</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			<li>
				<a href="<{:U('Order/order')}>">
					<img src="__PUBLIC__/Wap/images/user/dingdan.png" alt="">
					<p>订单记录</p>
					<span><img src="__PUBLIC__/Wap/images/user/more.png" alt=""></span>
				</a>
			</li>
			
			
		</ul>
	</div>
	<include file="public:foot" />
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
</html>