<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/user/shipments.css">
<title>万花筒--套餐包</title>
<style>
footer{
	background-color: #ee4a58;
    color: #fff;
    width: 100%;
    height: 1.666rem;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer a div{
	float: left;
    width: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -2rem;
}
footer a div img{
	display: block;
    float: left;
    width: .8rem;
    height: .7rem;
    margin: .45rem .25rem 0 0;
}
footer a div p{
	float: left;
    line-height: 1.666rem;
    font-size: .5rem;
    color: #fff;
}
.butsp{
	background-color: #dd2726;
    border: 1px solid #dcdcdc;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}
.butsps{
	background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #3c3c3c;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}
.more{
    width: 100%;
    color: #ddd;
    margin: 10px 0;
    border-radius: 2px;
    font-size: 20px;
    text-align: center; 
    display: none;
}
</style>
</head>
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/user/come_back.png" alt=""></a>
		<h3>我的套餐包</h3>
	</header>
	<div class="shipments_top">
		<p style="color:#ff3a4b;font-size:14px;"> 注意 : 在线支付银行收取0.3%手续费 </p>
	</div>
	<volist name="info" id="list">
		<div class="order_for_goods" id="pro">
			<ul>
				<li>订单编号：<span><{$list.number}></span> </li>
				<li>套餐包名称：<span>
					<if condition="$list[type] eq 2">
	                    正式会员
	                <elseif condition="$list[type] eq 3"/>
	                    银卡会员
	                <elseif condition="$list[type] eq 4"/>
	                    金卡会员
	                <elseif condition="$list[type] eq 5"/>
	                    钻石会员
	                </if>
				</span></li>
				<li>价格：<span><{$list.money}></span></li>
				<li>实际支付：<span><?php echo $list['money'] + ($list['money'] * 0.003);?></span></li>
				<li>购买时间：<span><{:date('Y-m-d H:i:s',$list[buy_time])}>	</span></li>
				<li>状态：<span>
					<if condition="$list[status] eq 2">
	                    待付款
	                <elseif condition="$list[status] eq 3"/>
	                    待使用
	                <elseif condition="$list[status] eq 5"/>
	                    已使用
	                <elseif condition="$list[status] eq 6"/>
	                    已作废
	                </if>
				</span></li>
			</ul>
			<h4><span>
				<if condition="$list[status] eq 2">
                    <a onclick='dopay(<{$list.id}>)' class="butsp">待付款</a>
                <elseif condition="$list[status] eq 3"/>
                    <a href="javascript:shiyong(<{$list.id}>);" class="butsps" style="color:red;">待使用</a>
                <elseif condition="$list[status] eq 5"/>
                    <font style="color:green;">已使用</font>
                <elseif condition="$list[status] eq 6"/>
                    <font style="color:#999;">已作废</font>
                </if>
			</span></h4>
		</div>
	</volist>
  <!-- 滚动加载 -->
    <?php if(!empty($info)){?>
        <div class="more" style="width:100%;height:30px;">
           <img alt="loading" src="__PUBLIC__/Wap/images/loading2.gif" style="height:30px">
        </div>
    <?php }?>
    <!-- 滚动加载 -->
	<footer>
		<if condition="$type eq 2">
        <a href="javascript:weifukuan();">
			<div>
				<img src="__PUBLIC__/Wap/images/user/car.png" alt="">
		           <p>购买套餐包</p>
			</div>
		</a>
      <elseif condition="$type eq 3"/>
        <a href="<{:U('User/checkstand')}>">
			<div>
				<img src="__PUBLIC__/Wap/images/user/car.png" alt="">
		           <p>购买套餐包</p>
			</div>
		</a>
      </if>
		
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script src="__PUBLIC__/Wap/js/layer/layer.js"></script>
<script>
function dopay(id){
  var url = "<{:U('Pcenter/doPayBaoOrder')}>";
  $.ajax({
    type: "POST",
    url: url,
    data: {oid:id},
    dataType: 'json',
    error : function () {
      layer.msg('网络故障，请稍后重试!',{offset: '300px',time: 2000,icon: 7});
    },
    success: function(data){
      if (data.msg == 'ok'){
          var pay=[]; 
          pay.push({pay:data.flg});
          sessionStorage.setItem("payBao",JSON.stringify(pay));
          window.location.href="<{:U('Pcenter/pay_show')}>";
      }else{
        layer.msg(data.msg,{offset: '300px',time: 2000,icon: 2});
        return false;
      }
    }
  });
}
function shiyong(id){
    var index = layer.msg('入金申请提交中,请不要关闭页面', {
      icon: 16,
      shade: 0.01,
      time: 0
    });
    var id = id;
    var url = "<{:U('Pcenter/shiyong')}>";
    $.ajax({
              type : 'post',
              url  : url,
              data : {id:id},
              success : function(data){
                  if(data == 'ok'){
                    layer.msg('入金成功,请登录万花筒平台查看!',{offset: '300px',time: 1500,icon: 1},function(){
                              location.href="<{:U('Pcenter/buy_bao_lst')}>"
                            });
                  }else{
                    layer.msg(data,{offset:'300px',area:'400px',time: 150009,icon: 7});
                  }
              }
          })
  }
function weifukuan(){
  	layer.open({
        content: '您有订单未付款，请您先付款!'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
}
var page = 0;
var is_loading = false;
$(function(){
//滚动加载
    var stop = true;
    $(window).scroll(function () {
        if ((screen.height + $(window).scrollTop()) >= $(document).height()) {
            if (stop == true) {
                stop = false;
                $(".more").show();
                if(!is_loading){
                    more();
                }
            };  
        }
    });
    function more(){
        is_loading = true;
        var ApiUrl =  "<{:U('User/listpage')}>";
        page++;
        $.ajax({
            url:ApiUrl,
            type: 'POST',
            dataType: 'JSON',
            data:{page:page,type:5},
            success:function(data){
                if (data == '') {
                    $('.more').text('没有更多记录了');
                }else{
                    is_loading = false;
                    var li = ""
                    for (var i = 0; i < data.length; i++) {
                        li +='<ul>';
                          li +='<li>订单编号：<span>'+data[i]['number']+'</span> </li>';
                          li +='<li>套餐包名称：<span>';
                          if(data[i]['type'] == 2){
                            li +='正式会员';
                          }else if(data[i]['type'] == 3){
                            li +='银卡会员';
                          }else if(data[i]['type'] == 4){
                            li +='金卡会员';
                          }else if(data[i]['type'] == 5){
                            li +='钻石会员';
                          }
                          li+=' </span></li>';
                          li +='<li>价格：<span><{$list.money}></span></li>';
                          li +='<li>实际支付：<span><?php echo $list['money'] + ($list['money'] * 0.003);?></span></li>';
                          li +='<li>购买时间：<span><{:date('Y-m-d H:i:s',$list[buy_time])}> </span></li>';
                          li +='<li>状态：<span>';
                          if(data[i]['status'] == 2){
                            li +='待付款';
                          }else if(data[i]['status'] == 3){
                            li +='待使用';
                          }else if(data[i]['status'] == 5){
                            li +='已使用';
                          }else if(data[i]['status'] == 6){
                            li +='已作废';
                          }
                          li +='</span></li>';
                        li +='</ul>';
                        li +='<h4><span>';
                        if(data[i]['status'] == 2){
                            li +='<a onclick="dopay('+data[i]['id']+')" class="butsp">待付款</a>';
                          }else if(data[i]['status'] == 3){
                            li +='<a href="javascript:shiyong('+data[i]['id']+');" class="butsps" style="color:red;">待使用</a>';
                          }else if(data[i]['status'] == 5){
                            li +='<font style="color:green;">已使用</font>';
                          }else if(data[i]['status'] == 6){
                            li +='<font style="color:#999;">已作废</font>';
                          }
                       li +=' </span></h4>';
                    };
                    $('#pro').append(li);
                }
                stop = true;
            }
        })
    }
//滚动加载结束
})
function getTime(/** timestamp=0 **/) {
  var ts = arguments[0] || 0;
  var t,y,m,d,h,i,s;
  t = ts ? new Date(ts*1000) : new Date();
  y = t.getFullYear();
  m = t.getMonth()+1;
  d = t.getDate();
  h = t.getHours();
  i = t.getMinutes();
  s = t.getSeconds();
  // 可根据需要在这里定义时间格式
  return y+'-'+(m<10?'0'+m:m)+'-'+(d<10?'0'+d:d)+' '+(h<10?'0'+h:h)+':'+(i<10?'0'+i:i)+':'+(s<10?'0'+s:s);
} 
</script>
</html>