<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/user/tixian.css">
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<title>立即提现</title>
</head>
<input type="hidden" id="uid" value="<{$_SESSION['wap']['id']}>">
<input type="hidden" id="sta" value="<{$_SESSION['wap']['status']}>">
<body>
	<header>
		<a href="javascript:window.history.back();"><img src="__PUBLIC__/Wap/images/user/come_back.png" alt=""></a>
		<h3>立即提现</h3>
	</header>
	<div class="anquan"><img src="__PUBLIC__/Wap/images/user/anquans.png" alt=""></div>
	<ul>
		<li>
			<h3>用户信息：</h3>
			<div>
				<p><i>金额：</i><span class="money" id="sumbal"></span><input type="hidden" id="hidsum"></p>
				<p><i>姓名：</i><span id="uname"></span></p>
				<p><i>银行：</i><span id="ubank"></span></p>
				<p><i>卡号：</i><span id="ukh"></span></p>
			</div>
		</li>
		<li>
			<div>
				<p><i>提现金额：</i><input type="number" id="money" maxlength="5"></p>
				<p><i>交易密码：</i><input type="password" id="paypass" maxlength="6"></p>
				<a href="javascript:void(0);" id="setpay">立即提现</a>
			</div>
		</li>
	</ul>
	<footer>
		<h3>温馨提示</h3>
		<p>1.若银行卡丢失或注销导致无法转出，请联系客服进行换卡。</p>
		<p>2.提现申请提交，会等待方大商城审核</p>
        <p>3.每日最多提现 5万元，单笔最多提现 5万元。</p>
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script src="__PUBLIC__/Wap/js/layer/layer.js"></script>
<script>
$(function(){
  checkBank();
})
function checkBank(){
  var url = "<{:U('User/checkBank')}>";
  $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      data: '',
      success:function(data){
        if (data.flg == 2){
          $("#uname").html(data.name);
          $("#ubank").html(data.type);
          $("#ukh").html(data.num);
          $("#sumbal").html('￥'+data.bal);
          $("#hidsum").val(data.bal);
        }else{
        	layer.open({
  		        content: data.msg
  		        ,skin: 'msg'
  		        ,time: 2 //2秒后自动关闭
  		    });
		      setTimeout(function () { test(); }, 2005);
          return false;
        }
      }
  });
}
function test(){
	window.location.href = "<{:U('User/bank')}>";
}
$("#money").blur(function(){
  var num = $("#money").val();
  var sum =parseInt($("#hidsum").val());
  var rel=/^\+?[1-9][0-9]*$/;
  if(num == '' || num == undefined || num == null ){
    $("#money").focus();
    layer.open({
        content: '金额不能为空！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(!rel.test(num)){
    $("#money").focus();
    layer.open({
        content: '金额错误！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(num > sum){
    $("#money").focus();
    layer.open({
        content: '您输入的金额，超过了可提现金额！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(num > 50000){
    $("#money").focus();
    layer.open({
        content: '单笔最多提现5万元！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
  if(num < 100){
    $("#money").focus();
    layer.open({
        content: '单次提现不得小于100元！'
        ,skin: 'msg'
        ,time: 2 //2秒后自动关闭
    });
    return false;
  }
})
$("#setpay").click(function(){
    var num = $("#money").val();
    var pass=$("#paypass").val();
    var sum =parseInt($("#hidsum").val());
    var uid=$("#uid").val();
    var sta=$("#sta").val();
    var rel=/^\+?[1-9][0-9]*$/;
    if(sta == 3){
        layer.open({
	        content: '您的账户被冻结，请联系客服！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
    }else{
      if(num == '' || num == undefined || num == null ){
        layer.open({
	        content: '金额不能为空！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(!rel.test(num)){
        layer.open({
	        content: '金额错误！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(num > sum){
        layer.open({
	        content: '您输入的金额，超过了可提现金额！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(num > 50000){
        $("#money").focus();
        layer.open({
	        content: '单笔最多提现5万元！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(num < 100){
        $("#money").focus();
        layer.open({
	        content: '单次提现不得小于100元！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      if(pass == ''){
        layer.open({
	        content: '密码不能为空！'
	        ,skin: 'msg'
	        ,time: 2 //2秒后自动关闭
	    });
        return false;
      }
      var url = "<{:U('User/userdepsit')}>";
      layer.open({
	    type: 2,
	    shadeClose: false,
	    content: '请不要关闭页面！'
	  });
      $.ajax({
          url: url,
          type: 'POST',
          dataType: 'json',
          data: {money:num,pass:pass},
          success:function(data){
            if(data.msg == 'ok'){
            	layer.open({
			        content: '申请成功！'
			        ,skin: 'msg'
			        ,time: 2 //2秒后自动关闭
			    });
			    setTimeout(function () { test(); }, 2005);
            }else{
              	layer.open({
			        content: data.msg
			        ,skin: 'msg'
			        ,time: 2 //2秒后自动关闭
			    });
              	return false;
            }
          }
      });
    }
  })
function test(){
	window.location.href = "<{:U('User/shenqing')}>";
}	
</script>
</html>