@charset "utf-8"; 
.red{
	color:#dd2726!important;
}
/*S2016-5-26*/
.s_details_left{
	 width:1210px;
	 float:none;
}
.s_details_text{
	float:left;
	width:492px;
	margin-left:30px;
}
.w_details_text .s_title{
	padding-bottom:22px;
	border-bottom: 1px dotted #999;
}
.s_goods_detail .w_line{
	width:478px;
	height:10px;
	border-radius:5px;
	overflow:hidden;
	margin:15px 0 20px;
}
.s_goods_detail .s_green{
	background:#7AC000;
	height:10px;
}
.s_goods_detail .w_line i{
	font-size:14px;
	color:#666666;
}
.s_goods_detail li.w_amount{
	color:#666666;
}
.s_goods_detail li i{
	margin-left:5px;
}
.s_goods_detail b{
	position:relative;
}
.s_goods_detail b em{
	margin-left:30px;
	font-size:12px;
	color:#999999;
}

.s_goods_detail .s_intro{
	width:374px;
	position:absolute;
	right:-430px;
	top:-55px;
	padding:10px 15px;
	border:1px solid #DDDDDD;
	z-index:11;
	background:#fff;
	display:none;
}
.s_goods_detail .s_intro i{
	position:absolute;
	top:55px;
	left:-25px;
	background:url("../../img/front/goods/s_jt.jpg") no-repeat center;
}
.s_goods_detail .s_intro p{
	font-size:13px;
	color:#666666;
	line-height:24px;
	border-bottom:none;
	margin:0;
}
.s_goods_detail .s_intro p strong{
	font-size:13px;
	color:#ed3b3b;
}
.s_detail_finish{
	width:100%;
	overflow:hidden;
}
.s_detail_finish .w_line{
	float:left;
	margin-right:25px;
}
.s_detail_finish .s_detail_plan{
	float:left;
	font-size:14px;
	color:#666666;
	margin-top:8px;
}
.s_goods_detail .w_cumulative{
	margin:30px 0 35px;
}
.s_goods_detail .w_rob{
	margin:0;
	padding:10px 0 40px 0;
	border-bottom:1px dotted #999999;
}
.s_goods_detail .s_detail_join{
	display:block;
	float:right;
	margin-right:30px;
	color:#ed3b3b;
}
.s_goods_detail .w_rob_another.y_rob_another dd a{
	width:206px;
	height:42px;
	line-height:42px;
}
.s_goods_detail .w_rob_another.y_rob_another dd a:hover{
	background:#d53034;
}
.s_goods_detail .w_rob_another.y_rob_another dd {
	background:#ED3B3B;
	height:40px;
	line-height:40px;
	width:206px;
	border-radius:3px;
	overflow:hidden;
	margin-left:0;
	border:1px solid #ED3B3B;
}
.s_goods_detail .w_rob_another.y_rob_another dd.w_slip_out,.s_goods_detail .w_rob_another.y_rob_another dd.w_slip_out a{
	background:none;
	color:#ed3b3b;
}
.s_goods_detail .w_rob_another.y_rob_another dd.w_slip_out{
	width:186px;
	padding-left:20px;
	border:1px solid #A8A8A8;
	background:#fff url("../../img/front/goods/s_cart.png") no-repeat 30px center;
}
.s_goods_detail .w_rob_another.y_rob_another dd.w_slip_out a:hover{
	background:none;
}

.s_details_left .w_details_choose{
	height:auto;
}
.s_details_left .s_security{
	border:none;
	width:100%;
}
.s_security li {
	background:url("../../img/front/goods/details.png") no-repeat left center;
	color: #888888;
	floar:left;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 12px 0 12px 25px;
	margin-right:8px;
}
.s_security .s_security_one{
	background:none;
	padding-left:0;
}
.s_security .w_security_one {
	background-position: 0 center;
}
.s_security .w_security_two {
	background-position: -121px center;
}
.s_security .w_security_three {
	background-position: -265px center;
	padding-left:36px;
}
.s_security .w_security_four {
	background-position: -455px center;
}
.s_winner_bg{
	width:99.8%;
	height:100px;
	margin-top:40px;
	border:1px solid #E9E9DC;
	background:#FEFEF0;
}
.w_winner_bg.s_winner_bg span{
	height:100px;
	line-height:100px;
	background:#FEFEF0;
	font-size:14px;
}
.s_winner_bg .w_not_logged a{
	color:#7AC000;
}
.s_details_bottom{
	margin-top:50px;
}
.s_winner_bg span.w_winner_more{
	height:auto;
	line-height:1;
	bottom:6px;
	color:#7ac000;
	font-size:12px;
}
.s_winner_bg.w_winner_list ul{
	width:628px;
}
.s_winner_bg.w_winner_list label{
	color:#555555;
}
.s_winner_bg.w_winner_list ul li{
	color:#555555;
}
.s_winner_bg b{
	display:block;
	font-size:12px;
	color:#555;
	padding-left:15px;
	line-height:20px;
}
.bdsharebuttonbox.s_detail_fx a{
	float:left;
	padding:0;
	width:22px;
	height:22px;
	line-height:22px;
	margin: 6px 6px 6px 0;
	
}
.bdsharebuttonbox.s_detail_fx .bds_tsina{
	background-position:-25px 0;
}
.bdsharebuttonbox.s_detail_fx .bds_qzone{
	background-position:-50px 0;
}
.bdsharebuttonbox.s_detail_fx .bds_renren{
	background-position:-75px 0;
}
.bdsharebuttonbox.s_detail_fx .bds_weixin{
	background-position:-100px 0;
}
.s_detail_fx span{
	float:left;
	font-size:12px;
	margin:8px 10px 0 0;
}
/*S往期揭晓*/
.s_detail_publish{
	width:1140px;
	margin:0 35px;
}
.s_detail_publish li{
	width:100%;
	height:155px;
	overflow:hidden;
	border-bottom:1px dashed #E3E3E3;
	display:table;
}
.s_detail_publish li .s_detail_all{
	display:table-cell;
	vertical-align: middle;
	font-size:16px;
	color:#555555;
}
.s_detail_periods{
	width:170px;
}
.s_detail_message,.s_detail_countdown{
	width:540px;
	padding-left:50px;
}
.s_detail_time{
	width:308x;
}
.s_detail_tx{
	float:left;
	margin:0 22px 0 0;
}
.s_detail_link{
	width:144px;
}
.s_detail_tx img{
	width:74px;
	height:74px;
}
.s_detail_text{
	float:left;
	text-align:left;
}
.s_detail_text p{
	font-size:14px;
	margin-bottom:17px;
	line-height:1;
}
.s_detail_text p.s_detail_last{
	margin:0;
}
.s_detail_text p b{
	color:#ed3b3b;
	font-weight:bold;
}
.s_detail_publish .s_detail_all a{
	color:#7ac000;
}
.s_pageStr{
	width:1210px;
}
.s_yTimes i{
	font-size:20px;
	color:#555555;
	float:left;
	line-height:48px;
	padding-left:50px;
	margin-right:30px;
	background:url("../../img/front/index/time.png") no-repeat 0 center / 24px auto;
}
.s_yTimes p{
	height: 42px;
    line-height: 42px;
}
.s_yTimes p b{
	background:url("../../img/front/goods/bg_03.png") no-repeat scroll 0 0 / 32px 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 32px;
}
.s_yTimes p span{
	margin:0 10px;
}
/*E往期揭晓*/
/*S倒计时*/
.s_count_down p.s_title{
	margin-bottom:5px;
}
.s_announce{
	width:100%;
	height:252px;
	background:url("../../img/front/goods/publish_bg.png") no-repeat center/100% auto;
	overflow:hidden;
}
.s_announce .s_announce_periods{
	display:block;
	padding-left:200px;
	font-size:16px;
	color:#ed3b3b;
	margin:66px 0 10px;
}
.s_announce .s_announce_periods i{
	margin:0 20px;
}
.s_announce_time{
	width:100%;
	text-align:center;
	background:url("../../img/front/goods/s_time.png") no-repeat 100px center;
}
.s_announce_time p{
	border-bottom:0;
	height:auto;
	line-height:1;
}
.s_announce_time p b,.s_announce_time p span{
	width:auto;
	height:auto;
	line-height:1;
	float:none;
	display:inline-block;
	background:none;
	font-size:80px;
	color:#ed3b3b;
	font-weight:bold;
	font-family:"Arial";
	margin-right:0;
}
.s_announce_luck{
	width:92%;
	padding:47px 0 20px;
	border-bottom:1px solid #FFDFA2;
	margin:0 4%;
	overflow:hidden;
}
.s_announce_luck li{
	float:left;
}
.s_announce_luck li b{
	font-size:50px;
	color:#ed3b3b;
	font-weight:bold;
	font-family:"Arial";
	line-height:43px;
}
.s_one{
	width:160px;
	padding-left:20px;
}
.s_two{
	width:280px;
}
.s_three{
	width:200px;
}
.s_luck_num i{
	display:block;
	width:113px;
	text-align:center;
	line-height:43px;
	font-size:20px;
	color:#fff;
	height:43px;
	line-height:43px;
	background:url("../../img/front/goods/luck.png") no-repeat center;
}
.s_announce_num{
	font-size:16px;
	color:#ed3b3b;
	line-height:43px;
	padding-left:20px;
	width:200px;
}
.s_announce_num i{
	margin-left:10px;
}
.s_ann_news{
	display:table;
	padding:23px 0;
	border:none;
}
.s_ann_news li{
	float:none;
	display:table-cell;
	vertical-align: middle;
}
.s_ann_img{
	position:relative;
}
.s_ann_img img{
	width:65px;
	height:65px;
	border-radius:50%;
	margin-left:30px;
}
.s_ann_xs p{
	font-size:13px;
	color:#555555;
	border-bottom:none;
	line-height:1;
	margin-bottom:10px;
}
.s_ann_xs p a,.s_ann_xs p i{
	color:#888888;
	font-size:13px;
	line-height:1;
}
.s_ann_xs p.s_cursor{
	cursor:pointer;
}
/*E倒计时*/
.s_detail_help{
	width:716px;
	border:1px solid #E9E9DC;
	background:#FEFEF0;
	margin-top:10px;
	padding:5px 10px 10px;
}
.s_detail_help li{
	display:inline-block;
}
.s_detail_help li p{
	font-size:13px;
	color:#555555;
	padding:0;
	border:none;
	margin:0;
	line-height:22px;
}
.s_detail_help li p em{
	color:#ed3b3b;
}
.s_detail_help li i{
	color:#888888;
	font-size:13px;
	line-height:1;
}
.s_detail_help .s_detail_solid{
	border-right:1px solid #E1E1E1;
	padding-right:40px;
	margin-right:20px;
}
.s_detail_help li b{
	color:#ed3b3b;
	line-height:1;
}
.s_detail_title{
	overflow:hidden;
	margin-bottom:5px;
}
.s_detail_refer span{
	float:left;
	display:block;
	font-size:14px;
}
.s_detail_formula{
	float:left;
	color:#555555;
}
.s_detail_refer{
	float:right;
}
.s_detail_refer a{
	color:#dd2726;
}
.s_about_us p{
	font-size:14px;
	color:#555555;
	padding:15px 0;
}
.s_about_us p b{
	margin-left:30px;
	cursor:pointer;
	font-size:14px;
	color:#555555;
	
}
.s_before_periods h3{
	font-size:18px;
	color:#555555;
}
.s_before_periods a{
	font-size:16px;
} 
.s_bofore_ing .w_line{
	width:451px;
	float:left;
	margin-top:20px;
}
.s_bofore_ing i{
	float:left;
	font-size:12px;
	color:#ed3b3b;
	margin:14px 0 0 10px;
}
.s_bofore_ing a{
	display:block;
	width:149px;
	height:42px;
	float:right;
	text-align:center;
	line-height:42px;
	font-size:20px;
	color:#fffefe;
	border-radius:3px;
	color:#fff;
	background:#ED3B3B;
	margin-top:-13px;
}
/*E2016-5-26*/

/*
