<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料"/>
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" />  
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/member.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/css/front/new_join.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/member_comm.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/balance.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/deal.css"/>
<style>
.butsp{
	background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #3c3c3c;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}
.butsp:hover{
	border: 1px solid #dd2726;
	color:#dd2726;
}
.state h3{
	width: 300px;
}
#back.toolbar-item{
    visibility: visible !important;
}
.r-fixed{
    visibility: visible !important;
}
</style>
<title>交易详情--方大商城</title>
</head>
<body>
	<include file="public:phead" />
	<div class="inner">
		<div class="deal_header">
			<p>您的位置：</p>
			<a href="/">首页 <span>></span></a>
			<a href="<{:U('Pcenter/account')}>">个人中心 <span>></span></a>
			<a href="#">订单详情 <span>></span></a>
		</div>
		<div class="deal_content">
			<ul class="schedule">
				<li class="current">1. 拍下商品</li>
				<if condition="$info[state] eq 2">
					<li class="current">2. 已付款</li>
                    <li class="current">3. 卖家发货</li>
					<li >4. 确认收货</li>
				<elseif condition="$info[state] eq 3"/> 
					<li class="current">2. 已付款</li>
                    <li >3. 卖家发货</li>
					<li >4. 确认收货</li>
				<elseif condition="$info[state] eq 4"/> 
					<li class="current">2. 已付款</li>
                    <li class="current">3. 卖家发货</li>
					<li class="current">4. 确认收货</li>
				<elseif condition="$info[state] eq 5"/> 
					<li >2. 已付款</li>
                    <li >3. 卖家发货</li>
					<li >4. 确认收货</li>
				</if>
			</ul>
			<div class="order_information">
				<div class="order_info">
					<h3>订单信息</h3>
					<ul>
						<?php
							$store=M('store')->field('store_name')->where(['sj_id'=>$info['sid']])->find();
						?>
						<li>
							<p>订单编号：</p><span><{$info['order_num']}></span>
						</li>
						<li>
							<p>下单时间：</p><span><{:date('Y-m-d H:i:s',$info['buytime'])}></span>
						</li>
						<li>
							<?php if($address['express_time']){?>
								<p>发货时间：</p><span><{:date('Y-m-d H:i:s',$address['express_time'])}></span>
							<?php }else{?>
								<p>发货时间：</p><span>未发货</span>
							<?php }?>
						</li>
						<li>
							<?php if($address['express_user']){?>
								<p>收货地址：</p><span><{$address['express_user']}></span>
							<?php }else{?>
								<p>收货地址：</p><span>未发货</span>
							<?php }?>
						</li>
						<li>
							<p>商家：</p><span><{$store['store_name']}></span>
						</li>
					</ul>
				</div>
				<div class="state">
					<img src="__PUBLIC__/Home/static/new/img/images/zhuangtai.png" alt="" />
	                <if condition="$info[state] eq 2">
						<h3>订单状态：商家已发货</h3>
						<p>
							您可以 , <a href="<{:U('Order/confirmpay',['order'=>$info['order_id']])}>" class="butsp">确认收货</a>
						</p>
					<elseif condition="$info[state] eq 3"/> 
						<h3>订单状态：买家已付款，等待商家发货</h3>
					<elseif condition="$info[state] eq 4"/> 
						<h3>订单状态：买家已 确认收货</h3>
					<elseif condition="$info[state] eq 5"/> 
						<h3>订单状态：等待买家付款</h3>
					</if>
					
				</div>
			</div>
			<div class="table">
				<table>
					<tr>
						<th>商品</th>
						<th>可用金</th>
						<th>消费币</th>
						<th>数量</th>
						<th>状态</th>
					</tr>
					<tr>
						<td>
							<a href="<{:U('Good/goodlist',['id'=>$info['id']])}>" target="_blank">
							<img src="__ROOT__/Uploads<{$info.goods_logo}>" alt="">
							<{$info['goods_title']}></a>
						</td>
						<td>
							<{$info['price']}>
						</td>
						<td>
							<{$info['xfb']}>
						</td>
						<td>
							<{$info['buynum']}>
						</td>
						<td>
							<if condition="$info[state] eq 2">
								已发货
							<elseif condition="$info[state] eq 3"/> 
								未发货
							<elseif condition="$info[state] eq 4"/> 
								确认收货
							<elseif condition="$info[state] eq 5"/> 
								等待付款
							</if>
						</td>
					</tr>
				</table>
			</div>
			<div class="product_info">
				<ul>
					<li>
						<p>商品总价：</p>
						<span>￥<{$info['sumpay']}></span>
					</li>
					<li>
						<p>运费（快递）：</p>
						<span>￥0.00</span>
					</li>
					<li>
						<h3>订单总价：</h3>
						<i>￥<{$info['sumpay']}></i>
					</li>
					<li>
						<h3>实付款：</h3>
						<em>￥<{$info['sumpay']}></em>
					</li>
				</ul>
			</div>
		</div>
		<div class="best_seller">
			<h3>热卖单品</h3>
			<ul>
			<volist name="good_tm" id="list">
				<li style="height: 345px;">
					<a href="<{:U('Good/goodlist',['id'=>$list['id']])}>" target="_blank">
						<img src="__ROOT__/Uploads<{$list.goods_logo}>" alt="">
						<div><s>￥<{$list['money']}></s> <i>可用金￥</i><{$list['price']}> <h4><i>消费币￥</i><{$list['xfb']}></h4></div>
						<h5><{$list['goods_title']}></h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：<{$list['sell']}></span>
						</div>
					</a>
				</li>
			</volist>	
			</ul>
		</div>
	</div>
	<include file="public:pfoot" />
</body>
</html>