<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="" />
<meta name="author" content="网页作者的资料"/>
<meta name="description" content="山西云购全球信息技术有限公司是专业、趣味汽车电商平台，以“特色众筹”为平台运营模式，致力于打造一个豪车梦想实现基地。"/>
<meta name="keywords"content="汽车、汽车网、云购、汽车云购、1元抢车"/>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__PUBLIC__/Home/static/min.css/new/css/header_footer.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/static/new/css/logistics.css"/>
<title></title>
<style type="text/css">
	.logistics_content{
		margin-bottom: 30px;
	}
	.logistics_info{
		border: 0;
	}
	.logistics_info img{
		display: block;
		border: 1px solid #eee;
	}
	.best_seller ul li img{
		display: block;
	}
</style>
</head>
<body>
	<include file="public:phead" />
	<div class="inner">
		<div class="deal_header">
			<p>您的位置：</p>
			<a href="#">首页 <span>></span></a>
			<a href="#">我的万花筒 <span>></span></a>
			<a href="#">物流信息</a>
		</div>
		<div class="logistics_content">
			<!-- <h3>包裹信息</h3>
			<div class="logistics_flow">
				<img src="__PUBLIC__/Home/static/new/img/images/nav0.png" alt="">
				<img src="__PUBLIC__/Home/static/new/img/images/nav1.png" alt="">
				<img src="__PUBLIC__/Home/static/new/img/images/nav3.png" alt="">
				<img class="last" src="__PUBLIC__/Home/static/new/img/images/nav2.png" alt="">
			</div>
			<div class="logistics_state">
				<h4>已签收</h4>
				<ul>
					<li>
						<h5>2018-01-15</h5>
						<h6>周一</h6>
						<div>
							<p><span>23：15：13</span>卖家发货</p>
						</div>
					</li>
					<li>
						<h5>2018-01-16</h5>
						<h6>周二</h6>
						<div>
							<p><span>20：01：14</span>在江苏江阴公司进行揽件扫描</p>
							<p><span>20：59：27</span>在江苏江阴公司进行下级地点扫描，即将发往：黑龙江哈尔滨网点包</p>
						</div>
					</li>
					<li>
						<h5>2018-01-17</h5>
						<h6>周三</h6>
						<div>
							<p><span>00：55：36</span>在分拨中心江苏苏州分拨中心进行称重扫描</p>
							<p><span>00：58：37</span>在江苏苏州分拨中心进行装车扫描，即将发往：黑龙江哈尔滨分拨中心</p>
						</div>
					</li>
					<li>
						<h5>2018-01-19</h5>
						<h6>周四</h6>
						<div>
							<p><span>23：04：29</span>在分拨中心黑龙江哈尔滨分拨中心进行卸车扫描</p>
							<p><span>23：16：05</span>从黑龙江哈尔滨分拨中心发出</p>
						</div>
					</li>
					<li>
						<h5>2018-01-20</h5>
						<h6>周五</h6>
						<div>
							<p><span>02：46：18</span>在黑龙江哈尔滨道里区群力公司进行发出扫描，将发往黑龙江哈尔滨道里区群力公司远大分部</p>
							<p><span>09：12：26</span>快件已签收</p>
						</div>
					</li>
				</ul>
			</div> -->
			<div class="logistics_info">
				<div>
					<img src="shangpin.png" alt="">
					<p>120.00 × 1</p>
				</div>
				<ul>
					<li>运单号码：<span>3831564895675</span></li>
					<li>物流公司：<span>韵达快递</span></li>
					<li>客服电话：<span>95546</span></li>
					<li>卖家昵称：<span>服装店</span></li>
					<li>发货地址：<span>江苏省无锡市江阴市 江苏省江阴市长泾镇兴园路109号巅峰服装专营店 214411 张先生 13234567890</span></li>
					<li>收货地址：<span>哈尔滨市道里区 000000 张* 132****7890</span></li>
				</ul>
			</div>
		</div>
		<div class="best_seller">
			<h3>热卖单品</h3>
			<ul>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="shangpin.png" alt="">
						<h4><i>￥</i>99.00 <s>￥299.00</s></h4>
						<h5>蒸汽朋克机械键盘圆键打字机键盘圆形复古</h5>
						<div>
							<span class="remai">热卖促销</span>
							<span>销量：5410</span>
						</div>
						<p>按键采用人体工程学设计悬浮按键设计科学</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<include file="public:pfoot" />
</body>
</html>