<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/good/classify.css">
<title>搜索</title>
<style type="text/css">
	.classify .nav ul li{
		float: left;
		border-bottom: 1px solid #ddd;
		padding: 0.2rem;
	}
</style>
</head>
<body>
	<include file="public:head" />
	<div class="classify">
		<div class="nav">
			<ul>
			<volist name="good_menu" id="list" key="key">
				<li>
					<a href="<{:U('Good/allgood',['sonid'=>$list['goods_class_id']])}>">
						<p><{$list.name}></p>
					</a>
				</li>
			</volist>	
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script type="text/javascript">
function seach(){
    var search = $('#keyword').val();  
    if(search){
        window.location.href="<{:U(MODULE_NAME.'/Seach/seach/query/"+search+"')}>";
    }else{
        window.location.href="<{:U('Seach/seach')}>";
    }   
}
$("#keyword").on('keypress',function(e) {  
        var keycode = e.keyCode;  
        var search = $('#keyword').val();  
        if(keycode=='13') {  
            //alert(searchName);
            if(search){
                window.location.href="<{:U(MODULE_NAME.'/Seach/seach/query/"+search+"')}>";
            }else{
                window.location.href="<{:U('Seach/seach')}>";
            }    
        }  
 });
</script>
</html>
