<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/good/classify.css">
<title>搜索</title>
</head>
<body>
	<include file="public:head" />
	<div class="classify">
		<div class="nav">
			<ul>
			<volist name="good_menu" id="list" key="key">
			<?php if($key == 1){?>	
				<li class="active" data-id="<{$list.goods_class_id}>">
					<img src="__PUBLIC__/Wap/images/good/choose.png" alt="">
					<p><{$list.name}></p>
				</li>
			<?php }else{?>
				<li data-id="<{$list.goods_class_id}>">
					<img src="__PUBLIC__/Wap/images/good/choose.png" alt="">
					<p><{$list.name}></p>
				</li>
			<?php }?>
			</volist>	
			</ul>
		</div>
		<div class="product">
			<ul class="current">
			<volist name="goods_cate_list" id="list">
				<li>
					<a href="<{:U('Good/allgood',['sonid'=>$list['goods_class_id']])}>">
						<h3><img src="__ROOT__/Uploads<{$list['mic']}>" alt=""></h3>
						<p><{$list.name}></p>
					</a>
				</li>
			</volist>	
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$('.classify .nav ul li').click(function(){
			var id=$(this).data('id');
			var ApiUrl =  "<{:U('Good/ajaxclass')}>";
			$(this).addClass('active').siblings().removeClass('active');
			$.ajax({
	            url:ApiUrl,
	            type: 'POST',
	            dataType: 'JSON',
	            data:{cid:id},
	            success:function(data){
                    var li = ""
                    for (var i = 0; i < data.length; i++) {
                    	li +='<li>';
						li +='<a href="<{:U(MODULE_NAME."/Good/allgood/sonid/'+data[i]['goods_class_id']+'")}>">';
							li +='<h3><img src="__ROOT__/Uploads'+data[i]['mic']+'" alt=""></h3>';
							li +='<p>'+data[i]['name']+'</p>';
						li +='</a>';
                        li +='</li>';
                    };
                    $('.current').html(li);
	            }
	        })
		})
	})
</script>