<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>">
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>">
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
<link rel="stylesheet" href="__PUBLIC__/Wap/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Wap/css/xinpin/new_product.css">
<title>特卖会场</title>
<style>
.more{
    width: 100%;
    color: #ddd;
    margin: 10px 0;
    border-radius: 2px;
    font-size: 20px;
    text-align: center; 
    display: none;
}
ul li{
    height: 8.8rem;
}
ul li h3{
    -webkit-line-clamp: 1;
}
</style>
</head>
<body>
	<include file="public:ghead" />
	<ul id="pro">
	<volist name="result" id="list">
		<li>
        <input type='hidden' class='limit' value='<?php echo $k?>'/>
			<a href="<{:U('Good/goodlist',['id'=>$list['id']])}>">
				<img src="__ROOT__/Uploads<{$list['goods_logo']}>" alt="">
				<div>
					<h3><{$list['goods_title']}></h3>
					<h4>可用金：<span>￥<i><{$list.price}></i></span></h4>
					<h5>消费币：<span>￥<i><{$list.xfb}></i></span></h5>
					<p>销量<i><{$list.sell}></i></p>
				</div>
				<em>新品</em>
			</a>
		</li>
	</volist>	
	</ul>
	<!-- 滚动加载 -->
    <?php if(!empty($result)){?>
        <div class="more" style="width:100%;height:30px;">
           <img alt="loading" src="__PUBLIC__/Wap/images/loading2.gif" style="height:30px">
        </div>
    <?php }?>
    <!-- 滚动加载 -->
	<include file="public:foot" />
</body>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/base.js"></script>
<script>
var page = 0;
var is_loading = false;
$(function(){
//滚动加载
    var stop = true;
    var start = $('#pro li:last .limit').val();
    if(start > 6){
        $(".more").show();
    }
    $(window).scroll(function () {
        if ((screen.height + $(window).scrollTop()) >= $(document).height()) {
            if (stop == true) {
                stop = false;
                $(".more").show();
                if(!is_loading){
                    more();
                }
            };  
        }
    });
    function more(){
        is_loading = true;
        var ApiUrl =  "<{:U('Good/goodpage')}>";
        page++;
        $.ajax({
            url:ApiUrl,
            type: 'POST',
            dataType: 'JSON',
            data:{page:page,type:3},
            success:function(data){
                if (data == '') {
                    $('.more').text('没有更多商品了');
                }else{
                    is_loading = false;
                    var li = ""
                    for (var i = 0; i < data.length; i++) {
                    	li +='<li>';
						li +='<a href="<{:U(MODULE_NAME."/Good/goodlist/id/'+data[i]['id']+'")}>">';
							li +='<img src="__ROOT__/Uploads'+data[i]['goods_logo']+'" alt="">';
							li +='<div>';
								li +='<h3>'+data[i]['goods_title']+'</h3>';
								li +='<h4>可用金：<span>￥<i>'+data[i]['price']+'</i></span></h4>';
								li +='<h5>消费币：<span>￥<i>'+data[i]['xfb']+'</i></span></h5>';
								li +='<p>销量<i><{$list.sell}></i></p>';
							li +='</div>';
							li +='<em>新品</em>';
						li +='</a>';
                        li +='</li>';
                    };
                    $('#pro').append(li);
                }
                stop = true;
            }
        })
    }
//滚动加载结束
})
</script>
</html>