.shipments_address{
	padding: 0 .4rem;
	overflow: hidden;
	background: #fff url(../../images/good/more.png) no-repeat right;
	-webkit-background-size: .3rem .5rem;
	background-size: .3rem .5rem;
	-webkit-background-origin: content;
	background-origin: content;
}
.shipments_address i{
	display: block;
	width: 100%;
	height: .066rem;
	background: url(../../images/good/dixian.png) no-repeat right;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: 1.5rem;
	left: 0;
}
.shipments_address img{
	float: left;
	width: .7rem;
	height: .8rem;
	margin: .7rem .5rem .583rem 0;
}
.shipments_address h3{
	float: left;
	width: 88%;
	font-size: .433rem;
	color: #333;
	line-height: .8rem;
	margin: .366rem 0 .283rem 0;
}
.shipments_address h3 span{
	margin-left: .666rem;
}
.shipments_address p{
	float: left;
	color: #999;
	font-size: .3rem;
	line-height: .3rem;
}
.shipments_address p span{
	color: #333;
}
.info{
	padding-left: .5rem;
	background-color: #fff;
	overflow: hidden;
}
.info h3{
	font-size: .433rem;
	color: #4d4d4d;
	line-height: 1.466rem;
	border-bottom: 1px solid #e6e6e6;
}
.info div{
	padding: .4rem .5rem .4rem 0;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
}
.info div img{
	float: left;
	display: block;
	width: 3.66rem;
	height: 3.66rem;
	margin-right: .333rem;
}
.info div h4{
	font-size: .433rem;
	line-height: .833rem;
	color: #4d4d4d;
}
.info div h5{
	font-size: .3rem;
	color: #b3b3b3;
	line-height: 1rem;
}
.info div p{
	float: left;
	font-size: .4rem;
	color: #b3b3b3;
	line-height: .7rem;
}
.info div p span{
	color: #ff3f50;
}
.info div i{
	float: right;
	color: #b3b3b3;
	font-size: .3rem;
	line-height: .7rem;
}
.info h6{
	float: right;
	line-height: 1.466rem;
	font-size: .3rem;
	color: #b3b3b3;
	margin-right: .5rem;
}
.info h6 span{
	font-size: .5rem;
	color: #ff3f50;
}
ul{
	background-color: #fff;
	margin-top: .333rem;
	padding: 0 .5rem;
}
ul li{
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
}
ul li p{
	float: left;
	line-height: 1.466rem;
	font-size: .4rem;
	color: #b3b3b3;
}
ul li span{
	float: right;
	color: #ff3f50;
	font-size: .4rem;
	line-height: 1.466rem;
}
ul li:last-child span{
	font-size: .6rem;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: #fff;
	padding-left: .5rem;
	box-sizing: border-box;
}
footer p{
	float: left;
	font-size: .4rem;
	color: #b3b3b3;
	line-height: 1.666rem;
}
footer p span{
	color: #ff3f50;
	font-size: .6rem;
}
footer button{
	float: right;
	width: 4.066rem;
	height: 1.666rem;
	line-height: 1.666rem;
	color: #fff;
	background-color: #ff1b2f;
	font-size: .5rem;
}
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 10000;
	display: none;
}
.pay_password{
	width: 11.5rem;
	border-radius: 5px;
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -3.66rem 0 0 -5.75rem;
	z-index: 10000;
	display: none;
	overflow: hidden;
}
.pay_password h3{
	font-size: .5rem;
	color: #4d4d4d;
	line-height: 1.466rem;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
}
/********************************** 支付密码开始  *******************************************/
.alieditContainer .i-text {
    width: 8.4rem;
    height: .833rem;
    font-size: .3rem;
	text-align: center;
	overflow: hidden;
	display: block;
	padding: .3rem 0;
	line-height: .833rem;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background-color: #f5f5f5;
	position: absolute;
	left: 50%;
	margin-left: -4.1rem;
	opacity: 0;	
	color: #f5f5f5;
	-webkit-user-select: initial;
    border-radius: 5px;
    outline: none;
}

.alieditContainer .sixDigitPassword {
	width: 8.4rem;
	text-align: center;
	overflow: hidden;
	display: block;
	padding: .3rem 0;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background-color: #f5f5f5;
	margin: 1.5rem 0 1.5rem 1.7rem;
}

.alieditContainer .sixDigitPassword i {
float: left;
	font-size: .666rem;
	text-align: center;
	width: 1.333rem;
	height: .833rem;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border: 0;
	border-right: 1px solid #e6e6e6;
	background-color: #f5f5f5;
}
.alieditContainer .sixDigitPassword i:last-child{
	border: 0;
}

.alieditContainer .sixDigitPassword i:first-child {
    border-left: 0;
}

/* 下面为光标样式 */

/*.alieditContainer .sixDigitPassword i.active {
    background-image: url("https://t.alipayobjects.com/images/rmsweb/T1nYJhXalXXXXXXXXX.gif");
    background-repeat: no-repeat;
    background-position: center center;
}*/

.alieditContainer .sixDigitPassword b {
    display: block;
    margin: .25rem auto 0 auto;
    width: .3rem;
    height: .3rem;
    line-height: .833rem;
    overflow: hidden;
    display: none;
    background: #000;
    border-radius: 100%;
}
/********************************** 支付密码结束  *******************************************/
.pay_password button{
	display: block;
	width: 100%;
	background-color: #fff;
	font-size: .5rem;
	color: #ff1b2f;
	line-height: 1.466rem;
	border-top: 1px solid #e6e6e6;
	text-align: center;
}
.pay_password span{
	display: block;
	width: .7rem;
	height: .7rem;
	background: url(../images/off.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: .4rem;
	right: .5rem;
}

/*//////////////////////////////////////////////////////*/
.pay_success{
	width: 92%;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3.75rem 0 0 -46%;
	overflow: hidden;
	display: none;
	z-index: 10001;
}
.pay_success h3{
	font-size: .5rem;
	color: #4d4d4d;
	line-height: 1.466rem;
	border-bottom: 1px solid #d6d7dc;
	text-align: center;
}
.pay_success img{
	display: block;
	width: 2.333rem;
	height: 2.333rem;
	margin: 1.233rem auto .666rem auto;
}
.pay_success h4{
	font-size: .5rem;
	color: #808080;
	line-height: .5rem;
	text-align: center;
	margin-bottom: 1.233rem;
}
.pay_success span{
	display: block;
	width: .666rem;
	height: .666rem;
	background: url(../../images/good/off.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: .4rem;
	right: .5rem;
}