body{
	font: 1.5em Verdana, Sans-Serif;
}
.order_record_tit{
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #fff;
}
.order_record_tit p{
	float: left;
	width: 20%;
	text-align: center;
	color: #3e4346;
	font-size: 0.3rem;
	line-height: 1.333rem;
	white-space: nowrap;
}
.order_record_tit p.current{
	color: #ff3a4b;
}
.order_record_con ul li{
	background-color: #fff;
	padding: 0 0 0 .4rem;
	margin-top: .333rem;
	overflow: hidden;
}
.order_record_con ul li .top{
	overflow: hidden;
	padding-right: .4rem;
}
.order_record_con ul li .top img{
	float: left;
	display: block;
	width: .5rem;
	height: .466rem;
	margin: .455rem .233rem 0 .1rem;
}
.order_record_con ul li .top p{
	float: left;
	color: #4d4d4d;
	font-size: .366rem;
	line-height: 1.333rem;
}
.order_record_con ul li .top span{
	float: right;
	color: #ff3f50;
	font-size: .4rem;
	line-height: 1.333rem;
}
.order_record_con ul li .center{
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: .333rem .4rem .333rem 0;
}
.order_record_con ul li .center img{
	float: left;
	display: block;
	width: 2.533rem;
	height: 2.533rem;
	margin-right: .5rem;
}
.order_record_con ul li .center h3{
	float: left;
	width: 8.666rem;
	font-size: .4rem;
	color: #333;
	font-weight: normal;
	margin-bottom: .2rem;
}
.order_record_con ul li .center p{
	float: left;
	width: 65%;
	font-size: .4rem;
	color: #333;
}
.order_record_con ul li .center span{
	float: right;
	color: #808080;
	font-size: .4rem;
}
.order_record_con ul li .bottom{
	overflow: hidden;
	padding: 0 .4rem;
	line-height: 1.333rem;
}
.order_record_con ul li .bottom h4,
.order_record_con ul li .bottom h3{
	float: right;
	font-size: .4rem;
	color: #808080;
	font-weight: normal;
	margin-left: .3rem;
}
.order_record_con ul li .bottom h4 i{
	font-size: .5rem;
	line-height: 1.333rem;
	color: #ff3a4b;
}
.order_record_con ul li .btn{
	overflow: hidden;
	padding-right: .5rem;
}
.order_record_con ul li .btn a{
	float: right;
	background-color: #ee5156;
	height: .666rem;
	line-height: .666rem;
	border: 1px solid #ee5156;
	font-size: .333rem;
	color: #fff;
	padding: 0 .3rem;
	border-radius: 3px;
	margin: .333rem 0 0.333rem .366rem;

}
.order_record_con ul li .btn a.goumai{
	background-color: #fff;
	border: 1px solid #ee5156;
	color: #ee5156;
}
.order_record_con ul li button{
	float: right;
	background-color: #ee5156;
	height: .8rem;
	border: 1px solid #ee5156;
	font-size: .333rem;
	color: #fff;
	padding: 0 .3rem;
	border-radius: 3px;
	margin: .333rem .5rem 0.333rem .366rem;
}
.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 10000;
	display: none;
}
.mask .pay_password{
	width: 92%;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3.75rem 0 0 -46%;
	overflow: hidden;
	display: none;
}
.mask .pay_password h3{
	font-size: .5rem;
	color: #4d4d4d;
	line-height: 1.466rem;
	border-bottom: 1px solid #d6d7dc;
	text-align: center;
}
.mask .pay_password button{
	font-size: .5rem;
	color: #ed1c24;
	border-top: 1px solid #d6d7dc;
	display: block;
	width: 100%;
	background-color: #fff;
	line-height: 1.5rem;
}
.mask .pay_password em{
	display: block;
	width: .666rem;
	height: .666rem;
	background: url(../../images/order/off.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: .4rem;
	right: .5rem;
}
.mask .pay_success{
	width: 92%;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3.75rem 0 0 -46%;
	overflow: hidden;
	display: none;
}
.mask .pay_success h3{
	font-size: .5rem;
	color: #4d4d4d;
	line-height: 1.466rem;
	border-bottom: 1px solid #d6d7dc;
	text-align: center;
}
.mask .pay_success img{
	display: block;
	width: 2.333rem;
	height: 2.333rem;
	margin: 1.233rem auto .666rem auto;
}
.mask .pay_success h4{
	font-size: .5rem;
	color: #808080;
	line-height: .5rem;
	text-align: center;
	margin-bottom: 1.233rem;
}
.mask .pay_success em{
	display: block;
	width: .666rem;
	height: .666rem;
	background: url(../../images/order/off.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: .4rem;
	right: .5rem;
}
/********************************** 支付密码开始  *******************************************/
.alieditContainer .i-text {
    width: 8.4rem;
    height: .833rem;
    font-size: .3rem;
	text-align: center;
	overflow: hidden;
	display: block;
	padding: .3rem 0;
	line-height: .833rem;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background-color: #f5f5f5;
	position: absolute;
	left: 50%;
	margin-left: -4.1rem;
	opacity: 0;	
	color: #f5f5f5;
	-webkit-user-select: initial;
    border-radius: 5px;
    outline: none;
}

.alieditContainer .sixDigitPassword {
	width: 8.4rem;
	text-align: center;
	overflow: hidden;
	display: block;
	padding: .3rem 0;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background-color: #f5f5f5;
	margin: 1.5rem 0 1.5rem 1.7rem;
}

.alieditContainer .sixDigitPassword i {
float: left;
	font-size: .666rem;
	text-align: center;
	width: 1.333rem;
	height: .833rem;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border: 0;
	border-right: 1px solid #e6e6e6;
	background-color: #f5f5f5;
}
.alieditContainer .sixDigitPassword i:last-child{
	border: 0;
}

.alieditContainer .sixDigitPassword i:first-child {
    border-left: 0;
}

/* 下面为光标样式 */

/*.alieditContainer .sixDigitPassword i.active {
    background-image: url("https://t.alipayobjects.com/images/rmsweb/T1nYJhXalXXXXXXXXX.gif");
    background-repeat: no-repeat;
    background-position: center center;
}*/

.alieditContainer .sixDigitPassword b {
    display: block;
    margin: .25rem auto 0 auto;
    width: .3rem;
    height: .3rem;
    line-height: .833rem;
    overflow: hidden;
    display: none;
    background: #000;
    border-radius: 100%;
}
/********************************** 支付密码结束  *******************************************/