body{
	padding-bottom: 1.7rem;
}
.shipments_top{
	padding: 0 0 0 .4rem;
	background-color: #fff;
	overflow: hidden;
	
	padding-right: .4rem;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.shipments_top img{
	float: left;
	display: block;
	width: .5rem;
	height: .466rem;
	margin: .455rem .233rem 0 .1rem;
}
.shipments_top p{
	float: left;
	color: #4d4d4d;
	font-size: .366rem;
	line-height: 1.333rem;
}
.shipments_top span{
	float: right;
	color: #ff3f50;
	font-size: .4rem;
	line-height: 1.333rem;
}
.shipments_center{
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	padding: .333rem .4rem .333rem .4rem;
	margin-top: .333rem;
}
.shipments_center img{
	float: left;
	display: block;
	width: 2.533rem;
	height: 2.533rem;
	margin-right: .5rem;
}
.shipments_center h3{
	float: left;
	width: 8.666rem;
	font-size: .4rem;
	color: #333;
	font-weight: normal;
	margin-bottom: .2rem;
}
.shipments_center p{
	float: left;
	width: 65%;
	font-size: .4rem;
	color: #333;
}
.shipments_center span{
	float: right;
	color: #808080;
	font-size: .4rem;
}
.shipments_bottom{
	padding: 0 0 0 .4rem;
	background-color: #fff;
	overflow: hidden;
	padding: 0 .4rem;
	line-height: 1.333rem;
}
.shipments_bottom h4,
.shipments_bottom h3{
	float: right;
	font-size: .4rem;
	color: #808080;
	font-weight: normal;
	margin-left: .166rem;
}
.shipments_bottom h4 i{
	font-size: .5rem;
	line-height: 1.333rem;
	color: #ff3a4b;
}
.shipments_address{
	padding: 0 .4rem;
	background-color: #fff;
	overflow: hidden;
}
.shipments_address img{
	float: left;
	width: .7rem;
	height: .8rem;
	margin: .5rem .5rem .583rem 0;
}
.shipments_address h3{
	float: left;
	width: 88%;
	font-size: .433rem;
	color: #333;
	line-height: .433rem;
	margin: .366rem 0 .283rem 0;
}
.shipments_address h3 span{
	margin-left: .666rem;
}
.shipments_address p{
	float: left;
	color: #808080;
	font-size: .3rem;
	line-height: .3rem;
}
.order_for_goods{
	padding: 0 .5rem;
	margin: .333rem 0;
	background-color: #fff;
	overflow: hidden;
}
.order_for_goods h3{
	font-size: .4rem;
	color: #808080;
	line-height: 1.333rem;
}
.order_for_goods ul{
	padding: .1rem 0;
}
.order_for_goods ul li{
	padding: 0 .1rem;
	font-size: .4rem;
	color: #4d4d4d;
	line-height: 1rem;
}
.order_for_goods h4{
	float: right;
	line-height: 1.666rem;
	font-size: .4rem;
	color: #4d4d4d;
}
.order_for_goods h4 span{
	color: #ff3a4b;
}
.order_for_goods h4 span i{
	font-size: .6rem;
}
/***************************************************************************/
.wuliu{
	position: relative;
	border-bottom: 1px solid #e6e6e6;
}
.wuliu img{
	width: .8rem;
	height: .733rem;
}
.wuliu span{
	position: absolute;
	top: .1rem;
	right: .4rem;
}
.wuliu span img{
	display: block;
	width: .4rem;
	height: .7rem;
}
footer{
	overflow: hidden;
	padding-right: .5rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
footer a{
	float: right;
	background-color: #ee5156;
	height: .833rem;
	line-height: .833rem;
	border: 1px solid #ee5156;
	font-size: .333rem;
	color: #fff;
	padding: 0 .5rem;
	border-radius: 3px;
	margin: .4rem .5rem .4rem .333rem;

}
footer a.goumai{
	background-color: #fff;
	border: 1px solid #ee5156;
	color: #ee5156;
	margin-right: 0;
}