body{
	background-color: #fff;
	padding-left: .5rem;
	box-sizing: border-box;
}
.anquan{
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
}
div img{
	height: .8rem;
	margin: .2rem 0;
	
}
ul{
	margin-top: .3rem;
}
ul li{
	padding: .3rem 0;
	border-bottom: 1px solid #e6e6e6;
}
ul li h3{
	font-size: .4rem;
	color: #999;
	line-height: .8rem;
}
ul li div{
	margin: 0 auto;
	width: 80%;
}
ul li div p{
	font-size: .4rem;
	line-height: 1.4rem;
}
ul li div p i{
	display: inline-block;
	width: 3rem;
	text-align: right;
}
ul li div p span{
	color: #999;
	margin: 0 .2rem;
}
ul li div p span.money{
	color: #ed3b3b;
	font-size: .6rem;
}
ul li div p input{
	width: 5rem;
	border: 1px solid #e6e6e6;
	margin: 0 .2rem;
	text-align: center;
	line-height: .8rem;
}
ul li a{
	display: block;
	width: 3.4rem;
	text-align: center;
	font-size: .4rem;
	color: #fff;
	background-color: #ed3b3b;
	border-radius: 4px;
	line-height: 1.4rem;
	margin: .3rem auto .5rem;
}
footer{
	padding: .5rem 1rem;
}
footer h3{
	color: #698729;
	font-size: .5rem;
	line-height: 1.4rem;
}
footer p{
	font-size: .3rem;
	color: #808080;
	line-height: .8rem;
}