<footer>
<?php if(CONTROLLER_NAME == "Index" && ACTION_NAME=="index"){?>
	<a href="<{:U('Index/index')}>" class="current">
<?php }else{?>
	<a href="<{:U('Index/index')}>">
<?php }?>
		<img class="yi" src="__PUBLIC__/Wap/images/index/home1.png" alt="">
		<img class="er" src="__PUBLIC__/Wap/images/index/home.png" alt="">
		<p>首页</p>
	</a>
<?php if(CONTROLLER_NAME == "Good" && ACTION_NAME=="specialsale"){?>
	<a href="<{:U('Good/specialsale')}>" class="current">
<?php }else{?>
	<a href="<{:U('Good/specialsale')}>">
<?php }?>
		<img class="yi" src="__PUBLIC__/Wap/images/index/dongdongqiang1.png" alt="">
		<img class="er" src="__PUBLIC__/Wap/images/index/dongdongqiang2.png" alt="">
		<p>咚咚抢</p>
	</a>
<?php if(CONTROLLER_NAME == "Good" && ACTION_NAME=="popularity"){?>
	<a href="<{:U('Good/popularity')}>" class="current">
<?php }else{?>
	<a href="<{:U('Good/popularity')}>">
<?php }?>
		<img class="yi" src="__PUBLIC__/Wap/images/index/chaojirenqi1.png" alt="">
		<img class="er" src="__PUBLIC__/Wap/images/index/chaojirenqi2.png" alt="">
		<p>超级人气</p>
	</a>
<?php if(CONTROLLER_NAME == "Good" && ACTION_NAME=="newgood"){?>
	<a href="<{:U('Good/newgood')}>" class="current">
<?php }else{?>
	<a href="<{:U('Good/newgood')}>">
<?php }?>
		<img class="yi" src="__PUBLIC__/Wap/images/index/xiaobianlitui1.png" alt="">
		<img class="er" src="__PUBLIC__/Wap/images/index/xiaobianlitui2.png" alt="">
		<p>小编力荐</p>
	</a>
</footer>