/*2016-5-28 ¶­Ã÷ ·ÖÒ³ÐÞ¸Ä*/
  
  .prevpage{
    display: block;
    float: left;
    width: 50px;
    height: 37px;
    margin-right: -1px;
    font-family: Arial;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    background: #f6f6f6;
    border-radius:  0px 5px 5px 0px;
    color: #aaa;
  }
  .nextpage{
    display: block;
    float: left;
    width: 50px;
    line-height: 37px;
    height: 37px;
    margin-right: -1px;
    color: #555;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background: #f6f6f6;
  }
  .endpage{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: -1px;
    color: #555;
    font-family: Arial;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    background: #f6f6f6;
    border-radius: 0px 5px 5px 0px;width: 60px;
  }
  .firstpage{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: -1px;
    font-family: Arial;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    background: #f6f6f6;
    border-radius: 5px 0px 0px 5px;
    color: #aaa;
    width: 60px;
  }
  .endpage:hover{
    text-decoration: none;
  }
  .firstpage:hover{
    text-decoration: none;
  }
  .prevpage:hover{
     text-decoration: none;
     color: #dd2726;
  }
  .nextpage:hover{
     text-decoration: none;
     color: #dd2726;
  }
  #pages div{
    overflow: hidden;
    text-align: center;
    width: 500px;
    margin: 20px auto;
  }
  #pages div a{
    border: 1px solid #e4e4e4;
    margin: 0 2px;
    line-height: 37px;
    height: 37px;
    border-radius: 4px;
    font-size: 12px;
    cursor:pointer;
  }
  #pages .curpprentpage{
   position: relative;
    color: #fff!important;
    cursor: default;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 ;
    font-family: Arial;
    background: #dd2726;
    float: left;
    font-size: 16px;
    width: 37px;
    text-align: center;
    line-height: 37px;
    height: 37px;
  }
  .numpage{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: -1px;
    color: #555;
    font-family: Arial;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    background: #f6f6f6;
  }
 .numpage:hover{
        text-decoration: none;
        color: #dd2726;
  }

  /*2016-5-28 ¶­Ã÷ ·ÖÒ³ÐÞ¸Ä*/