*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
li{
	list-style: none;
}
img{
	vertical-align:middle;
	border: 0;
}
a,button,input{
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
input{
	border: none;
	resize: none;
	outline: none;
	/*-webkit-appearance: none;*/
}
button{
	border: 0;
	outline: none;
}
i,em{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
table{
	border-collapse: collapse;
}
body{
	max-width: 768px;
	min-width: 320px;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding-top: 1.5rem;
}
.main{
	max-width: 768px;
	min-width: 320px;
	overflow: hidden;
	margin: 0 auto;
	box-sizing: border-box;
	height: 1.5rem;
}
.blank{
	height: .2rem;
	background-color: #f2f2f2;
}
header{
	overflow: hidden;
	padding: 0 .5rem;
	height: 1.466rem;
	box-sizing: border-box;
	position: relative;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
header img{
	float: left;
	height: .666rem;
	width: .4rem;
	margin-top: .4rem;
}
header h3{
	float: left;
	font-size: .6rem;
	color: #666;
	font-weight: normal;
	text-align: center;
	line-height: .6rem;
	position: absolute;
	top: .45rem;
	left: 50%;
	margin-left: -1.2rem;
}
.mask{
	z-index: 10000;
}