<!DOCTYPE>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="keywords" content="<?php echo $_SESSION['sc']['infor']['keywords']?>"></meta>
<meta name="description" content="<?php echo $_SESSION['sc']['infor']['description']?>"></meta>
<link rel="shortcut icon" href="/<?php echo $_SESSION['sc']['infor']['ico']?>" type="image/x-icon" /> 
  <meta name="renderer" content="webkit">
  <title>方大商城-商家登录</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/static/sz/css/ddt_iconfont.css"/>
  <link rel="stylesheet" href="__PUBLIC__/Home/static/sz/css/ddt_common.css"/>
  <link rel="stylesheet" href="__PUBLIC__/Home/static/sz/css/site_index_style.css"/>
</head>
<body>
  <div class="main_body login_tit">
    <a href="/">
      <img src="__ROOT__/<{$_SESSION['sc']['infor']['logo']}>" />
    </a>
    <span>欢迎商家登录</span>
  </div>
  <div class="login_box">
    <div class="main_body">
      <div class="login J_login">
        <div class="J_slide_box">
          <div class="hd">
            <ul class="login_tab">
              <li class="on">登录</li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="login_con bd">
            <form id="information">
              <div>
                <div class="login_group">
                 <input name="username" class="J_username login_input" type="text" placeholder="账号" datacol='yes' checkexpession='NotNull' err='账号'/>
                 
               </div>
               <div class="login_group">
                 <input class="login_input" name="password" type="password" placeholder="密码" datacol='yes' checkexpession='NotNull' err='密码'/>
               </div>
              <button type="button" class="login_btn" id="loginBtn" >登&nbsp;录</button>
              <div class="third_login">
                
              </div>
            </div>
            </form>
          </div>
      </div>
</div>
</div>
</div>
<div class="main_body login_footer">
  <div class="login_friend_link">
  </div>
  <p class="c_gray f12 mt10"><?php echo $_SESSION['sc']['infor']['copyright']?></p>
  <div class="login_xin"></div>
</div>
<script src="__PUBLIC__/Admin/javascripts/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/javascripts/layer/layer.js"></script>
<script src="__PUBLIC__/Admin/javascripts/JValidator.js"></script>
<script>
//按回车键执行下一步操作(按回车登录)
      $(document).keydown(function(event){ 
       if(event.keyCode == 13){
        $("#loginBtn").trigger("click");
      }
     }); 
$("#loginBtn").click(function(){
    if(CheckDataValid("#information")){
      var url = "<{:U('Mlogin/dolog')}>";
      var information = new FormData($('#information')[0]);
      $.ajax({
          type : 'post',
          url : url,
          data : information,
          async : false,
          processData:false,
          contentType:false,
          error : function () {
              layer.msg('网络故障，请稍后重试!',{offset: '300px',time: 1500,icon: 7});
          },
          success : function (responses) {
              if (responses == 'ok'){
                  layer.msg('登录成功',{offset: '300px',time: 1500,icon: 1},function () {
                     window.location.href = "<{:U('Merchant/merchant')}>";
                  });
              }else{
                  layer.msg(responses,{offset: '300px',time: 2000,icon: 2});
              }
          }
      });
    }
})
</script>
</body>
</html>
