body{
	padding: 1.5rem 0 1.7rem 0;
	background-color: #f5f5f5;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
}
.header .main{
	padding: .2rem .466rem;
	background: rgba(0,0,0,0);
	position: relative;
	overflow: hidden;
}
.header .main a{
	width: 1rem;
	height: 1.1rem;
}
.header .main .car{
	float: left;
}
.header .main .classify{
	float: right;
}
.header .main a.car img{
	display: block;
	width: .733rem;
	height: .733rem;
	margin: .15rem auto;
}
.header .main .classify img{
	display: block;
	width: .733rem;
	height: .733rem;
	margin: .15rem 1rem .15rem 0;
}
.header p{
	color: #666;
	line-height: 1.5rem;
	font-size: .566rem;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1.2rem;
}
ul{
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	background-color: #fff;
}
ul li{
	float: left;
	width: 50%;
	box-sizing: border-box;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}
ul li img{
	display: block;
	width: 100%;
	height: 6.25rem;
}
ul li div{
	padding: 0 .366rem;
	overflow: hidden;
}
ul li h3{
	font-size: .433rem;
	color: #4d4d4d;
	line-height: .7rem;
	margin-top: .166rem;
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
}
ul li h4,
ul li h5{
	font-size: .3rem;
	color: #b3b3b3;
	line-height: .8rem;
}
ul li h4 span,
ul li h5 span{
	color: #ff2c5d;
}
ul li h4 span i,
ul li h5 span i{
	font-size: .5rem;
}
ul li h5{
	float: left;
}
ul li div p{
	float: right;
	color: #b3b3b3;
	font-size: .366rem;
	line-height: .8rem;
}
ul li em{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1.216rem;
	height: 1.35rem;
	background: url(../../images/xinpin/xinpin3.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	line-height: 1.3rem;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	overflow: hidden;
}
footer a{
	float: left;
	width: 25%;
	padding-top: 0.266rem;
}
footer a img.yi{
	display: block;
	margin: 0 auto;
	width: .7rem;
	height: .7rem;
}
footer a img.er{
	display: block;
	margin: 0 auto;
	width: .7rem;
	height: .7rem;
	display: none;
}
footer a p{
	font-size: .3rem;
	color: #b3b3b3;
	text-align: center;
	line-height: 0.733rem;
}
footer a.current .yi{
	display: none;
}
footer a.current .er{
	display: block;
}
footer a.current p{
	color: #ff1b2f;
}