ul{
	padding-top: .333rem;
}
ul li{
	overflow: hidden;
	background-color: #fff;
	padding-left: .4rem;
	border-bottom: 1px solid #e5e5e5;
}
.no_border{
	border: 0;
}
ul li h3{
	float: left;
	width: 2.5rem;
	font-size: .433rem;
	color: #333;
	line-height: 1.64rem;
	margin-right: 1rem;
}
ul li input{
	float: left;
	width: 5.5rem;
	line-height: 1.64rem;
	font-size: .433rem;
	border: 0;
}
ul li.first{
	border-top: 1px solid #e5e5e5;
}
ul li:last-child{
	border-top: 1px solid #d6d7dc;
	border-bottom: 1px solid #d6d7dc;
	margin-top: .666rem;
	height: 1.466rem;
	padding: 0;
}
ul li button{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #ff3a4b;
	font-size: .5rem;
}
ul li span{
	float: left;
	color: #fa3232;
	font-size: .433rem;
	line-height: 1rem;
	padding-left: .3rem;
	border-left: 1px solid #e5e5e5;
	margin-top: .32rem;
}
