header{
	background-color: #fff;
}
.seach{
	width: 70%;
	height: 1.1rem;
	position: absolute;
	top: .2rem;
	left: 50%;
	margin-left: -36%;
	border-radius: .55rem;
	padding: 0 .5rem;
	box-sizing: border-box;
	background: #f5f5f5 url(../../images/index/search.png) no-repeat right center;
	background-size: .7rem;
	background-origin: content-box;
	font-size: .4rem;
	border: 1px solid #e6e6e6;
}
header a.car{
	float: right;
	position: relative;
	display: block;
	width: .733rem;
	height: .733rem;
}
header a.car img{
	display: block;
	width: 100%;
	height: 100%;
}
header a.car span{
	width: .5rem;
	height: .5rem;
	background-color: #ff3333;
	font-size: .3rem;
	line-height: .5rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	top: .1rem;
	right: -.2rem;
}
.classify{
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
}
.classify .nav ul li p{
	color: #4d4d4d;
	font-size: .433rem;
	line-height: 1.333rem;
	margin-left: .7rem;
}

.classify .nav ul li.active p{
	color: #ff1b2f;
}
.classify .product{
	width: 72%;
	overflow-y: auto;
	float: right;
}
.product ul{
	overflow: hidden;
	display: none;
}
.product ul.current{
	display: block;
}
.product ul li{
	float: left;
	width: 33.33%;
	margin-top: .4rem;
}
.product ul li h3{
	width: 1.5rem;
	height: 1.5rem;
	background-color: #fff;
	border-radius: 50%;
	padding-top: .4rem;
	box-sizing: border-box;
	margin: 0 auto;
}
.product ul li h3 img{
	display: block;
	width: .75rem;
	height: .733rem;
	margin: 0 auto;
}
.product ul li p{
	color: #4d4d4d;
	font-size: .333rem;
	text-align: center;
	line-height: .7rem;
}