*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
button{
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
a{
	text-decoration: none;
}
.inner{
	width: 1210px;
	margin: 0 auto;
	overflow: hidden;
}
body{
	background-color: #f5f5f5;
}
.balance_title h3{
	font-size: 16px;
	color: #666;
	line-height: 42px;
}
.balance_title h3 a{
	font-size: 16px;
	line-height: 42px;
}
.top_up{
	width: 247px;
	background-color: #f0f0f0;
	border: 1px solid #e6e6e6;
	padding: 0 15px;
	float: left;
}
.top_up .title{
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	padding-left: 56px;
}
.top_up .title img{
	width: 40px;
	height: 40px;
	float: left;
	margin: 21px 14px 21px 0;
}
.top_up .title p{
	line-height: 82px;
	font-size: 20px;
	color: #666;
	font-weight: bold;
}
.top_up ul{
	padding-left: 20px;
}
.top_up ul li{
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	margin: 9px 0;
}
.top_up h4{
	font-size: 16px;
	line-height: 18px;
	color: #898989;
	text-align: center;
	background: url(images/xuanze2.png) no-repeat 32px 0px;
	-webkit-background-size: 18px;
	background-size: 18px;
	margin: 34px 0 20px 0;
}
.top_up h4 a{
	margin-left: 6px;
}
.safety{
	width: 880px;
	float: right;
	background-color: #fff;
	border: 1px solid #ededed;
	padding: 0 20px;
}
.safety .safety_tit{
	border-bottom: 1px solid #d8d8d8;
	padding-left: 10px;
}
.safety .safety_tit img{
	margin: 24px 0 12px 0;
	width: 203px;
	height: 28px;
}
.safety ul{
	list-style: none;
	padding: 40px 0 50px 0;
	border-bottom: 1px solid #e6e6e6;
}
.safety ul li{
	overflow: hidden;
}
.safety ul li h3{
	float: left;
	font-size: 16px;
	color: #999;
	line-height: 40px;
	width: 96px;
	text-align: right;
	margin-right: 30px;
}
.safety ul li div{
	float: left;
	overflow: hidden;
	width: 410px;
}
.safety ul li div p,
.safety ul li div input{
	float: left;
	width: 118px;
	height: 38px;
	border: 1px solid #d4d4d4;
	color: #4d4d4d;
	font-weight: bold;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	margin: 0 14px 14px 0;
	cursor: pointer;
}
.safety ul li div input{
	font-weight: normal;
	outline-style: none;
	cursor: text;
}
.safety ul li div p.current{
	border: 0;
	width: 120px;
	height: 40px;
	background: url(images/xuanzhong2.png) no-repeat;
}
.safety ul li i{
	font-style: normal;
}
.safety ul li span{
	font-size: 20px;
	color: #f55353;
	line-height: 40px;
}
.safety ul li button{
	width: 120px;
	height: 46px;
	font-size: 16px;
	color: #fff;
	line-height: 46px;
	text-align: center;
	background-color: #ed3b3b;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	margin: 30px 0 0 126px;
}
.warm_prompt{
	padding: 30px 0 114px 0;
}
.warm_prompt h3{
	padding-left: 40px;
	background: url(images/tishi.png) no-repeat 10px 0px;
	-webkit-background-size: 22px 22px;
	background-size: 22px 22px;
	font-size: 16px;
	color: #698729;
	line-height: 22px;
	margin-bottom: 13px;
}
.warm_prompt p{
	font-size: 14px;
	color: #808080;
	line-height: 30px;
	padding-left: 38px;
}
.balance_footer{
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: #333;
	text-align: center;
	font-size: 12px;
	color: #707e8c;
	position: fixed;
	bottom: 0;
	left: 0;
}