*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
li{
	list-style: none;
}
img{
	vertical-align:middle;
	border: 0;
}
a{
	text-decoration: none;
	color: #2652a5;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
input,button{
	border: none;
	resize: none;
	outline: none;
	-webkit-appearance: none;
}
body{
	background-color: #fff;
}
table{
	border-collapse: collapse;
}
.inner{
	width: 1200px;
	margin: 0 auto;
}
.deal_header{
	overflow: hidden;
	padding-top: 14px;
}
.deal_header p{
	float: left;
	font-size: 14px;
	color: #393939;
	line-height: 16px;
}
.deal_header a{
	float: left;
	font-size: 14px;
	line-height: 16px;
}
.deal_header a span{
	color: #a2a2a2;
	margin-right: 2px;
}
.deal_content .schedule{
	overflow: hidden;
	margin: 20px 0;
	border-radius: 5px;
}
.deal_content .schedule li{
	float: left;
	width: 25%;
	font-size: 16px;
	line-height: 26px;
	background-color: #fde3b5;
	color: #d42129;
	text-align: center;
	position: relative;
}
.deal_content .schedule li::after{
	content: "";
	display: block;
	width: 26px;
	height: 26px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	transform:rotate(45deg);
	position: absolute;
	top: -1px;
	right: -21px;
	z-index: 999;
	background-color: #fde3b5;
}
.deal_content .schedule li.current{
	background-color: #d42129;
	color: #fff;
}
.deal_content .schedule li.current::after{
	background-color: #d42129;
}
.order_information{
	border: 1px solid #ddd;
	border-left: none;
	overflow: hidden;
}
.order_info{
	float: left;
	width: 300px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.order_info h3{
	line-height: 30px;
	padding-left: 10px;
	background-color: #eee;
}
.order_info ul{
	border-top: 1px solid #ddd;
	padding: 0 10px 18px 20px;
}
.order_info ul li{
	font-size: 14px;
	color: #000;
	line-height: 20px;
	margin-top: 8px;
	overflow: hidden;
}
.order_info ul li p{
	float: left;
}
.order_info ul li span{
	float: left;
	width: 160px;
}
.order_info ul li a{
	float: right;
	font-size: 14px;
	color: #666;
}
.state{
	float: left;
	width: 400px;
	padding: 50px 0 0 40px;
	overflow: hidden;
}
.state img{
	float: left;
	margin-right: 20px;
	width: 32px;
	height: 32px;
}
.state h3{
	float: left;
	font-size: 16px;
	line-height: 32px;
	color: #3d4245;
	font-weight: bold;
	margin-bottom: 40px;
}
.state p{
	float: left;
	color: #3d4245;
	font-size: 12px;
	padding-left: 54px;
}
.state p a{
	margin-left: 14px;
}
.table table{
	width: 100%;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}
.table table tr, 
.table table td{
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
}
.table table th{
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	color: #393939;
}
.table table td{
	line-height: 33px;
	color: #393939;
	font-size: 14px;
	padding: 14px 0;
}
.table table td div{
	overflow: hidden;
}
.table table td div p{
	float: left;
	color: #666;
	font-size: 14px;
	padding-left: 108px;
	line-height: 14px;
}
.table table td div p span{
	color: #949494;
}
.table table td img{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #eee;
	margin:  0 32px 0 24px;
}
.table table td a{
	float: left;
	display: block;
	width: 286px;
	font-size: 14px;
	line-height: 20px;
	margin-right: 10px;
	text-align: left;
}
.table table td h3,
.table table td h4,
.table table td h5,
.table table td h6{
	display: inline-block;
	width: 140px;
}
.table table td h6{
	width: 200px;
}
.table{
	margin: 20px 0;
}
.product_info{
	background-color: #f3f3f3;
	margin-bottom: 20px;
	overflow: hidden;
}
.product_info ul{
	float: right;
	padding: 22px 60px 22px 0;
}
.product_info ul li{
	overflow: hidden;
}
.product_info ul li p,
.product_info ul li a,
.product_info ul li h3{
	float: left;
	font-size: 12px;
	color: #666;
	line-height: 24px;
	text-align: right;
	width: 200px;
	margin-right: 80px;
}
.product_info ul li span{
	float: right;
	font-size: 12px;
	color: #666;
	line-height: 24px;
}
.product_info ul li a{
	color: #2652a5;
}
.product_info ul li h3{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	/*line-height: 40px;*/
}
.product_info ul li i{
	float: right;
	/*line-height: 40px;*/
	font-weight: bold;
	font-size: 12px;
}
.product_info ul li em{
	float: right;
	/*line-height: 40px;*/
	font-weight: bold;
	font-size: 14px;
	color: #dd2d3a;
}
.best_seller{
	border: 1px solid #e2e2e2;
	margin: 10px 0 30px 0;
}
.best_seller h3{
	font-size: 16px;
	color: #393939;
	line-height: 30px;
	padding: 0 30px;
	font-weight: bold;
	border-bottom: 1px solid #e2e2e2;
}
.best_seller ul{
	padding: 10px 0;
	overflow: hidden;
}
.best_seller ul li{
	float: left;
	width: 287px;
	margin: 0 0 10px 8px;
	border: 1px solid #e2e2e2;
}
.best_seller ul li img{
	display: block;
	width: 100%;
	height: 220px;
}
.best_seller ul li div{
	font-size: 16px;
	color: #fa3b1c;
	line-height: 16px;
	margin: 10px 0 0 0;
	font-weight: bold;
	padding: 0 10px;
}
.best_seller ul li div i{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
}
.best_seller ul li div s{
	color: #a2a2a2;
	font-size: 12px;
	font-weight: normal;
	display: block;
	padding-bottom: 6px;
}
.best_seller ul li h4{
	float: right;
	font-weight: bold;
}
.best_seller ul li h5{
	font-size: 14px;
	color: #5d5d5d;
	padding: 0 10px;
	line-height: 18px;
	padding-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.best_seller ul li div{
	overflow: hidden;
	padding: 0 10px;
}
.best_seller ul li div span{
	float: right;
	padding: 0 5px;
	line-height: 38px;
	font-size: 14px;
	color: #919191;
	text-align: right;
}
.best_seller ul li div span.remai{
	float: left;
	color: #e70039;
	border: 1px solid #e70039;
	line-height: 18px;
	text-align: center;
	border-radius: 2px;
	margin-top: 10px;
}
.best_seller ul li p{
	height: 61px;
	background-color: #fef7e3;
	margin: 0 10px 10px 10px;
	padding: 0 10px;
	font-size: 14px;
	color: #5d5d5d;
	line-height: 20px;
	padding-top: 5px;
}
/***********************************************************************************************************/
.order_info_con{
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.order_info_con ul{
	border-top: 1px solid #ddd;
	padding: 10px 10px 18px 20px;
}
.order_info_con ul li{
	color: #000;
	line-height: 20px;
	overflow: hidden;
}
.order_info_con ul li p{
	float: left;
	font-size: 12px;
}
.order_info_con ul li span{
	float: left;
	font-size: 12px;
}
.order_info_con ul li a{
	float: right;
	font-size: 14px;
	color: #666;
}
.pay_password{
	border: 1px solid #f58b0f;
	padding: 30px 80px;
	height: 700px;
	margin-bottom: 20px;
}
.pay_password ul li{
	font-size: 14px;
	line-height: 30px;
	color: #f00000;
	padding-left: 20px;
	position: relative;
}
.pay_password ul li:before{
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	background-color: #f00000;
	position: absolute;
	top: 12px;
	left: 0;
	border-radius: 50%;
}
.pay_password ul li.last{
	color: #000;
}
.pay_password ul li.last:before{
	background-color: #000;
}
.pay_password_con{
	overflow: hidden;
}
.pay_password_con h3{
	line-height: 60px;
	color: #000;
	font-size: 12px;
	padding-left: 150px;
	overflow: hidden;
}
.pay_password_con h3 img{
	float: left;
	margin: 24px 5px 0 0;
}
.pay_password_con h4{
	float: left;
	line-height: 30px;
}
.pay_password_con a{
	float: left;
	margin-left: 10px;
	display: block;
	line-height: 30px;
}
.pay_password_con p{
	font-size: 12px;
	color: #b2b2b2;
	line-height: 30px;
	float: left;
	width: 1088px;
	padding-left: 112px;
}
.pay_password_con button{
	float: left;
	width: 60px;
	height: 30px;
	background-color: #cd5353;
	border: 1px solid #e50909;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	margin: 10px 0 0 112px;
	cursor: pointer;
}
.alieditContainer {
	float: left;
    position: relative;
    margin-bottom: 4px;
}

.alieditContainer .i-text {
    position: absolute;
    color: #fff;
    opacity: 0.2;
    width: 183px;
    height: 28px;
    font-size: 12px;
    left: 0;
    -webkit-user-select: initial;
    z-index: 9;
    border-radius: 5px;
    padding: 0;
}

.alieditContainer .sixDigitPassword {
    width: 185px;
    height: 22px;
    cursor: text;
    background: #fff;
    outline: none;
    position: relative;
    padding: 4px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.alieditContainer .sixDigitPassword i {
    width: 30px;
    height: 16px;
    float: left;
    display: block;
    padding: 4px 0;
    border-left: 1px solid #cccccc;
}

.alieditContainer .sixDigitPassword i:first-child {
    border-left: 0;
}

.alieditContainer .sixDigitPassword i.active {
    background-image: url("https://t.alipayobjects.com/images/rmsweb/T1nYJhXalXXXXXXXXX.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.alieditContainer .sixDigitPassword b {
    display: block;
    margin: 5px auto 4px auto;
    width: 7px;
    height: 7px;
    overflow: hidden;
    display: none;
    background: #000;
    border-radius: 100%;
}