<div class="left-sidebar">
    <div class="left-sidebar-header">
        <div class="left-sidebar-title">管理中心</div>
        <div class="left-sidebar-toggle c-hamburger c-hamburger--htla hidden-xs" data-toggle-class="left-sidebar-collapsed" data-target="html">
            <span></span>
        </div>
    </div>
    <div id="left-nav" class="nano">
        <div class="nano-content">
            <nav>
                <ul class="nav" id="main-nav">
                    <?php
                      if(ACTION_NAME=="index") {echo '<li class="active-item">';}                    
                      else {echo '<li>';}
                    ?>
                      <a href="<{:U('Index/index')}>"><i class="fa fa-home" aria-hidden="true"></i><span>首页</span></a>
                    </li>
                  <if condition="stripos($_SESSION['ad']['auth'],'all') nheq false">
                    <?php
                      if(CONTROLLER_NAME=="Basic") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-bars" aria-hidden="true"></i><span>基本设置</span></a>
                        <ul class="nav child-nav level-1">
                            <?php
                              if(ACTION_NAME=="infor") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Basic/infor')}>">基本信息管理</a>
                            </li>
                            <!-- <li class="has-child-item close-item">
                                <a>支付管理</a>
                                <ul class="nav child-nav level-2 ">
                                    <li><a href="">微信</a></li>
                                    <li><a href="">支付宝</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME=="Admin") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-pie-chart" aria-hidden="true"></i><span>管理设置</span></a>
                        <ul class="nav child-nav level-1">
                            <!-- <li><a href="#">权限管理</a></li> -->
                            <?php
                              if(ACTION_NAME=="admin") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Admin/admin')}>">管理员管理</a>
                            </li>
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME=="Article") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-columns" aria-hidden="true"></i><span>文章设置</span></a>
                        <ul class="nav child-nav level-1">
                            <?php
                              if(ACTION_NAME=="menu") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Article/menu')}>">分类管理</a>
                            </li>
                            <?php
                              if(ACTION_NAME=="article") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Article/article')}>">文章管理</a>
                            </li>
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "Banner") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-image" aria-hidden="true"></i><span>轮播设置</span></a>
                        <ul class="nav child-nav level-1">
                            <li class="active-item"><a href="<{:U('Banner/ban')}>">轮播管理</a></li>
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "Good") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-cubes" aria-hidden="true"></i><span>商品设置</span></a>
                        <ul class="nav child-nav level-1">
                            <?php
                              if(ACTION_NAME=="goods_cate_list") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Good/goods_cate_list')}>">分类管理</a>
                            </li>
                            <?php
                              if(ACTION_NAME=="goods_list") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Good/goods_list')}>">商品管理</a>
                            </li>
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "User") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-user" aria-hidden="true"></i><span>会员设置</span></a>
                        <ul class="nav child-nav level-1">
                            <?php
                              if(ACTION_NAME=="user") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('User/user')}>">会员管理</a>
                            </li>
                            <?php
                              if(ACTION_NAME=="address") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('User/address')}>">地址管理</a>
                            </li>
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "Merchant") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-magic" aria-hidden="true"></i>
                            <span>商家设置</span>
                        </a>
                        <ul class="nav child-nav level-1">
                            <li class="active-item"><a href="<{:U('Merchant/merchant')}>" >商家管理</a></li>  
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "Bao") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            <span>套包设置</span>
                        </a>
                        <ul class="nav child-nav level-1">
                            <li class="active-item"><a href="<{:U('Bao/baolist')}>" >套包管理</a></li>  
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "Packet") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            <span>提现设置</span>
                        </a>
                        <ul class="nav child-nav level-1">
                            <?php
                              if(ACTION_NAME=="chu") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Packet/chu')}>" >提现初审</a>
                            </li>
                            <?php
                              if(ACTION_NAME=="shen") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Packet/shen')}>" >提现审核</a>
                            </li> 
                            <?php
                              if(ACTION_NAME=="log") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Packet/log')}>" >提现记录</a>
                            </li> 
                        </ul>
                    </li>
                    <?php
                      if(CONTROLLER_NAME == "Statistics") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span>数据统计</span>
                        </a>
                        <ul class="nav child-nav level-1">
                            <?php
                              if(ACTION_NAME=="tilog") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Statistics/tilog')}>" >提现统计</a>
                            </li>
                            <?php
                              if(ACTION_NAME=="transfer") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Statistics/transfer')}>" >转账统计</a>
                            </li> 
                            <?php
                              if(ACTION_NAME=="bill") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Statistics/bill')}>" >财务统计</a>
                            </li> 
                        </ul>
                    </li>
                  <else />
                  <if condition="stripos($_SESSION['ad']['auth'],'Basic') nheq false">
                    <?php
                      if(CONTROLLER_NAME=="Basic") {echo '<li class="has-child-item open-item" style="display:none;">';}                    
                      else {echo '<li class="has-child-item close-item"  style="display:none;">';}
                    ?>
                        <a><i class="fa fa-bars" aria-hidden="true"></i><span>基本设置</span></a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Basic_infor') nheq false">
                            <?php
                              if(ACTION_NAME=="infor") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Basic/infor')}>">基本信息管理</a>
                            </li>
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Basic') nheq false">
                    <?php
                      if(CONTROLLER_NAME=="Basic") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-bars" aria-hidden="true"></i><span>基本设置</span></a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Basic_infor') nheq false">
                            <?php
                              if(ACTION_NAME=="infor") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Basic/infor')}>">基本信息管理</a>
                            </li>
                          </if>
                            <!-- <li class="has-child-item close-item">
                                <a>支付管理</a>
                                <ul class="nav child-nav level-2 ">
                                    <li><a href="">微信</a></li>
                                    <li><a href="">支付宝</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Article') nheq false">
                    <?php
                      if(CONTROLLER_NAME=="Article") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-columns" aria-hidden="true"></i><span>文章设置</span></a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Article_menu') nheq false">
                            <?php
                              if(ACTION_NAME=="menu") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Article/menu')}>">分类管理</a>
                            </li>
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'Article_article') nheq false">
                            <?php
                              if(ACTION_NAME=="article") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Article/article')}>">文章管理</a>
                            </li>
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Banner') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "Banner") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-image" aria-hidden="true"></i><span>轮播设置</span></a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Banner_ban') nheq false">
                            <li class="active-item"><a href="<{:U('Banner/ban')}>">轮播管理</a></li>
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Good') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "Good") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-cubes" aria-hidden="true"></i><span>商品设置</span></a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Good_goods_cate_list') nheq false">
                            <?php
                              if(ACTION_NAME=="goods_cate_list") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Good/goods_cate_list')}>">分类管理</a>
                            </li>
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'Good_goods_list') nheq false">
                            <?php
                              if(ACTION_NAME=="goods_list") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('Good/goods_list')}>">商品管理</a>
                            </li>
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'User') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "User") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a><i class="fa fa-user" aria-hidden="true"></i><span>会员设置</span></a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'User_user') nheq false">
                            <?php
                              if(ACTION_NAME=="user") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('User/user')}>">会员管理</a>
                            </li>
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'User_address') nheq false">
                            <?php
                              if(ACTION_NAME=="address") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                                <a href="<{:U('User/address')}>">地址管理</a>
                            </li>
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Merchant') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "Merchant") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-magic" aria-hidden="true"></i>
                            <span>商家设置</span>
                        </a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Merchant_merchant') nheq false">
                            <li class="active-item"><a href="<{:U('Merchant/merchant')}>" >商家管理</a></li>  
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Bao') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "Bao") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            <span>套包设置</span>
                        </a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Bao_baolist') nheq false">
                            <li class="active-item"><a href="<{:U('Bao/baolist')}>" >套包管理</a></li> 
                          </if> 
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Packet') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "Packet") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            <span>提现设置</span>
                        </a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Packet_chu') nheq false">
                            <?php
                              if(ACTION_NAME=="chu") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Packet/chu')}>" >提现初审</a>
                            </li>
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'Packet_shen') nheq false">
                            <?php
                              if(ACTION_NAME=="shen") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Packet/shen')}>" >提现审核</a>
                            </li> 
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'Packet_log') nheq false">
                            <?php
                              if(ACTION_NAME=="log") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Packet/log')}>" >提现记录</a>
                            </li> 
                          </if>
                        </ul>
                    </li>
                  </if>
                  <if condition="stripos($_SESSION['ad']['auth'],'Statistics') nheq false">
                    <?php
                      if(CONTROLLER_NAME == "Statistics") {echo '<li class="has-child-item open-item">';}                    
                      else {echo '<li class="has-child-item close-item">';}
                    ?>
                        <a>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span>数据统计</span>
                        </a>
                        <ul class="nav child-nav level-1">
                          <if condition="stripos($_SESSION['ad']['auth'],'Statistics_tilog') nheq false">
                            <?php
                              if(ACTION_NAME=="tilog") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Statistics/tilog')}>" >提现统计</a>
                            </li>
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'Statistics_transfer') nheq false">
                            <?php
                              if(ACTION_NAME=="transfer") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Statistics/transfer')}>" >转账统计</a>
                            </li> 
                          </if>
                          <if condition="stripos($_SESSION['ad']['auth'],'Statistics_bill') nheq false">
                            <?php
                              if(ACTION_NAME=="bill") {echo '<li class="active-item">';}                    
                              else {echo '<li>';}
                            ?>
                              <a href="<{:U('Statistics/bill')}>" >财务统计</a>
                            </li> 
                          </if>
                        </ul>
                    </li>
                  </if>
                  </if>
                </ul>
            </nav>
        </div>
    </div>
</div>