
<!DOCTYPE html>
<html>
<head lang="en">
<meta name="keywords" content="一元云购，云购，云购全球，一元夺宝，夺宝"/>
<meta name="description" content="本篇网页的概述，一段话，对网站的进一步描述"/>
<meta name="author" content="网页作者的资料">
<meta name="robots" content=""/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta name="renderer" content="webkit">
<title>云购全球， 独角兽 </title>
<link rel="stylesheet" href="__PUBLIC__/Home/static/zt/buymember/css/style.css"/>
</head>
<body>
<div class="header">
<div class="header_con">
<a href="/" class="b_logo"><img src="__PUBLIC__/Home/static/zt/buymember/images/logo.png"></a>
<a href="/" class="a">&lt;&lt;返回首页</a>
</div>
</div>
<!--E头部-->
<input type="hidden" id="priceIndexId" value="0">
<div class="p1"></div>
<div class="p2"></div>
<div class="p3"></div>
<div class="p4"></div>
<div class="p5"></div>
<div class="footer">
<div class="p6"></div>
<table class="tab">
<tbody><tr class="firstTr">
<th>会员等级</th>
<th>会员价格（元）</th>
<th>股权说明（赠予）</th>
<th>会员服务</th>
</tr>
<tr><th>银牌会员</th><th>2000</th><th>每股5元，总计400股</th><th>充值折扣，享受9.9折优惠；3次免费抽奖机会</th></tr><tr><th>金牌会员</th><th>10000</th><th>每股5元，总计2000股</th><th>充值折扣，享受9.8折优惠；20次免费抽奖机会</th></tr><tr><th>铂金会员</th><th>50000</th><th>每股5元，总计10000股</th><th>充值折扣，享受9.7折优惠；100次免费抽奖机会</th></tr><tr><th>钻石会员</th><th>100000</th><th>每股5元，总计20000股</th><th>充值折扣，享受9.6折优惠；250次免费抽奖机会</th></tr><tr><th>皇冠会员</th><th>500000</th><th>每股5元，总计100000股</th><th>充值折扣，享受9.5折优惠；1300次免费抽奖机会</th></tr><tr class="lastTr"><th colspan="4"><span class="bz">备注：</span><span>如2018年底之前成功挂牌或上市，则虚拟股权需在中国法律框架允许前提下依托持股平台予以代持。</span><p class="redColor">如云购全球在2018年底前未能成功在“新三板”挂牌，会员可于2019年1月1日起向云购全球申请退款。</p><p class="redColor">退款标准按：会员持有股数×每股6元给予退还，退款后会员身份及所持有的虚拟股权自动失效。</p><p>会员可以在2016年12月31日前一次性购买或多次购买会员服务升级会员等级，最高可升到皇冠级，会员服务及获赠的虚拟股权按照会员等级叠加计算。还可免费抽奖，100%中奖！</p></th></tr></tbody></table>
<div class="p7"></div>
</div>
<div class="p8">
<div class="btnBox">
<a class="rg" href="javascript:void 0"></a>
<a class="cj" href="/static/zt/buymember/cj.htm"></a>
</div>
</div>
<div class="suspension">
<div class="suspension_DV">
<img class="close" src="__PUBLIC__/Home/static/zt/buymember/images/close.png" alt=""/>
<p class="tit">会员购买</p>
<div class="numBox">
<img class="reduce" src="__PUBLIC__/Home/static/zt/buymember/images/reduce.png" alt=""/>
<input maxlength="6" value="2000" class="num" id="inputMoney" type="text" readonly="readonly"/>
<img class="plus" src="__PUBLIC__/Home/static/zt/buymember/images/plus.png" alt=""/>
</div>
<p class="buyText">购买会员</p>
<div class="VipList">
</div>
<form method="post" action="/member/recharge/vipOrder.do" id="payFormId">
<input type="hidden" name="money" id="money" value="2000">
<input type="hidden" name="levelName" id="levelName" value="银牌会员">
<p class="payMoney">共<i id="total">2000</i>元</p>
<span class="Pay">立即支付</span>
<p class="tips"></p>
</form>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/min.js/js/common.min.js"></script>
<script src="__PUBLIC__/Home/static/new/plugin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/static/zt/buymember/js/buymemberIndex.js"></script>
</body>
</html>